
<clickhouse>
    <http_handlers>
        <rule>
            <methods>GET</methods>
            <headers><XXX>xxx</XXX></headers>
            <url>/test_predefined_handler_get</url>
            <handler>
                <type>predefined_query_handler</type>
                <query>SELECT name, value FROM system.settings WHERE name = {setting_name:String}</query>
            </handler>
        </rule>
        <rule>
            <url><![CDATA[regex:/query_param_with_url/(?P<setting_name_1>[^/]+)]]></url>
            <headers>
                <XXX><![CDATA[regex:(?P<setting_name_2>.+)]]></XXX>
            </headers>
            <handler>
                <type>predefined_query_handler</type>
                <query>SELECT name, value FROM system.settings WHERE name = {setting_name_1:String} OR name = {setting_name_2:String}</query>
                <content_type>application/generic+one</content_type>
                <http_response_headers>
                  <X-Test-Http-Response-Headers-Works>it works</X-Test-Http-Response-Headers-Works>
                  <X-Test-Http-Response-Headers-Even-Multiple>also works</X-Test-Http-Response-Headers-Even-Multiple>
                </http_response_headers>
            </handler>
        </rule>
        <rule>
            <methods>POST</methods>
            <url>/test_predefined_handler_post_body</url>
            <handler>
                <type>predefined_query_handler</type>
                <query>INSERT INTO test_table(id, data) SELECT {id:UInt32}, {_request_body:String}</query>
            </handler>
        </rule>

        <rule>
            <methods>GET</methods>
            <url>/test_predefined_handler_auth_with_password</url>
            <handler>
                <type>predefined_query_handler</type>
                <user>with_password</user>
                <password>password</password>
                <query>SELECT currentUser()</query>
            </handler>
        </rule>
        <rule>
            <methods>GET</methods>
            <url>/test_predefined_handler_auth_with_password_fail</url>
            <handler>
                <type>predefined_query_handler</type>
                <user>with_password</user>
                <!-- No password - authentication should fail -->
                <query>SELECT currentUser()</query>
            </handler>
        </rule>
        <rule>
            <methods>GET</methods>
            <url>/test_predefined_handler_auth_without_password</url>
            <handler>
                <type>predefined_query_handler</type>
                <user>without_password</user>
                <query>SELECT currentUser()</query>
            </handler>
        </rule>
    </http_handlers>
</clickhouse>
