#main {
	padding-bottom: 0;
	padding-top: 0;
}

#wrapper {
	max-width: 1078px;
	padding: 0;
}

body > #wrapper > #main > #wrapper > #logo,
body > #wrapper > #main > #wrapper > h1,
body > #wrapper > #main > #wrapper > #content {
	display: none;
}

body > #wrapper > #main > #wrapper > #board_title {
	margin-top: 0;
}

body > #wrapper > #main > #logo {
	margin-top: 80px;
}

body > #wrapper > #main > :last-child {
	margin-bottom: 120px;
}
