.bg-gradient-secondary {
	background-image: linear-gradient(58deg, #FF6443 3%, #FE561D 24%, #E32F0D 93%);
}

.bg-gradient-light-orange {
	background-image: linear-gradient(90deg, rgba(#FFCB80, 0) 0%, #FFCB80 100%);
}

.bg-offset-right {
	bottom: 0;
	left: -24px;
	position: absolute;
	top: 0;
	width: calc(100vw + 24px);
	z-index: -1;

	@media screen and (min-width: 1240px) {
		left: -96px;
		width: calc(100vw + 96px);
	}
}

.bg-inset-right {
	bottom: 0;
	left: 40px;
	position: absolute;
	top: 0;
	width: calc(100vw - 40px);
	z-index: -1;

	@media screen and (min-width: 980px) {
		left: 96px;
		width: calc(100vw - 96px);
	}
}
