.bg-gradient-secondary {
	background-image: linear-gradient(58deg, #FF6443 3%, #FE561D 24%, #E32F0D 93%);
}

.bg-offset-right {
	bottom: 40px;
	left: 96px;
	position: absolute;
	top: 40px;
	width: 100vw;
}
