<clickhouse>
    <listen_host>::</listen_host>
    <tcp_port>9000</tcp_port>
    <http_port>8123</http_port>

    <logger>
        <level>trace</level>
        <size>never</size>
    </logger>
    <user_directories>
        <users_xml>
            <!-- Path to configuration file with predefined users. -->
            <path>users.xml</path>
        </users_xml>
    </user_directories>
</clickhouse>
