@font-face {
	font-family: 'Yandex Sans Text Web';
	src: url(https://yastatic.net/adv-www/_/yy5JveR58JFkc97waf-xp0i6_jM.eot);
	src: url(https://yastatic.net/adv-www/_/yy5JveR58JFkc97waf-xp0i6_jM.eot?#iefix) format('embedded-opentype'),
	url(https://yastatic.net/adv-www/_/CYblzLEXzCqQIvrYs7QKQe2omRk.woff2) format('woff2'),
	url(https://yastatic.net/adv-www/_/pUcnOdRwl83MvPPzrNomhyletnA.woff) format('woff'),
	url(https://yastatic.net/adv-www/_/vNFEmXOcGYKJ4AAidUprHWoXrLU.ttf) format('truetype'),
	url(https://yastatic.net/adv-www/_/0w7OcWZM_QLP8x-LQUXFOgXO6dE.svg#YandexSansTextWeb-Bold) format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal
}

@font-face {
	font-family: 'Yandex Sans Text Web';
	src: url(https://yastatic.net/adv-www/_/LI6l3L2RqcgxBe2pXmuUha37czQ.eot);
	src: url(https://yastatic.net/adv-www/_/LI6l3L2RqcgxBe2pXmuUha37czQ.eot?#iefix) format('embedded-opentype'),
	url(https://yastatic.net/adv-www/_/z3MYElcut0R2MF_Iw1RDNrstgYs.woff2) format('woff2'),
	url(https://yastatic.net/adv-www/_/1jvKJ_-hCXl3s7gmFl-y_-UHTaI.woff) format('woff'),
	url(https://yastatic.net/adv-www/_/9nzjfpCR2QHvK1EzHpDEIoVFGuY.ttf) format('truetype'),
	url(https://yastatic.net/adv-www/_/gwyBTpxSwkFCF1looxqs6JokKls.svg#YandexSansTextWeb-Regular) format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal
}

@font-face {
	font-family: 'Yandex Sans Text Web';
	src: url(https://yastatic.net/adv-www/_/ayAFYoY8swgBLhq_I56tKj2JftU.eot);
	src: url(https://yastatic.net/adv-www/_/ayAFYoY8swgBLhq_I56tKj2JftU.eot?#iefix) format('embedded-opentype'),
	url(https://yastatic.net/adv-www/_/lGQcYklLVV0hyvz1HFmFsUTj8_0.woff2) format('woff2'),
	url(https://yastatic.net/adv-www/_/f0AAJ9GJ4iiwEmhG-7PWMHk6vUY.woff) format('woff'),
	url(https://yastatic.net/adv-www/_/4UDe4nlVvgEJ-VmLWNVq3SxCsA.ttf) format('truetype'),
	url(https://yastatic.net/adv-www/_/EKLr1STNokPqxLAQa_RyN82pL98.svg#YandexSansTextWeb-Light) format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal
}

@font-face {
	font-family: 'Yandex Sans Display Web';
	src: url(https://yastatic.net/adv-www/_/H63jN0veW07XQUIA2317lr9UIm8.eot);
	src: url(https://yastatic.net/adv-www/_/H63jN0veW07XQUIA2317lr9UIm8.eot?#iefix) format('embedded-opentype'),
	url(https://yastatic.net/adv-www/_/sUYVCPUAQE7ExrvMS7FoISoO83s.woff2) format('woff2'),
	url(https://yastatic.net/adv-www/_/v2Sve_obH3rKm6rKrtSQpf-eB7U.woff) format('woff'),
	url(https://yastatic.net/adv-www/_/PzD8hWLMunow5i3RfJ6WQJAL7aI.ttf) format('truetype'),
	url(https://yastatic.net/adv-www/_/lF_KG5g4tpQNlYIgA0e77fBSZ5s.svg#YandexSansDisplayWeb-Regular) format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal
}

@font-face {
	font-family: 'Yandex Sans Display Web';
	src: url(https://yastatic.net/adv-www/_/g8_MyyKVquSZ3xEL6tarK__V9Vw.eot);
	src: url(https://yastatic.net/adv-www/_/g8_MyyKVquSZ3xEL6tarK__V9Vw.eot?#iefix) format('embedded-opentype'),
	url(https://yastatic.net/adv-www/_/LGiRvlfqQHlWR9YKLhsw5e7KGNA.woff2) format('woff2'),
	url(https://yastatic.net/adv-www/_/40vXwNl4eYYMgteIVgLP49dwmfc.woff) format('woff'),
	url(https://yastatic.net/adv-www/_/X6zG5x_wO8-AtwJ-vDLJcKC5228.ttf) format('truetype'),
	url(https://yastatic.net/adv-www/_/ZKhaR0m08c8CRRL77GtFKoHcLYA.svg#YandexSansDisplayWeb-Light) format('svg');
	font-weight: 300;
	font-style: normal;
	font-stretch: normal
}

body {
	font: 300 14pt/200% 'Yandex Sans Text Web', Arial, sans-serif;
}

a:link, a:visited {
    color: #08f;
    text-decoration: none;
}

.md-nav__link {
	color: #000 !important;
}

.md-nav__link:hover, .md-nav__link:active {
	color: #08f  !important;
    text-decoration: none;
}

a:hover, a:active {
    color: #f00;
    text-decoration: underline;
}

.md-typeset pre {
    font: 13px/18px monospace, "Courier New";
    display: block;
    padding: 1rem 3rem 1rem 1rem;
    overflow: scroll;
}

h1, h2, h3, .md-logo {
    font-family: 'Yandex Sans Display Web', Arial, sans-serif;
	color: #000 !important;
}

.md-logo {
	padding: 0;
}

.md-header {
    border-bottom: 1px solid #efefef;
}

.md-header-nav__title {
    font-size: 3rem;
    font-family: 'Yandex Sans Display Web', Arial, sans-serif;
}

.md-content__icon:hover {
    text-decoration: none !important;
    color: #08f !important;
}

.md-search-result__link {
    text-decoration: none !important;
}
