<clickhouse>
    <remote_servers>
        <default>
            <shard>
                <internal_replication>true</internal_replication>
                <replica>
                    <host>node1</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <host>node2</host>
                    <port>9000</port>
                </replica>
            </shard>
        </default>
    </remote_servers>
    <user_directories replace="replace">
        <replicated>
            <zookeeper_path>/clickhouse/access</zookeeper_path>
        </replicated>
    </user_directories>
</clickhouse>
