<div class="section bg-white pt-10">
    <div class="container">
   
        <p>
			Version 1.0 dated January 17, 2022
		</p>

		<p>
			This trademark policy was prepared to help you understand how to use the trademarks, service marks and logos of ClickHouse, Inc., with ClickHouse, Inc.'s open-source, high performance columnar OLAP database management system for real-time analytics using SQL.  
		</p>

		<p>
			While some of our software is available under a free and open source software license, that copyright license does not include a license to use our trademark and logo ("marks"), and this policy is intended to explain how to use our marks consistent with background law and community expectation.
		</p>

		<p>
			Trademark rights protect everyone, not just the company that owns them. They help us make sure that potential customers and users understand who is providing software and services, and who is responsible for their quality control.
		</p>

		<p>
			<strong>This Policy covers:</strong>
		</p>

		<ol>
			<li>Our <strong>word</strong> trademark and service mark: ClickHouse</li>
			<li>Our <strong>logo</strong>:</li>
		</ol>

		<p>
			<img src="/images/clickhouse-logomark.png" height="120">
		</p>

		<p>
			This policy covers all of ClickHouse, Inc.'s marks, whether they are registered or not.
		</p>

		<p class="mt-8">
			<strong>1. GENERAL GUIDELINES</strong>
		</p>

		<p>
			Whenever you use one of our marks, you must always do so in a way that does not mislead anyone about what they are getting and from whom. For example, you cannot say you are distributing the ClickHouse software when you're distributing a modified version of it, because recipients may not understand the differences between your modified version and our own. 
		</p>

		<p>
			You also cannot use our logo on your website in a way that suggests that your website is an official website or that we endorse your website.
		</p>

		<p>
			You can, though, say you like the ClickHouse software, that you participate in the ClickHouse community, that you are providing an unmodified version of the ClickHouse software.
		</p>

		<p>
			You may not use or register our marks, or variations of them as part of your own trademark, service mark, domain name, corporate name, trade name, product name or service name.
		</p>

		<p>
			Trademark law does not allow your use of names or trademarks that are too similar to ours. You therefore may not use an obvious variation of any of our marks or any phonetic equivalent, foreign language equivalent, takeoff, or abbreviation for a similar or compatible product or service. We would consider the following too similar to one of our marks:
		</p>

		<ul>
			<li>MyClickHouse</li>
			<li>ClickHouseConnector</li>
			<li>ClickHouse Cloud</li>
			<li>Managed ClickHouse</li>
			<li>Hosted ClickHouse</li>
		</ul>

		<p class="mt-8">
			<strong>2. ACCEPTABLE USES</strong>
		</p>
		
		<p>
			<strong style="text-decoration:underline;">Unmodified Code</strong>
		</p>
		
		<p>
			When you redistribute an unmodified copy of our software -- the exact form in which we make it available -- you must <strong>retain</strong> the marks we have placed on the software to identify your redistribution. 
		</p>
		
		<p>
			<strong style="text-decoration:underline;">Modified Code</strong>
		</p>
		
		<p>
			If you distribute a modified version of our software, you must <strong>remove</strong> all of our logos from it, including from our source trees. You may use our word marks, but not our logos, to truthfully describe the origin of the software that you are providing.  For example, if the code you are distributing is a modification of our software, you may say, "This software is derived from the source code for ClickHouse software." 
		</p>
		
		<p>
			<strong style="text-decoration:underline;">Statements About Compatibility</strong>
		</p>
		
		<p>
			You may use the word mark, but not the logo, to truthfully describe the relationship between your software and ours. Any other use may imply that we have certified or approved your software.  If you wish to use our logo, please contact us at the email address below to discuss license terms.
		</p>
		
		<p>
			<strong style="text-decoration:underline;">Naming Compatible Products</strong>
		</p>
		
		<p>
			If you wish to describe your product or service with reference to the ClickHouse software, here are the conditions under which you may do so. You may call your software <strong>XYZ (where XYZ is your product name) for ClickHouse</strong> only if:
		</p>
		
		<ul>
			<li>All versions of the ClickHouse software you deliver with your product are the exact binaries provided by us.</li>
			<li>Your product is fully compatible with the then-current APIs for the ClickHouse software.</li>
			<li>You use the following legend in marketing materials or product descriptions: "ClickHouse is a trademark of ClickHouse, Inc. https://clickhouse.com"</li>
		</ul>

		<p>
			<strong style="text-decoration:underline;">Managed Services</strong>
		</p>
		
		<p>
			We consider managed services provided by others to be a separate product from our own. That's because the quality of managed services depends on a lot more than software. So, you may refer to your own managed service providing ClickHouse software as long as your use is consistent with all relevant licenses from ClickHouse, Inc. and:
		</p>
		
		<ul>
			<li>You do not use the logo on your managed service.</li>
			<li>Your product is fully compatible with the then current APIs for the ClickHouse software.</li>
			<li>You make it clear that ClickHouse, Inc. is not the source of the service.</li>
			<li>You do not imply that ClickHouse, Inc. sponsors or approves your service.</li>
		</ul>

		<p>
			Therefore, you might say, "XYZ is a fully managed cloud offering based on ClickHouse software", if you use the following legend in marketing materials or product descriptions: "ClickHouse is a registered trademark of ClickHouse, Inc. https://clickhouse.com"
		</p>

		<p>
			<strong style="text-decoration:underline;">Professional Services</strong>
		</p>
		
		<p>
			If you provide maintenance, consulting, training or support for ClickHouse software, you must make it clear that the services are not provided by ClickHouse. For example, you can offer "Support for ClickHouse software" but not "ClickHouse Support."
		</p>
		
		<p>
			<strong style="text-decoration:underline;">User Groups</strong>
		</p>
		
		<p>
			You can use the word mark as part of your user group name provided that:
		</p>
		
		<ul>
			<li>The main focus of the group is our software</li>
			<li>The group does not make a profit</li>
			<li>Any charge to attend meetings are to cover the cost of the venue, food and drink only</li>
		</ul>

		<p>
			You are not authorized to conduct a conference using our marks.
		</p>

		<p>
			<strong style="text-decoration:underline;">No Domain Names</strong>
		</p>

		<p>
			You must not register any domain that includes our word mark or any variant or combination of it. If you want to register a domain name for a user group that meets the above criteria, please contact us at the email address below.
		</p>

		<p class="mt-8">
			<strong>3. HOW TO DISPLAY OUR MARKS</strong>
		</p>

		<p>
			When you have the right to use our marks, here is how to display them. 
		</p>
		
		<p>
			<strong style="text-decoration:underline;">Trademark Marking and Legends</strong>
		</p>
		
		<p>
			The first or most prominent mention of a mark on a webpage, document, or documentation should be accompanied by a symbol indicating whether the mark is a registered trademark ("®") or an unregistered trademark ("™"). If you don't know which applies, contact us.
		</p>
		
		<p>
			Place the following notice at the foot of the page where you have used the mark: "ClickHouse is a registered trademark of ClickHouse, Inc. https://clickhouse.com"
		</p>
		
		<p>
			<strong style="text-decoration:underline;">Use of Trademarks in Text</strong>
		</p>
		
		<p>
			<strong>Always use trademarks in their exact form with the correct spelling, neither abbreviated, hyphenated, or combined with any other word or words.</strong>
		</p>
		
		<p>
			Unacceptable: ClickHouse-DB
		</p>
		
		<p>
			<strong>Don't pluralize a trademark.</strong>
		</p>
		
		<p>
			Unacceptable: I have seventeen ClickHouses running in my system.
		</p>
		
		<p>
			<strong>Always use a trademark as an adjective modifying a noun.</strong>
		</p>
		
		<p>
			Unacceptable: This is a ClickHouse.<br>
			Acceptable: This is a ClickHouse software application.
		</p>
			
		<p>
			<strong style="text-decoration:underline;">Use of Logo</strong>
		</p>
		
		<p>
			You may not change our logo except to scale it. This means you may not add decorative elements, change the colors, change the proportions, distort it, add elements, or combine it with other logos.
		</p>
		
		<p>
			However, when the context requires the use of black-and-white graphics and the logo is color, you may reproduce the logo in a manner that produces a black-and-white image.
		</p>
		
		<p class="mt-8">
			<strong>4. QUESTIONS</strong>
		</p>
		
		<p>
			If you have questions about this policy, wish to discuss a license to use our trademarks that is not consistent with this policy, or want to discuss a violation of this policy, please contact us at trademarks@clickhouse.com.
		</p>
		
		<p>
			These guidelines are based on the Model Trademark Guidelines, available at <a href="http://www.modeltrademarkguidelines.org" target="_blank">http://www.modeltrademarkguidelines.org</a>., used under a Creative Commons Attribution 3.0 Unported license: <a href="https://creativecommons.org/licenses/by/3.0/deed.en_US" target="_blank">https://creativecommons.org/licenses/by/3.0/deed.en_US</a>.
		</p>

    </div>
</div>
