<div class="section bg-light-orange pb-8 pb-lg-10 pt-8 pt-lg-10 mb-medium-5 mb-lg-10">
	<div class="container">
		
		<h2 class="display-2 text-center mb-3 mb-lg-5">
			{{ _('Contact Us') }}
		</h2>

		<div class="pb-5 pt-5 mb-5" style="position: relative;">
			<div class="bg-gradient-light-orange bg-offset-right"></div>
			<img src="/images/placeholder-contact-form.png" height="332" width="890" class="d-block mx-auto" style="aspect-ratio: 890 / 332; height: auto; margin-top: -8px; position: relative; z-index: 2;">
		</div>
		
		<p class="text-center text-muted mx-auto" style="max-width:620px;">
			{{ _('If you have any more thoughts or questions, feel free to contact the ClickHouse team directly at') }}
			<a class="text-blue text-decoration-underline" href="mailto:feedback@clickhouse.com">feedback@clickhouse.com</a>
		</p>

	</div>
</div>
