<div class="section bg-white pb-10 pt-10 pt-lg-15">
    <div class="container">

        <h2 class="display-2 text-center mb-5 mb-md-8 mb-lg-10">
            {{ _('Meet the Team') }}
        </h2>

        <h3 class="display-3 text-center mb-3 mb-md-5 mb-lg-8">
            {{ _('ClickHouse Co-Founders') }}
        </h3>

        <div class="row">
            <div class="col-lg-4 mb-3 mb-lg-0 text-center">

                <a href="https://www.linkedin.com/in/yuryizrailevsky/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/yury-izrailevsky.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Yury Izrailevsky') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Co-Founder & President, Product and Engineering') }}
                </p>

            </div>
            <div class="col-lg-4 mb-3 mb-lg-0 text-center">

                <a href=" https://www.linkedin.com/in/aaron-katz-5762094/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/aaron-katz.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Aaron Katz') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Co-Founder & CEO') }}
                </p>

            </div>
            <div class="col-lg-4 text-center">

                <a href="https://github.com/alexey-milovidov" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/alexey-milovidov.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Alexey Milovidov') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Co-Founder & CTO') }}
                </p>

            </div>
        </div>

    </div>
</div>
