<h2 class="display-2 text-center mb-3 mb-md-5 mb-lg-8">
    {{ _('ClickHouse Investors') }}
</h2>

<div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
    <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

        <a href="https://www.linkedin.com/in/peter-fenton-0b117/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
            <img src="/images/photos/peter-fenton.jpg">
        </a>
        <h3 class="display-4">
            {{ _('Peter Fenton') }}
        </h3>
        <p class="font-lg text-muted mb-3 mx-auto w-75">
            {{ _('Board Member') }}
        </p>
        <img src="/images/logos/logo-benchmark-capital.png" height="40" width="219" class="d-block mx-auto">
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

        <a href="https://www.linkedin.com/in/mavolpi/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
            <img src="/images/photos/mike-volpi.jpg">
        </a>
        <h3 class="display-4">
            {{ _('Mike Volpi') }}
        </h3>
        <p class="font-lg text-muted mb-3 mx-auto w-75">
            {{ _('Board Member') }}
        </p>
        <img src="/images/logos/logo-index-ventures.png" height="33" width="262" class="d-block mx-auto mb-5 mb-lg-0">

    </div>
</div>
