<h2 class="display-2 text-center mb-3 mb-md-5 mb-lg-8">
    {{ _('ClickHouse Investors') }}
</h2>

<div class="row mb-10 mb-lg-15">
    <div class="col-lg-3 col-md-6 mb-3 mb-lg-0 text-center d-flex flex-column">   
	<a href="https://www.linkedin.com/in/mavolpi/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
            <img src="/images/photos/mike-volpi.jpg">
        </a>
        <h3 class="display-4">
            {{ _('Mike Volpi') }}
        </h3>
        <p class="font-lg text-muted mb-3 mx-auto w-75">
            {{ _('Board Member') }}
        </p>
        <img src="/images/logos/logo-index-ventures.png" height="36" width="220" class="logo mx-auto mt-auto" style="max-width: 286px;">
	    

    </div>
    <div class="col-lg-3 col-md-6 mb-3 mb-lg-0 text-center d-flex flex-column">
        <a href="https://www.linkedin.com/in/peter-fenton-0b117/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
            <img src="/images/photos/peter-fenton.jpg">
        </a>
        <h3 class="display-4">
            {{ _('Peter Fenton') }}
        </h3>
        <p class="font-lg text-muted mb-3 mx-auto w-75">
            {{ _('Board Member') }}
        </p>
        <img src="/images/logos/logo-benchmark-capital.png" height="36" width="220" class="logo mx-auto mt-auto" style="max-width: 174px;">

    </div>
    <div class="col-lg-3 col-md-6 mb-3 mb-md-0 text-center d-flex flex-column">

        <a href="https://www.linkedin.com/in/caryn-marooney/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
            <img src="/images/photos/caryn-marooney.jpg">
        </a>
        <h3 class="display-4">
            {{ _('Caryn Marooney') }}
        </h3>
        <img src="/images/logos/logo-coatue.png" height="36" width="220" class="logo mx-auto mt-auto" style="max-width: 160px;">

    </div>
	<div class="col-lg-3 col-md-6 text-center d-flex flex-column">

        <a href="https://www.linkedin.com/in/kevinjwang/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
            <img src="/images/photos/kevin-wang.jpg">
        </a>
        <h3 class="display-4">
            {{ _('Kevin Wang') }}
        </h3>
        <img src="/images/logos/logo-altimeter-capital.png" height="36" width="220" class="logo mx-auto mt-auto" style="max-width: 129px;">

    </div>
</div>

<div class="d-flex flex-wrap align-items-center justify-content-center mb-n5">
	<img src="/images/logos/logo-yandex.png" height="36" width="220" class="logo mb-5 mx-3" style="max-width: 132px;">
	<img src="/images/logos/logo-lightspeed.png" height="36" width="220" class="logo mb-5 mx-3" style="max-width: 178px;">
	<img src="/images/logos/logo-redpoint.png" height="36" width="220" class="logo mb-5 mx-3" style="max-width: 207px;">
	<img src="/images/logos/logo-almaz-capital.svg" height="48" width="220" class="logo mb-5 mx-3" style="height: 48px; max-width: 273px;">
	<img src="/images/logos/logo-firstmark.svg" height="36" width="220" class="logo mb-5 mx-3" style="max-width: 264px;">
	<img src="/images/logos/logo-leadedge-capital.png" height="48" width="220" class="logo mb-5 mx-3" style="height: 48px; max-width: 192px;">
</div>
