<div class="section bg-white pb-10 pt-10 pt-lg-15">
	<div class="container">
		
		<h2 class="display-2 text-center mb-5 mb-md-8 mb-lg-10">
			{{ _('ClickHouse Leadership') }}
		</h2>

		<h3 class="display-3 text-center mb-3 mb-md-5 mb-lg-8">
			{{ _('Co-Founders') }}
		</h3>

		<div class="row">
			<div class="col-lg-4 mb-3 mb-lg-0 text-center">
				
				<div class="photo-frame mx-auto">
					<img src="/images/photos/photo-yury-izrailevsky.jpg">
				</div>
				<h3 class="display-4">
					{{ _('Yury Izrailevsky') }}
				</h3>
				<p class="font-lg text-muted mx-auto" style="max-width:220px;">
					{{ _('Co-Founder & President, Product & Engineering') }}
				</p>
				<div class="social-icons justify-content-center size-small">
					<a
						rel="external nofollow noreferrer"
						target="_blank"
						href="#"
						class="social-icons-linkedin-alt"
					></a>
				</div>
				
			</div>
			<div class="col-lg-4 mb-3 mb-lg-0 text-center">
				
				<div class="photo-frame mx-auto">
					<img src="/images/photos/photo-aaron-katz.jpg">
				</div>
				<h3 class="display-4">
					{{ _('Aaron Katz') }}
				</h3>
				<p class="font-lg text-muted mx-auto" style="max-width:220px;">
					{{ _('Co-Founder & CEO') }}
				</p>
				<div class="social-icons justify-content-center size-small">
					<a
						rel="external nofollow noreferrer"
						target="_blank"
						href="#"
						class="social-icons-linkedin-alt"
					></a>
				</div>
				
			</div>
			<div class="col-lg-4 text-center">
				
				<div class="photo-frame mx-auto">
					<img src="/images/photos/photo-alexey-milovidov.jpg">
				</div>
				<h3 class="display-4">
					{{ _('Alexey Milovidov') }}
				</h3>
				<p class="font-lg text-muted mx-auto" style="max-width:220px;">
					{{ _('Co-Founder & CTO') }}
				</p>
				<div class="social-icons justify-content-center size-small">
					<a
						rel="external nofollow noreferrer"
						target="_blank"
						href="#"
						class="social-icons-linkedin-alt"
					></a>
				</div>
				
			</div>
		</div>

	</div>
</div>
