<div class="section bg-white pt-10">
    <div class="container">
   
        <p class="lead text-dark mb-3">
            ClickHouse is an open-source column-oriented DBMS (columnar database management system) for online analytical processing (OLAP) that allows users to generate analytical reports using SQL queries in real-time.
        </p>
        <p class="lead text-dark mb-3">
            Its technology works 100-1000x faster than traditional database management systems and processes hundreds of millions to over a billion rows and tens of gigabytes of data per server per second. With a widespread user base around the globe, the technology has received praise for its reliability, ease of use, and fault tolerance.
        </p>
        <p class="lead text-dark mb-3">
            In September of 2021 in San Fransisco, CA, ClickHouse incorporated to house the open source technology with an initial $50 million investment from Index Ventures and Benchmark Capital. On October 28, 2021 the company received Series B funding totaling $250 million at an evaluation of $2 billion from Coatue Management, Altimeter Capital, and other investors. The company continues to build the open source project and engineering the cloud technology.
        </p>
        
        <hr class="is-yellow">

    </div>
</div>
