<div class="section bg-white pt-10">
    <div class="container">
        
        <p class="lead text-dark mb-3">
            Creators of the online analytical processing (OLAP) database management system ClickHouse have announced their decision to officially incorporate as a company. The creator of ClickHouse, Alexey Milovidov (CTO), will be joined by co-founders and seasoned enterprise software executives, Yury Izrailevsky (President, Product and Engineering) and Aaron Katz (CEO), along with nearly $50M in Series A funding led by <a href="https://www.indexventures.com/" class="text-blue text-decoration-underline" rel="external nofollow">Index Ventures</a> and <a href="http://www.benchmark.com/" class="text-blue text-decoration-underline" rel="external nofollow">Benchmark</a>.
        </p>

        <p class="lead text-dark mb-6">
            ClickHouse is an open-source, column-oriented OLAP database management system that allows users to generate analytical reports using SQL queries in real-time. Its technology works 100-1,000x faster than traditional database management systems, and processes hundreds of millions to over a billion rows and tens of gigabytes of data per server per second. With a widespread user base around the globe, the technology has received praise for its reliability, ease of use, and fault tolerance.
        </p>

        <hr class="is-yellow">

    </div>
</div>
