{##
<div class="section bg-white pb-10 pb-lg-15 pt-10 pt-lg-15">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-2">
                    
                <h2 class="display-2">
                    {{ _('Press') }}
                </h2>

            </div>
            <div class="col-lg-10">

                <div>
                    
                    <p class="kicker mb-1">
                        {{ _('9/20/21') }}
                    </p>
                    <h3 class="display-3 mb-3 w-75">
                        {{ _('ClickHouse, Inc. Announces Incorporation, Along With $50M In Series A Funding') }}
                    </h3>
                    <p class="font-lg text-muted mb-4">
                        {{ _('New financing will allow the open source success to build a world-class, commercial-grade cloud solution that’s secure, compliant, and convenient for any customer to use.') }}
                    </p>
                    <a class="trailing-link" href="#">{{ _('Read More') }}</a>

                </div>

            </div>
        </div>

    </div>
</div>
##}
