<div id="press" class="section bg-white pb-10 pb-lg-15 pt-10 pt-lg-15">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-2">
                    
                <h2 class="display-2">
                    {{ _('Press') }}
                </h2>

            </div>

            <div class="col-lg-10">
                <div class="mb-5">
                    <p class="kicker mb-1">
                        {{ _('10/28/21') }}
                    </p>
                    <h3 class="display-3 mb-3 w-75">
                        <a class="text-reset" href="https://www.businesswire.com/news/home/20211028005287/en" rel="external nofollow noreferrer">{{ _('ClickHouse Raises $250M Series B To Scale Groundbreaking OLAP Database Management System Globally') }}</a>
                    </h3>
                    <p class="font-lg text-muted mb-3">
                        {{ _('The investment was led by Coatue and Altimeter, with participation from Index Ventures, Benchmark, Lightspeed, Redpoint, Almaz, Yandex N.V., FirstMark and Lead Edge.') }}
                    </p>
                    <a class="trailing-link" href="https://www.businesswire.com/news/home/20211028005287/en" rel="external nofollow noreferrer">{{ _('Read More') }}</a>
                </div>
                
                <div class="mb-5">
                    
                    <p class="kicker mb-1">
                        {{ _('10/28/21') }}
                    </p>
                    <h3 class="display-3 mb-3 w-75">
                        <a class="text-reset" href="https://www.bloomberg.com/news/articles/2021-10-28/clickhouse-valued-at-2-billion-in-round-after-yandex-spinout" rel="external nofollow noreferrer">{{ _('Bloomberg Exclusive') }}</a>
                    </h3>
                    <p class="font-lg text-muted mb-3">
                        {{ _('ClickHouse Valued at $2 Billion in Round After Yandex Spinout.') }}
                    </p>
                    <a class="trailing-link" href="https://www.bloomberg.com/news/articles/2021-10-28/clickhouse-valued-at-2-billion-in-round-after-yandex-spinout" rel="external nofollow noreferrer">{{ _('Read More') }}</a>
                </div>
                
                <div class="mb-5">
                    
                    <p class="kicker mb-1">
                        {{ _('10/28/21') }}
                    </p>
                    <h3 class="display-3 mb-3 w-75">
                        <a class="text-reset" href="https://medium.com/lightspeed-venture-partners/why-lightspeed-invested-in-clickhouse-a-database-built-for-speed-b67ec2d5f041" rel="external nofollow noreferrer">{{ _('Lightspeed Perspective') }}</a>
                    </h3>
                    <p class="font-lg text-muted mb-3">
                        {{ _('Why Lightspeed invested in ClickHouse: a database built for speed.') }}
                    </p>
                    <a class="trailing-link" href="https://medium.com/lightspeed-venture-partners/why-lightspeed-invested-in-clickhouse-a-database-built-for-speed-b67ec2d5f041" rel="external nofollow noreferrer">{{ _('Read More') }}</a>
                </div>
                
                <div class="mb-5">
                    
                    <p class="kicker mb-1">
                        {{ _('9/20/21') }}
                    </p>
                    <h3 class="display-3 mb-3 w-75">
                        <a class="text-reset" href="https://www.businesswire.com/news/home/20210920005219/en/ClickHouse-Inc.-Announces-Incorporation-Along-With-50M-In-Series-A-Funding" rel="external nofollow noreferrer">{{ _('ClickHouse, Inc. Announces Incorporation, Along With $50M In Series A Funding') }}</a>
                    </h3>
                    <p class="font-lg text-muted mb-3">
                        {{ _('New financing will allow the open source success to build a world-class, commercial-grade cloud solution that’s secure, compliant, and convenient for any customer to use.') }}
                    </p>
                    <a class="trailing-link" href="https://www.businesswire.com/news/home/20210920005219/en/ClickHouse-Inc.-Announces-Incorporation-Along-With-50M-In-Series-A-Funding" rel="external nofollow noreferrer">{{ _('Read More') }}</a>
                </div>
                <div class="mb-5">
                    <p class="kicker mb-1">
                        {{ _('9/20/21') }}
                    </p>
                    <h3 class="display-3 mb-3 w-75">
                        <a class="text-reset" href="https://www.businessinsider.com/clickhouse-creators-raise-50-million-for-new-company-2021-9" rel="external nofollow noreferrer">{{ _('Business Insider Exclusive') }}</a>
                    </h3>
                    <p class="font-lg text-muted mb-3">
                        {{ _('The creators of the popular ClickHouse project just raised $50 million from Index and Benchmark to form a company that will take on Splunk and Druid in the white-hot data space.') }}
                    </p>
                    <a class="trailing-link" href="https://www.businessinsider.com/clickhouse-creators-raise-50-million-for-new-company-2021-9" rel="external nofollow noreferrer">{{ _('Read More') }}</a>
                </div>
                <div class="mb-5">
                    <p class="kicker mb-1">
                        {{ _('9/20/21') }}
                    </p>
                    <h3 class="display-3 mb-3 w-75">
                        <a class="text-reset" href="https://www.indexventures.com/perspectives/clickhouse-from-russia-with-love/" rel="external nofollow noreferrer">{{ _('Index Ventures Perspective') }}</a>
                    </h3>
                    <p class="font-lg text-muted mb-3">
                        {{ _('Our road to ClickHouse started like a good spy novel, with a complex series of introductions over Telegram, clandestine text conversations spanning months before we finally managed to meet the team “face-to-face” (aka over Zoom).') }}
                    </p>
                    <a class="trailing-link" href="https://www.indexventures.com/perspectives/clickhouse-from-russia-with-love/" rel="external nofollow noreferrer">{{ _('Read More') }}</a>
                </div>

                <div class="mb-5">
                    <p class="kicker mb-1">
                        {{ _('9/20/21') }}
                    </p>
                    <h3 class="display-3 mb-3 w-75">
                        <a class="text-reset" href="https://yandex.com/company/press_center/press_releases/2021/2021-09-20/" rel="external nofollow noreferrer">{{ _('Yandex Perspective') }}</a>
                    </h3>
                    <p class="font-lg text-muted mb-3">
                        {{ _('Yandex announces the spin off of ClickHouse, Inc., a pioneering company focused on open-source column-oriented database management systems (DBMS) for analytical processing. ') }}
                    </p>
                    <a class="trailing-link" href="https://yandex.com/company/press_center/press_releases/2021/2021-09-20" rel="external nofollow noreferrer">{{ _('Read More') }}</a>
                </div>
            </div>
        </div>

    </div>
</div>
