<div class="section">
	<div class="container pb-10 pb-lg-15 pt-10">
		<div class="bg-offset-right bg-light"></div>
		
		<h2 class="display-3 text-center mb-3 mb-md-5 mb-lg-8">
			{{ _('ClickHouse Team') }}
		</h2>

		<div class="row mb-8 mb-md-10 mb-lg-15">
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">
				
				<div class="photo-frame mx-auto">
					<img src="/images/photos/photo-placeholder.png">
				</div>
				<h3 class="display-4">
					{{ _('Vitaly Baranov') }}
				</h3>
				<p class="font-lg text-muted mb-0 mx-auto" style="max-width:220px;">
					{{ _('Principal Sofware Engineer') }}
				</p>
				
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">
				
				<a href="https://www.linkedin.com/in/ivanblinkov/" target="_blank" class="photo-frame mx-auto">
					<img src="/images/photos/photo-ivan-blinkov.jpg">
				</a>
				<h3 class="display-4">
					{{ _('Ivan Blinkov') }}
				</h3>
				<p class="font-lg text-muted mb-0 mx-auto" style="max-width:220px;">
					{{ _('VP, Product') }}
				</p>
				
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">
				
				<a href="https://www.linkedin.com/in/jasonbchan/" target="_blank" class="photo-frame mx-auto">
					<img src="/images/photos/photo-jason-chan.jpg">
				</a>
				<h3 class="display-4">
					{{ _('Jason Chan') }}
				</h3>
				<p class="font-lg text-muted mb-0 mx-auto" style="max-width:220px;">
					{{ _('Adviser, Security, Privacy & Compliance') }}
				</p>
				
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">
				
				<a href="https://www.linkedin.com/in/vdimir" target="_blank" class="photo-frame mx-auto">
					<img src="/images/photos/photo-placeholder.png">
				</a>
				<h3 class="display-4">
					{{ _('Vladimir Cherkasov') }}
				</h3>
				<p class="font-lg text-muted mb-0 mx-auto" style="max-width:220px;">
					{{ _('Software Engineer') }}
				</p>
				
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">
				
				<a href="https://www.linkedin.com/in/kristinamfrost/" target="_blank" class="photo-frame mx-auto">
					<img src="/images/photos/photo-kristina-frost.jpg">
				</a>
				<h3 class="display-4">
					{{ _('Kristina Frost') }}
				</h3>
				<p class="font-lg text-muted mb-0 mx-auto" style="max-width:220px;">
					{{ _('Senior Director, Business Technology') }}
				</p>
				
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">
				
				<a href="https://www.linkedin.com/in/mike-hayes-54990310/" target="_blank" class="photo-frame mx-auto">
					<img src="/images/photos/photo-mike-hayes.jpg">
				</a>
				<h3 class="display-4">
					{{ _('Mike Hayes') }}
				</h3>
				<p class="font-lg text-muted mb-0 mx-auto" style="max-width:220px;">
					{{ _('VP, Sales') }}
				</p>
				
			</div>
			{% if false %}
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">
				
				<div class="photo-frame mx-auto">
					<img src="/images/photos/photo-brian-hunter.jpg">
				</div>
				<h3 class="display-4">
					{{ _('Brian Hunter') }}
				</h3>
				<p class="font-lg text-muted mb-0 mx-auto" style="max-width:220px;">
					{{ _('') }}
				</p>
				
			</div>
			{% endif %}
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">
				
				<a href="https://www.linkedin.com/in/maksim-kita/" target="_blank" class="photo-frame mx-auto">
					<img src="/images/photos/photo-placeholder.png">
				</a>
				<h3 class="display-4">
					{{ _('Maksim Kita') }}
				</h3>
				<p class="font-lg text-muted mb-0 mx-auto" style="max-width:220px;">
					{{ _('Senior Software Engineer') }}
				</p>
				
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">
				
				<div class="photo-frame mx-auto">
					<img src="/images/photos/photo-placeholder.png">
				</div>
				<h3 class="display-4">
					{{ _('Nikolai Kochetov') }}
				</h3>
				<p class="font-lg text-muted mb-0 mx-auto" style="max-width:220px;">
					{{ _('Engineering Team Lead') }}
				</p>
				
			</div>
			{% if false %}
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">
				
				<div class="photo-frame mx-auto">
					<img src="/images/photos/photo-placeholder.png">
				</div>
				<h3 class="display-4">
					{{ _('Anne Krechmer') }}
				</h3>
				<p class="font-lg text-muted mb-0 mx-auto" style="max-width:220px;">
					{{ _('') }}
				</p>
				
			</div>
			{% endif %}
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">
				
				<a href="https://www.linkedin.com/in/avogar" target="_blank" class="photo-frame mx-auto">
					<img src="/images/photos/photo-placeholder.png">
				</a>
				<h3 class="display-4">
					{{ _('Pavel Kruglov') }}
				</h3>
				<p class="font-lg text-muted mb-0 mx-auto" style="max-width:220px;">
					{{ _('Software Engineer') }}
				</p>
				
			</div>
			{% if false %}
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">
				
				<div class="photo-frame mx-auto">
					<img src="/images/photos/photo-placeholder.png">
				</div>
				<h3 class="display-4">
					{{ _('Claire Lucas') }}
				</h3>
				<p class="font-lg text-muted mb-0 mx-auto" style="max-width:220px;">
					{{ _('') }}
				</p>
				
			</div>
			{% endif %}
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">
				
				<a href="https://www.linkedin.com/in/nikitamikhaylov/" target="_blank" class="photo-frame mx-auto">
					<img src="/images/photos/photo-placeholder.png">
				</a>
				<h3 class="display-4">
					{{ _('Nikita Mikhailov') }}
				</h3>
				<p class="font-lg text-muted mb-0 mx-auto" style="max-width:220px;">
					{{ _('Software Engineer') }}
				</p>
				
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">
				
				<a href="https://www.linkedin.com/in/novik-dmitry/" target="_blank" class="photo-frame mx-auto">
					<img src="/images/photos/photo-placeholder.png">
				</a>
				<h3 class="display-4">
					{{ _('Dmitry Novik') }}
				</h3>
				<p class="font-lg text-muted mb-0 mx-auto" style="max-width:220px;">
					{{ _('Senior Software Engineer') }}
				</p>
				
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">
				
				<a href="https://www.linkedin.com/in/4thom/" target="_blank" class="photo-frame mx-auto">
					<img src="/images/photos/photo-thom-oconner.jpg">
				</a>
				<h3 class="display-4">
					{{ _('Thom O’Connor') }}
				</h3>
				<p class="font-lg text-muted mb-0 mx-auto" style="max-width:220px;">
					{{ _('VP, Support & Services') }}
				</p>
				
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">
				
				<a href="https://www.linkedin.com/in/anton-popov-a592b9194/" target="_blank" class="photo-frame mx-auto">
					<img src="/images/photos/photo-placeholder.png">
				</a>
				<h3 class="display-4">
					{{ _('Anton Popov') }}
				</h3>
				<p class="font-lg text-muted mb-0 mx-auto" style="max-width:220px;">
					{{ _('Senior Software Engineer') }}
				</p>
				
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">
				
				<a href="https://www.linkedin.com/in/richraposa/" target="_blank" class="photo-frame mx-auto">
					<img src="/images/photos/photo-richard-raposa.jpg">
				</a>
				<h3 class="display-4">
					{{ _('Richard Raposa') }}
				</h3>
				<p class="font-lg text-muted mb-0 mx-auto" style="max-width:220px;">
					{{ _('Director, Global Learning') }}
				</p>
				
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">
				
				<div class="photo-frame mx-auto">
					<img src="/images/photos/photo-placeholder.png">
				</div>
				<h3 class="display-4">
					{{ _('Alexander Sapin') }}
				</h3>
				<p class="font-lg text-muted mb-0 mx-auto" style="max-width:220px;">
					{{ _('Engineering Team Lead') }}
				</p>
				
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">
				
				<a href="https://www.linkedin.com/in/kssenii" target="_blank" class="photo-frame mx-auto">
					<img src="/images/photos/photo-placeholder.png">
				</a>
				<h3 class="display-4">
					{{ _('Kseniia Sumarokova') }}
				</h3>
				<p class="font-lg text-muted mb-0 mx-auto" style="max-width:220px;">
					{{ _('Software Engineer') }}
				</p>
				
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 mb-xl-0 text-center">
				
				<a href="https://www.linkedin.com/in/dorota-szeremeta-a849b7/" target="_blank" class="photo-frame mx-auto">
					<img src="/images/photos/photo-dorota-szeremeta.jpg">
				</a>
				<h3 class="display-4">
					{{ _('Dorota Szeremeta') }}
				</h3>
				<p class="font-lg text-muted mb-0 mx-auto" style="max-width:220px;">
					{{ _('VP, Operations') }}
				</p>
				
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 mb-xl-0 text-center">
				
				<a href="https://www.linkedin.com/in/tavplubix" target="_blank" class="photo-frame mx-auto">
					<img src="/images/photos/photo-placeholder.png">
				</a>
				<h3 class="display-4">
					{{ _('Alexander Tokmakov') }}
				</h3>
				<p class="font-lg text-muted mb-0 mx-auto" style="max-width:220px;">
					{{ _('Software Engineer') }}
				</p>
				
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 mb-0 text-center">
				
				<a href="https://www.linkedin.com/in/arnovandriel" target="_blank" class="photo-frame mx-auto">
					<img src="/images/photos/photo-arno-van-driel.jpg">
				</a>
				<h3 class="display-4">
					{{ _('Arno Van Driel') }}
				</h3>
				<p class="font-lg text-muted mb-0 mx-auto" style="max-width:220px;">
					{{ _('VP, EMEA') }}
				</p>
				
			</div>
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-0 text-center">
				
				<div class="photo-frame mx-auto">
					<img src="/images/photos/photo-placeholder.png">
				</div>
				<h3 class="display-4">
					{{ _('Ilya Yatsishin') }}
				</h3>
				<p class="font-lg text-muted mb-0 mx-auto" style="max-width:220px;">
					{{ _('Senior Technical Project Manager') }}
				</p>
				
			</div>
		</div>

		<div class="card mx-auto mb-8 mb-md-10 mb-lg-15 is-large has-dark-border has-pattern" style="max-width:480px;">
			<div class="card-body">

				<h3 class="display-3 text-center">
					{{ _('Join the Team') }}
				</h3>

				<div class="btns">
					<a href="mailto:careers@clickhouse.com" class="btn btn-outline-secondary" role="button">
						{{ _('Apply Now') }}
					</a>
				</div>

			</div>
		</div>

		<hr class="is-medium is-large mb-8">

		<h2 class="display-2 text-center mb-3 mb-md-5 mb-lg-8">
			{{ _('ClickHouse Investors') }}
		</h2>

		<div class="d-flex flex-column flex-lg-row align-items-center justify-content-center">
			<img src="/images/logos/logo-index-ventures.png" height="33" width="262" class="d-block mx-auto mx-lg-0 mb-5 mb-lg-0" style="aspect-ratio: 262 / 33; height: auto;">
			<img src="/images/logos/logo-benchmark-capital.png" height="40" width="152" class="mx-auto ml-lg-10 mr-lg-0" style="aspect-ratio: 152 / 40; height: auto;">
		</div>

	</div>
</div>
