<div class="section">
    <div class="container pb-10 pb-lg-15 pt-10">
        <div class="bg-offset-right bg-light"></div>

        <h2 class="display-3 text-center mb-3 mb-md-5 mb-lg-8">
            {{ _('ClickHouse Team') }}
        </h2>

        <div class="row mb-8 mb-md-10 mb-lg-15">
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://github.com/vitlibar" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/vitaly-baranov.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Vitaly Baranov') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Principal Sofware Engineer') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/ivanblinkov/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/ivan-blinkov.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Ivan Blinkov') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('VP, Product') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/jasonbchan/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/jason-chan.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Jason Chan') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Adviser, Security, Privacy &amp; Compliance') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://github.com/vdimir" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/vladimir-cherkasov.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Vladimir Cherkasov') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Software Engineer') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/kristinamfrost/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/kristina-frost.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Kristina Frost') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Senior Director, Business Technology') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/mihir-g-3a8010b8/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/mihir-gokhale.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Mihir Gokhale') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Associate, Business Strategy & Ops') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/mike-hayes-54990310/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/mike-hayes.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Mike Hayes') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('VP, Sales') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/brianjohnhunter/" target="_blank" class="photo-frame mx-auto">
                    <img src="/images/photos/brian-hunter.jpg">
				</a>
                <h3 class="display-4">
                    {{ _('Brian Hunter') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Account Executive, AMER') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://github.com/kitaisreal/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/maksim-kita.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Maksim Kita') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Senior Software Engineer') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://github.com/KochetovNicolai/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/nikolai-kochetov.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Nikolai Kochetov') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Engineering Team Lead') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/anne-krechmer-3790162b/" target="_blank" class="photo-frame mx-auto">
                    <img src="/images/photos/anne-krechmer.jpg">
				</a>
                <h3 class="display-4">
                    {{ _('Anne Krechmer') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Senior Recruiter') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://github.com/Avogar" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/pavel-kruglov.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Pavel Kruglov') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Software Engineer') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/claire-g-lucas/" target="_blank" class="photo-frame mx-auto">
                    <img src="/images/photos/claire-lucas.jpg">
				</a>
                <h3 class="display-4">
                    {{ _('Claire Lucas') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Director, Business Strategy &amp; Ops') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/shavoyne-mccowan-668674221/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/shavoyne-mccowan.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Shavoyne McCowan') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Executive Assistant') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://github.com/nikitamikhaylov" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/nikita-mikhailov.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Nikita Mikhailov') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Software Engineer') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://github.com/novikd" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/dmitry-novik.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Dmitry Novik') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Senior Software Engineer') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/4thom/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/thom-oconnor.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Thom O’Connor') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('VP, Support &amp; Services') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://github.com/CurtizJ" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/anton-popov.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Anton Popov') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Senior Software Engineer') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/richraposa/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/rich-raposa.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Rich Raposa') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Director, Global Learning') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://github.com/Alesapin" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/alexander-sapin.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Alexander Sapin') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Engineering Team Lead') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://github.com/kssenii" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/kseniia-sumarokova.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Kseniia Sumarokova') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Software Engineer') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/dorota-szeremeta-a849b7/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/dorota-szeremeta.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Dorota Szeremeta') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('VP, Operations') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://github.com/tavplubix" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/alexander-tokmakov.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Alexander Tokmakov') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Software Engineer') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/arnovandriel" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/arno-van-driel.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Arno Van Driel') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('VP, EMEA') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 text-center">

                <a href="https://www.linkedin.com/in/%D1%8F%D1%86%D0%B8%D1%88%D0%B8%D0%BD-%D0%B8%D0%BB%D1%8C%D1%8F-9495b535/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/ilya-yatsishin.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Ilya Yatsishin') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Senior Technical Project Manager') }}
                </p>

            </div>
        </div>

        <div class="card mx-auto mb-8 mb-md-10 mb-lg-15 is-large has-dark-border has-pattern w-50">
            <div class="card-body">

                <h3 class="display-3 text-center">
                    {{ _('Join the Team') }}
                </h3>

                <div class="btns">
                    <a href="/careers/" class="btn btn-outline-secondary" role="button">
                        {{ _('Apply Now') }}
                    </a>
                </div>

            </div>
        </div>

        <hr class="is-medium is-large mb-8">

        {% include "templates/company/investors.html" %}

    </div>
</div>
