<div class="section">
    <div class="container pb-10 pb-lg-15 pt-10">
        <div class="bg-offset-right bg-light"></div>

        <h2 class="display-3 text-center mb-3 mb-md-5 mb-lg-8">
            {{ _('ClickHouse Team') }}
        </h2>

        <div class="row mb-8">
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/manas-alekar-42b6a62a/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/manas-alekar.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Manas Alekar') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Senior Cloud SWE') }}
                </p>

            </div>
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://github.com/vitlibar" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/vitaly-baranov.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Vitaly Baranov') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Principal Sofware Engineer') }}
                </p>

            </div>
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/marcelbirkner/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/marcel-birkner.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Marcel Birkner') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('
					Cloud SWE') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/ivanblinkov/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/ivan-blinkov.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Ivan Blinkov') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('VP, Technical Program Management') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/tbragin/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/tanya-bragin.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Tanya Bragin') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('VP, Product') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/anne-carlhoff/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/anne-carlhoff.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Anne Carlhoff') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('
					Sr Recruiter') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/jasonbchan/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/jason-chan.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Jason Chan') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Adviser, Security, Privacy &amp; Compliance') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://github.com/vdimir" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/vladimir-cherkasov.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Vladimir Cherkasov') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Software Engineer') }}
                </p>

            </div>
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/martincholuj/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/martin-choluj.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Martin Choluj') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Vice President, Security') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/ryadh/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/ryadh-dahimene.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Ryadh Dahimene') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Consulting Architect') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/nikolay-degterinsky/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/nikolay-degterinsky.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Nikolay Degterinsky') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Core SWE') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/mieldonkers/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/miel-donkers.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Miel Donkers') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Senior Cloud Software Engineer') }}
                </p>

            </div>
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/artur-filatenkov-5a51a8217/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/artur-filatenkov.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Artur Filatenkov') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Associate Core Software Engineer') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/kristinamfrost/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/kristina-frost.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Kristina Frost') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Senior Director, Business Technology') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <div class="photo-frame mx-auto">
                    <img src="/images/photos/mikhail-fursov.jpg">
				</div>
                <h3 class="display-4">
                    {{ _('Mikhail Fursov') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Principal UX/UI Engineer') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/wh-baird-garrett-89338812/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/baird-garrett.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Baird Garrett') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('General Counsel') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/geoff-genz-a8a6275/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/geoffrey-genz.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Geoffrey Genz') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Principal Support Engineer') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/mihir-g-3a8010b8/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/mihir-gokhale.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Mihir Gokhale') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Associate, Business Strategy & Ops') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/tylerhannan/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/tyler-hannan.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Tyler Hannan') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Senior Director, Developer Advocacy') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/mike-hayes-54990310/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/mike-hayes.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Mike Hayes') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('VP, Sales') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/nhosgur/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/nihat-hosgur.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Nihat Hosgur') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Principal Cloud SWE') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/brianjohnhunter/" target="_blank" class="photo-frame mx-auto">
                    <img src="/images/photos/brian-hunter.jpg">
				</a>
                <h3 class="display-4">
                    {{ _('Brian Hunter') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Account Executive, AMER') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/andy-james-48032a5/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/andy-james.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Andy James') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Business Technology Full Stack Lead') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/yossi-kahlon-a7a5693/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/yossi-kahlon.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Yossi Kahlon') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Director, Engineering - Control Plane') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://github.com/kitaisreal/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/maksim-kita.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Maksim Kita') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Senior Software Engineer') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://github.com/KochetovNicolai/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/nikolai-kochetov.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Nikolai Kochetov') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Engineering Team Lead') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/anne-krechmer-3790162b/" target="_blank" class="photo-frame mx-auto">
                    <img src="/images/photos/anne-krechmer.jpg">
				</a>
                <h3 class="display-4">
                    {{ _('Anne Krechmer') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Senior Recruiter') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://github.com/Avogar" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/pavel-kruglov.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Pavel Kruglov') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Software Engineer') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/michael-lex-a84a9b1b8/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/michael-lex.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Michael Lex') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Cloud SWE') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/niek-lok-46498685/" target="_blank" class="photo-frame mx-auto">
                    <img src="/images/photos/niek-lok.jpg">
				</a>
                <h3 class="display-4">
                    {{ _('Niek Lok') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Account Executive') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/claire-g-lucas/" target="_blank" class="photo-frame mx-auto">
                    <img src="/images/photos/claire-lucas.jpg">
				</a>
                <h3 class="display-4">
                    {{ _('Claire Lucas') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Director, Business Strategy &amp; Ops') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/shavoyne-mccowan-668674221/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/shavoyne-mccowan.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Shavoyne McCowan') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Executive Assistant') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/dalemcdiarmid/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/dale-mcdiarmid.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Dale McDiarmid') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Consulting Architect') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://github.com/nikitamikhaylov" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/nikita-mikhailov.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Nikita Mikhailov') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Software Engineer') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://github.com/novikd" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/dmitry-novik.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Dmitry Novik') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Senior Software Engineer') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/4thom/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/thom-oconnor.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Thom O’Connor') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('VP, Support &amp; Services') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/melvyn-peignon-a56b2890/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/melvyn-peignon.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Melvyn Peignon') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Manager, Support Services – EMEA') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/nir-peled-b2b15120/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/nir-peled.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Nir Peled') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Principal UX/UI Engineer') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://github.com/CurtizJ" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/anton-popov.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Anton Popov') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Senior Software Engineer') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/richraposa/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/rich-raposa.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Rich Raposa') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Director, Global Learning') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/rodriguezmarcelo/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/marcelo-rodriguez.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Marcelo Rodriguez') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Sr Support Engineer') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://github.com/Alesapin" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/alexander-sapin.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Alexander Sapin') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Engineering Team Lead') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/schreibertom1/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/tom-schreiber.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Tom Schreiber') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Consulting Architect – EMEA') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/felixoid/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/mikhail-shiryaev.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Mikhail Shiryaev') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Site Reliability Engineer') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/bastian-spanneberg/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/bastian-spanneberg.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Bastian Spanneberg') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Site Reliability Engineer') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://github.com/kssenii" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/kseniia-sumarokova.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Kseniia Sumarokova') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Software Engineer') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/dorota-szeremeta-a849b7/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/dorota-szeremeta.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Dorota Szeremeta') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('VP, Operations') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/salesforcemaster/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/yuko-takagi.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Yuko Takagi') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Director, Go To Market Technology') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/roopa-tangirala-02b9603/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/roopa-tangirala.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Roopa Tangirala') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Senior Director, Engineering') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://github.com/tavplubix" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/alexander-tokmakov.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Alexander Tokmakov') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Software Engineer') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <div class="photo-frame mx-auto">
                    <img src="/images/photos/sergei-trifonov.jpg">
				</div>
                <h3 class="display-4">
                    {{ _('Sergei Trifonov') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Principal Core SWE') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/pascalvdnieuwendijk/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/pascal-van-den-nieuwendijk.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Pascal Van den Nieuwendijk') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Account Executive') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/arnovandriel" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/arno-van-driel.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Arno Van Driel') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('VP, EMEA') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/elissaweve/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/elissa-weve.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Elissa Weve') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Customer / Partner Alliance Manager') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/cwurm/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/christoph-wurm.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Christoph Wurm') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Solutions Architect') }}
                </p>

            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/%D1%8F%D1%86%D0%B8%D1%88%D0%B8%D0%BD-%D0%B8%D0%BB%D1%8C%D1%8F-9495b535/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/ilya-yatsishin.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Ilya Yatsishin') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Senior Technical Project Manager') }}
                </p>

            </div>
			<div class="col-xl-3 col-lg-4 col-md-6 mb-3 mb-md-8 text-center">

                <a href="https://www.linkedin.com/in/markzitnik/" target="_blank" class="photo-frame mx-auto" rel="external nofollow">
                    <img src="/images/photos/mark-zitnik.jpg">
                </a>
                <h3 class="display-4">
                    {{ _('Mark Zitnik') }}
                </h3>
                <p class="font-lg text-muted mb-0 mx-auto w-75">
                    {{ _('Senior Cloud Software Engineer') }}
                </p>

            </div>
        </div>

        <div class="card mx-auto mb-8 mb-md-10 mb-lg-15 is-large has-dark-border has-pattern w-50">
            <div class="card-body">

                <h3 class="display-3 text-center">
                    {{ _('Join the Team') }}
                </h3>

                <div class="btns">
                    <a href="/careers/" class="btn btn-outline-secondary" role="button">
                        {{ _('Apply Now') }}
                    </a>
                </div>

            </div>
        </div>

        <hr class="is-medium is-large mb-8">

        {% include "templates/company/investors.html" %}

    </div>
</div>
