 <clickhouse>
     <logger>
         <level>trace</level>
         <log>/var/log/clickhouse-server/clickhouse-server.log</log>
         <errorlog>/var/log/clickhouse-server/clickhouse-server.err.log</errorlog>
         <size>1000M</size>
         <count>10</count>
     </logger>

     <tcp_port>9000</tcp_port>
     <mongo_port>27017</mongo_port>
     <listen_host>127.0.0.1</listen_host>

     <max_concurrent_queries>500</max_concurrent_queries>
     <path>./clickhouse/</path>
     <settings>
        <allow_experimental_json_type>1</allow_experimental_json_type>
    </settings>
 </clickhouse>
