---
BasedOnStyle:  WebKit
Language:        Cpp
AlignAfterOpenBracket: false
BreakBeforeBraces: Allman
BreakConstructorInitializersBeforeComma: false
Cpp11BracedListStyle: false
ColumnLimit:     140
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ExperimentalAutoDetectBinPacking: true
UseTab: Always
Standard: Cpp11
TabWidth:        4
PointerAlignment: Middle
MaxEmptyLinesToKeep: 2
KeepEmptyLinesAtTheStartOfBlocks: false
#AllowShortFunctionsOnASingleLine: Inline
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: true
#SpaceAfterTemplateKeyword: true
SortIncludes: true
IncludeCategories:
  - Regex:           '^<[a-z_]+>'
    Priority:        1
  - Regex:           '^<[a-z_]+.h>'
    Priority:        2
  - Regex:           '^["<](common|ext|mysqlxx|daemon)/'
    Priority:        90
  - Regex:           '^["<](DB)/'
    Priority:        100
  - Regex:           '^["<](Poco)/'
    Priority:        50
  - Regex:           '/'
    Priority:        30
  - Regex:           '.*'
    Priority:        40
ReflowComments: false

# Not changed:
AccessModifierOffset: -4
AlignConsecutiveAssignments: false
AlignEscapedNewlinesLeft: false
AlignOperands:   false
AlignTrailingComments: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakBeforeMultilineStrings: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true
CommentPragmas:  '^ IWYU pragma:'
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
DerivePointerAlignment: false
DisableFormat:   false
ForEachMacros:   [ foreach, Q_FOREACH, BOOST_FOREACH ]
IndentCaseLabels: false
IndentWidth:     4
IndentWrappedFunctionNames: false
MacroBlockBegin: ''
MacroBlockEnd:   ''
NamespaceIndentation: Inner
ObjCBlockIndentWidth: 4
ObjCSpaceAfterProperty: true
ObjCSpaceBeforeProtocolList: true
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 60
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
...

