root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true


# Matches multiple files with brace expansion notation
# Set default charset
[*.{c,cpp,cxx,h,hpp,hxx,py,cmake}]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[CMakeLists.txt]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

# Some SQL results have trailing whitespace which is removed by IDEs
[tests/queries/**.reference]
trim_trailing_whitespace = false
