export envprompt=chorigin
PATH_add bin
export cquery_blacklist="
    /home/amos/git/chorigin/contrib/
    /home/amos/git/chorigin/utils/
    /home/amos/git/chorigin/libs/
    /home/amos/git/chorigin/dbms/tests/
"
