[submodule "doc/presentations"]
	path = website/presentations
	url = https://github.com/yandex/clickhouse-presentations.git
[submodule "contrib/mariadb-connector-c"]
	path = contrib/mariadb-connector-c
	url = https://github.com/MariaDB/mariadb-connector-c.git
