language: generic

matrix:
  fast_finish: true
  include:
#    - os: linux
#
#      cache:
#        ccache: true
#        timeout: 1000
#
#      addons:
#        apt:
#          update: true
#          sources:
#            - ubuntu-toolchain-r-test
#          packages: [ g++-7,            libicu-dev, libreadline-dev, libmysqlclient-dev, unixodbc-dev, libltdl-dev, libssl-dev, libboost-dev, zlib1g-dev, libdouble-conversion-dev, libsparsehash-dev, librdkafka-dev, libcapnp-dev, libsparsehash-dev, libgoogle-perftools-dev, bash, expect, python, python-lxml, python-termcolor, curl, perl, sudo, openssl ]
#
#      env:
#        - MATRIX_EVAL="export CC=gcc-7 && export CXX=g++-7"
#
#      script:
#        - env TEST_RUN= utils/travis/normal.sh


    # We need to have gcc7 headers to compile c++17 code on clang
    - os: linux

      cache:
        ccache: true
        timeout: 1000
        directories:
        - /home/travis/.ccache

      addons:
        apt:
          update: true
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-trusty-5.0
          packages: [ ninja-build, g++-7, clang-5.0, lld-5.0, libicu-dev, libreadline-dev, libmysqlclient-dev, unixodbc-dev, libltdl-dev, libssl-dev, libboost-dev, zlib1g-dev, libdouble-conversion-dev, libsparsehash-dev, librdkafka-dev, libcapnp-dev, libsparsehash-dev, libgoogle-perftools-dev, bash, expect, python, python-lxml, python-termcolor, curl, perl, sudo, openssl]

      env:
        - MATRIX_EVAL="export CC=clang-5.0 && export CXX=clang++-5.0"

      script:
        - utils/travis/normal.sh


# TODO: fix internal compiler
#    - os: linux
#
#      sudo: required
#
#      cache:
#        timeout: 1000
#        directories:
#        - /var/cache/pbuilder/ccache
#
#      addons:
#        apt:
#          packages: [ pbuilder, fakeroot, debhelper ]
#
#      env:
#        - MATRIX_EVAL="export DEB_CC=clang-5.0 && export DEB_CXX=clang++-5.0"
#
#      script:
#        - utils/travis/pbuilder.sh


    - os: linux

      sudo: required

      cache:
        timeout: 1000
        directories:
        - /var/cache/pbuilder/ccache

      addons:
        apt:
          update: true
          packages: [ pbuilder, fakeroot, debhelper ]

      script:
        - utils/travis/pbuilder.sh


#    - os: linux
#
#      sudo: required
#
#      cache:
#        timeout: 1000
#        directories:
#        - /var/cache/pbuilder/ccache
#
#      addons:
#        apt:
#          update: true
#          packages: [ pbuilder, fakeroot, debhelper ]
#
#      env:
#        - MATRIX_EVAL="export ARCH=i386"
#
#      script:
#        - env PBUILDER_TIMEOUT=40m TEST_TRUE=true TEST_RUN= utils/travis/pbuilder.sh


# TODO: Can't bootstrap bionic on trusty host
#    - os: linux
#
#      sudo: required
#
#      cache:
#        timeout: 1000
#        directories:
#        - /var/cache/pbuilder/ccache
#
#      addons:
#        apt:
#          update: true
#          packages: [ pbuilder, fakeroot, debhelper ]
#
#      env:
#        - MATRIX_EVAL="export DEB_CC=clang-6.0 && export DEB_CXX=clang++-6.0 && export DIST=bionic && export EXTRAPACKAGES='clang-6.0 lld-6.0'"
#
#      script:
#        - utils/travis/pbuilder.sh


# Cant fit to time limit (48min)
#    - os: osx
#      osx_image: xcode9.2
#
#      cache:
#        ccache: true
#        timeout: 1000
#
#      before_install:
#        - brew install unixodbc gcc ccache libtool gettext zlib readline double-conversion gperftools google-sparsehash lz4 zstd || true
#        - brew link --overwrite gcc || true
#
#      env:
#        - MATRIX_EVAL="export CC=gcc-8 && export CXX=g++-8"
#
#      script:
#        - env CMAKE_FLAGS="-DUSE_INTERNAL_BOOST_LIBRARY=1" utils/travis/normal.sh


  allow_failures:
    - os: osx

before_script:
    - eval "${MATRIX_EVAL}"
