language: generic

matrix:
  fast_finish: true
  include:
    - os: linux

      cache:
        ccache: true
        timeout: 1000

      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages: [ g++-7,            libicu-dev, libreadline-dev, libmysqlclient-dev, unixodbc-dev, libltdl-dev, libssl-dev, libboost-dev, zlib1g-dev, libdouble-conversion-dev, libzookeeper-mt-dev, libsparsehash-dev, librdkafka-dev, libcapnp-dev, libsparsehash-dev, libgoogle-perftools-dev, bash, expect, python, python-lxml, python-termcolor, curl, perl, sudo ]

      env:
        - MATRIX_EVAL="export CC=gcc-7 && export CXX=g++-7"

      script:
        - utils/travis/normal.sh


    # We need to have gcc7 headers to compile c++17 code on clang
    - os: linux

      cache:
        ccache: true
        timeout: 1000

      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-trusty-5.0
          packages: [ g++-7, clang-5.0, libicu-dev, libreadline-dev, libmysqlclient-dev, unixodbc-dev, libltdl-dev, libssl-dev, libboost-dev, zlib1g-dev, libdouble-conversion-dev, libzookeeper-mt-dev, libsparsehash-dev, librdkafka-dev, libcapnp-dev, libsparsehash-dev, libgoogle-perftools-dev, bash, expect, python, python-lxml, python-termcolor, curl, perl, sudo ]

      env:
        - MATRIX_EVAL="export CC=clang-5.0 && export CXX=clang++-5.0"

      script:
        - utils/travis/normal.sh


    - os: linux

      sudo: required

      cache:
        timeout: 1000
        directories:
        - /var/cache/pbuilder/ccache

      addons:
        apt:
          packages: [ pbuilder, fakeroot, debhelper ]

      env:
        - MATRIX_EVAL="export CC=clang-5.0 && export CXX=clang++-5.0"

      script:
        - utils/travis/pbuilder.sh


# Link problem
    - os: osx
      osx_image: xcode9.2

      cache:
        ccache: true
        timeout: 1000

      before_install:
        - brew install unixodbc gcc ccache libtool gettext zlib readline double-conversion gperftools google-sparsehash lz4 zstd || true
        - brew link --overwrite gcc || true

      env:
        - MATRIX_EVAL="export CC=gcc-7 && export CXX=g++-7"

      script:
        - env CMAKE_FLAGS="-DUSE_INTERNAL_BOOST_LIBRARY=1" utils/travis/normal.sh


  allow_failures:
    - os: osx

before_script:
    - eval "${MATRIX_EVAL}"
