# vi: ft=yaml
extends: default

rules:
    indentation:
        level: warning
        indent-sequences: consistent
    line-length:
        # there are some bash -c "", so this is OK
        max: 300
        level: warning
    comments:
        min-spaces-from-content: 1
    document-start:
        present: false
