# vi: ft=yaml
extends: default

rules:
    indentation:
        level: warning
        indent-sequences: consistent
    comments:
        min-spaces-from-content: 1
    document-start: disable
    colons: disable
    indentation: disable
    line-length: disable
    trailing-spaces: disable
    truthy: disable
    new-line-at-end-of-file: disable
