# vi: ft=yaml
extends: default

rules:
    indentation:
        level: warning
        indent-sequences: consistent
    line-length:
        # there are:
        # - bash -c "", so this is OK
        # - yaml in tests
        max: 1000
        level: warning
    comments:
        min-spaces-from-content: 1
    document-start: disable
    colons: disable
    indentation: disable
    line-length: disable
    trailing-spaces: disable
    truthy: disable
    new-line-at-end-of-file: disable
