<?xml version="1.0"?>

<clickhouse>
    <http_handlers>
        <rule>
            <methods>GET</methods>
            <headers><XXX>xxx</XXX></headers>
            <url>/test_prometheus</url>
            <handler>
                <type>prometheus</type>
                <events>true</events>
                <metrics>true</metrics>
                <asynchronous_metrics>true</asynchronous_metrics>
            </handler>
        </rule>
    </http_handlers>
</clickhouse>
