{% set prefetch_items = [
    ('/docs/en/', 'document')
] %}

{% extends "templates/base.html" %}

{% block extra_meta %}
{% include "templates/common_fonts.html" %}
{% endblock %}

{% block nav %}

{% include "templates/global/nav.html" %}

{% endblock %}

{% block content %}

{% include "templates/careers/hero.html" %}
{% include "templates/careers/overview.html" %}
{% include "templates/careers/greenhouse.html" %}

{% include "templates/global/newsletter.html" %}
{% include "templates/global/github_stars.html" %}

{% endblock %}
