body {
    font: 300 14pt/200% -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,Segoe UI Emoji;
}

a:link, a:visited {
    color: #f14600;
    text-decoration: none;
}

.md-nav__link {
    color: #000 !important;
}

.md-nav__link[data-md-state='blur'] {
    color: #888 !important;
}

.md-nav__link:hover, .md-nav__link:active {
    color: #f14600 !important;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

.md-typeset pre {
    font: 13px/18px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    display: block;
    padding: 1rem 3rem 1rem 1rem;
    overflow: scroll;
}

h1, h2, h3, .md-logo {
    color: #000 !important;
}

.md-logo {
    padding: 0;
}

.md-header {
    border-bottom: 1px solid #efefef;
}

.md-header-nav__title {
    font-size: 3rem;
}

.md-content__icon:hover {
    text-decoration: none !important;
    color: #f14600 !important;
}

.md-search-result__link {
    text-decoration: none !important;
}

.md-hide {
    display: none;
}

#md-extra-nav {
    background: #efefef;
    padding: 0.5rem 0;
}

.grey {
    color: #666;
}

.md-alt-lang:hover {
    text-decoration: none;
}

.md-alt-lang>svg {
    width: 36px;
    height: 24px;
    margin: 1.3rem 0;
    filter: brightness(96%) grayscale(90%);
}

.md-alt-lang:hover>svg {
    filter: brightness(96%) grayscale(5%);
}

.md-current-lang>svg {
    filter: brightness(96%) grayscale(0%) !important;
}


.headerlink:hover {
    text-decoration: none;
}

.md-selector {
    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 3px;
    overflow: hidden;
    background: #fff;
}

.md-selector select {
    padding: 8px 8px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    display: inline-block;
    padding-right: 20px;
    position: relative;
    z-index: 2;
}

#releases-selector-after {
    padding: 0 4px;
    margin-left: -20px;
    position: relative;
    z-index: 1;
}

.md-selector select:focus {
    outline: none;
}

@media only screen and (min-width: 60em) {
    #md-sidebar-flags {
        display: none;
    }
}

@media print {
    .md-typeset a:after {
        content: "" !important;
    }
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
    display: none !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content {
    float: none !important;
    width: 100% !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content:before {
    content: none !important;
}

.algolia-autocomplete .ds-dropdown-menu {
    width: 100% !important;
    max-height: 512px;
    overflow-x: hidden;
    overflow-y: auto;
}

.md-typeset a:active, .md-typeset a:hover {
    color: #f14600 !important;
}
