<clickhouse>
    <max_table_size_to_drop hidden="true">60000000000</max_table_size_to_drop>
    <max_partition_size_to_drop hidden="false">40000000000</max_partition_size_to_drop>
    <named_collections hidden="true">
        <name>
            <key_1>value</key_1>
            <key_2>value_2</key_2>
            <url>https://connection.url/</url>
        </name>
    </named_collections>
</clickhouse>
