Jinja2==3.1.6
numpy==2.1.0
requests==2.33.0
pandas==2.2.3
scipy==1.14.1
pyarrow==22.0.0
grpcio==1.66.2
protobuf==4.25.8
psutil
PyYAML==6.0.2

# for targeted job
unidiff==0.7.5

# performance tests
clickhouse_driver
scipy==1.14.1

# sqllogic tests
sqlglot==28.10.1
deepdiff==8.6.1
