/*
 * d3-gantt.css by @serxa
 */

.chart {
    font-family: Arial, sans-serif;
    font-size: 12px;
}

rect.zoom-panel {
    /*cursor: ew-resize;*/
    fill: none;
    pointer-events: all;
}

.axis path,.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis.y {
    font-size: 16px;
    cursor: ns-resize;
}

.axis.x {
    font-size: 16px;
}

#ruler {
    text-anchor: middle;
    alignment-baseline: before-edge;
    font-size: 16px;
    font-family: sans-serif;
    pointer-events: none;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

.d3-tip pre {
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0);
    color: #fff;
    border: 0px;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

/* for arrowhead marker */
#arrow {
    stroke-width:1;
    stroke-dasharray:0;
}

.bar:hover {
    stroke-width: 1px;
    stroke: black;
}

#errmsg {
    width: 95vw;
    margin: 0 auto;
    padding: 10px;
}
