<div id="contact" class="section pt-5">
    <div class="container">
	
		<form action="https://webto.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" method="POST">

			<input type=hidden name="orgid" value="00D5f000000JueF">
			<input type=hidden name="retURL" value="https://clickhouse.com/thank-you/">

			<div class="mb-3" style="max-width:720px;">
				<div class="row">
					<div class="form-group col-md-6 mb-3">
						<input class="form-control" id="name" placeholder="Contact Name*" maxlength="80" name="name" size="20" type="text" required>
					</div>
					<div class="form-group col-md-6 mb-3">
						<input class="form-control" id="email" placeholder="Your Work Email*" maxlength="80" name="email" size="20" type="text" required>
					</div>
					<div class="form-group col-12 mb-3">
						<textarea class="form-control" id="00N5f00000MFsS2" name="00N5f00000MFsS2" wrap="soft" rows="4" placeholder="Enter any additional emails (1 per line)..."></textarea>
					</div>
					<div class="form-group col-md-12 mb-3 is-select">
						<select class="form-control" id="priority" name="priority">
							<option disabled selected>Severity Classification</option>
							<option value="Sev-1">Severity 1 Critical Business Impact</option>
							<option value="Sev-2">Severity 2 Major Business Impact</option>
							<option value="Sev-3">Severity 3 Minor Business Impact or General Questions</option>
						</select>
					</div>
					<div class="form-group col-md-12 mb-3">
						<input class="form-control" id="subject" maxlength="80" name="subject" size="20" type="text" placeholder="Case Subject" />
					</div>
					<div class="form-group col-md-12 mb-3">
						<textarea class="form-control" name="description" wrap="soft" rows="4" placeholder="Enter your case details..."></textarea>
					</div>
					<div class="form-group col-md-12 mb-0">
						<input class="form-control" id="00N5f00000QbcrO" placeholder="Customer Reference Number" maxlength="25" name="00N5f00000QbcrO" size="20" type="text" />
					</div>

				</div>
			</div>

			<div class="d-flex justify-content-start">
				<input type="submit" name="submit" value="Submit" class="btn btn-lg btn-secondary">
			</div>
			
		</form>

		<h2 class="h3 mt-10">Severity Classification Level Definitions</h2>

		<table class="severity-table">
			<thead>
				<tr>
					<th style="width:15%;">Severity Classification Level</th>
					<th style="width:25%;">Organizational Impact</th>
					<th style="width:60%;">Definition</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Severity 1</td>
					<td>Critical Business Impact</td>
					<td>ClickHouse DBMS LTS or stable software release in production use is not functioning or is stopped or severely impacted so that Customer cannot reasonably continue use of DBMS and no Workaround is available</td>
				</tr>
				<tr>
					<td>Severity 2</td>
					<td>Major Business Impact</td>
					<td>ClickHouse DBMS LTS or stable software release is functioning inconsistently causing significantly impaired Customer usage and productivity, such as periodic work stoppages and feature crashes</td>
				</tr>
				<tr>
					<td>Severity 3</td>
					<td>Minor Business Impact or General Questions</td>
					<td>ClickHouse DBMS LTS or stable software release is functioning inconsistently causing slightly impaired Customer usage and productivity but Customer can work around such inconsistency or impairment, or Customer has a question or enhancement for the DBMS or ClickHouse not determined an Error</td>
				</tr>
			</tbody>
		</table>
        
        <hr class="is-yellow mt-10">

    </div>
</div>
