<div class="section bg-white pt-10">
    <div class="container">

		<h2>
			Enter Your Support Case Details
		</h2>
   
        <p class="lead text-dark mb-3">
            Describe the problem to us. Once you submit this form, a case will be generated and you will receive an email with the case information. A Support Engineer will be assigned to work with you to resolve the case.
        </p>
        <p class="lead text-dark mb-0">
            Your success is at the heart of everything we do.
        </p>

    </div>
</div>
