{
  "openapi": "3.1.2",
  "info": {
    "title": "OpenAPI spec for ClickHouse Cloud",
    "version": "1.0",
    "contact": {
      "name": "ClickHouse Support",
      "url": "https://clickhouse.com/docs/en/cloud/manage/openapi?referrer=openapi-908883",
      "email": "support@clickhouse.com"
    }
  },
  "servers": [
    {
      "url": "https://api.clickhouse.cloud"
    }
  ],
  "paths": {
    "/v1/organizations": {
      "get": {
        "summary": "Get list of available organizations",
        "description": "Returns a list with a single organization associated with the API key in the request.",
        "operationId": "organizationGetList",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Organization"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed due to a client error. Please verify your request parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code.",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Organization"
        ],
        "x-mint": {
          "content": "Returns a list with a single organization associated with the API key in the request."
        }
      }
    },
    "/v1/organizations/{organizationId}": {
      "get": {
        "summary": "Get organization details",
        "description": "Returns details of a single organization. In order to get the details, the auth key must belong to the organization.",
        "operationId": "organizationGet",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "ID of the requested organization.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Organization"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed due to a client error. Please verify your request parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code.",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Organization"
        ],
        "x-mint": {
          "content": "Returns details of a single organization. In order to get the details, the auth key must belong to the organization."
        }
      },
      "patch": {
        "summary": "Update organization details",
        "description": "Updates organization fields. Requires ADMIN auth key role.",
        "operationId": "organizationUpdate",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "ID of the organization to update.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OrganizationPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Organization"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed due to a client error. Please verify your request parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code.",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Organization"
        ],
        "x-mint": {
          "content": "Updates organization fields. Requires ADMIN auth key role."
        }
      }
    },
    "/v1/organizations/{organizationId}/prometheus": {
      "get": {
        "summary": "Get organization metrics",
        "description": "Returns prometheus metrics for all services in an organization.",
        "operationId": "organizationPrometheusGet",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "ID of the requested organization.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "filtered_metrics",
            "description": "Return a filtered list of Prometheus metrics.",
            "schema": {
              "type": "string",
              "format": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed due to a client error. Please verify your request parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code.",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Prometheus"
        ],
        "x-mint": {
          "content": "Returns prometheus metrics for all services in an organization."
        }
      }
    },
    "/v1/organizations/{organizationId}/roles": {
      "get": {
        "summary": "List all available roles for an organization",
        "description": "Returns all available roles (system + custom) for an organization.",
        "operationId": "organizationRolesGetList",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "ID of the requested organization.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RBACRole"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed due to a client error. Please verify your request parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code.",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Role Management"
        ],
        "x-mint": {
          "content": "Returns all available roles (system + custom) for an organization."
        }
      },
      "post": {
        "summary": "Create a new role",
        "description": "Creates a new custom role for an organization with specified policies and actors.",
        "operationId": "organizationRolePost",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "ID of the requested organization.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    },
                    "result": {
                      "$ref": "#/components/schemas/RBACRole"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed due to a client error. Please verify your request parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code.",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Role Management"
        ],
        "x-mint": {
          "content": "Creates a new custom role for an organization with specified policies and actors."
        }
      }
    },
    "/v1/organizations/{organizationId}/roles/{roleId}": {
      "get": {
        "summary": "Get role details",
        "description": "Returns details for a specific role.",
        "operationId": "organizationRoleGet",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "ID of the requested organization.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "roleId",
            "description": "ID of the requested role.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    },
                    "result": {
                      "$ref": "#/components/schemas/RBACRole"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed due to a client error. Please verify your request parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code.",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Role Management"
        ],
        "x-mint": {
          "content": "Returns details for a specific role."
        }
      },
      "patch": {
        "summary": "Update a role",
        "description": "Updates an existing custom role. System roles cannot be updated. All fields are optional - only provided fields will be updated.",
        "operationId": "organizationRolePatch",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "ID of the requested organization.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "roleId",
            "description": "ID of the requested role.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RoleUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    },
                    "result": {
                      "$ref": "#/components/schemas/RBACRole"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed due to a client error. Please verify your request parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code.",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Role Management"
        ],
        "x-mint": {
          "content": "Updates an existing custom role. System roles cannot be updated. All fields are optional - only provided fields will be updated."
        }
      },
      "delete": {
        "summary": "Delete a role",
        "description": "Deletes an existing custom role. System roles cannot be deleted. This operation will remove the role and all its associated policies.",
        "operationId": "organizationRoleDelete",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "ID of the requested organization.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "roleId",
            "description": "ID of the requested role.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed due to a client error. Please verify your request parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code.",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Role Management"
        ],
        "x-mint": {
          "content": "Deletes an existing custom role. System roles cannot be deleted. This operation will remove the role and all its associated policies."
        }
      }
    },
    "/v1/organizations/{organizationId}/services": {
      "get": {
        "summary": "List of organization services",
        "description": "Returns a list of all services in the organization.",
        "operationId": "instanceGetList",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "ID of the requested organization.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "filter",
            "description": "Filter criteria to apply when retrieving the resource. Currently, only filtering by resource tags is supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "example": [
              "tag:Environment=Production",
              "tag:Department=Engineering",
              "tag:isActive"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Service"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed due to a client error. Please verify your request parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code.",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Service"
        ],
        "x-mint": {
          "content": "Returns a list of all services in the organization."
        }
      },
      "post": {
        "summary": "Create new service",
        "description": "Creates a new service in the organization, and returns the current service state and a password to access the service. The service is started asynchronously.",
        "operationId": "instanceCreate",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "ID of the organization that will own the service.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServicePostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ServicePostResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed due to a client error. Please verify your request parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code.",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Service"
        ],
        "x-mint": {
          "content": "Creates a new service in the organization, and returns the current service state and a password to access the service. The service is started asynchronously."
        }
      }
    },
    "/v1/organizations/{organizationId}/services/{serviceId}": {
      "get": {
        "summary": "Get service details",
        "description": "Returns a service that belongs to the organization",
        "operationId": "instanceGet",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "ID of the organization that owns the service.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "serviceId",
            "description": "ID of the requested service.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Service"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed due to a client error. Please verify your request parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code.",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Service"
        ],
        "x-mint": {
          "content": "Returns a service that belongs to the organization"
        }
      },
      "patch": {
        "summary": "Update service basic details",
        "description": "Updates basic service details like service name or IP access list.",
        "operationId": "instanceUpdate",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "ID of the organization that owns the service.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "serviceId",
            "description": "ID of the service to update.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServicePatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Service"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed due to a client error. Please verify your request parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code.",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Service"
        ],
        "x-mint": {
          "content": "Updates basic service details like service name or IP access list."
        }
      },
      "delete": {
        "summary": "Delete service",
        "description": "Deletes the service. The service must be in stopped state and is deleted asynchronously after this method call.",
        "operationId": "instanceDelete",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "ID of the organization that owns the service.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "serviceId",
            "description": "ID of the service to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed due to a client error. Please verify your request parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code.",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Service"
        ],
        "x-mint": {
          "content": "Deletes the service. The service must be in stopped state and is deleted asynchronously after this method call."
        }
      }
    },
    "/v1/organizations/{organizationId}/services/{serviceId}/privateEndpointConfig": {
      "get": {
        "summary": "Get private endpoint configuration",
        "description": "Information required to set up a private endpoint",
        "operationId": "instancePrivateEndpointConfigGet",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "ID of the requested organization.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "serviceId",
            "description": "ID of the requested service.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    },
                    "result": {
                      "$ref": "#/components/schemas/PrivateEndpointConfig"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed due to a client error. Please verify your request parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code.",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Service"
        ],
        "x-mint": {
          "content": "Information required to set up a private endpoint"
        }
      }
    },
    "/v1/organizations/{organizationId}/services/{serviceId}/serviceQueryEndpoint": {
      "get": {
        "summary": "Get the service query endpoint for a given instance",
        "description": "Get the configuration for the service query endpoint that allows executing queries via API.",
        "operationId": "instanceQueryEndpointGet",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "ID of the requested organization.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "serviceId",
            "description": "ID of the requested service.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ServiceQueryAPIEndpoint"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed due to a client error. Please verify your request parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code.",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Service"
        ],
        "x-mint": {
          "content": "Get the configuration for the service query endpoint that allows executing queries via API."
        }
      },
      "delete": {
        "summary": "Delete the service query endpoint for a given instance",
        "description": "Removes the service query endpoint.",
        "operationId": "instanceQueryEndpointDelete",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "ID of the requested organization.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "serviceId",
            "description": "ID of the requested service.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed due to a client error. Please verify your request parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code.",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Service"
        ],
        "x-mint": {
          "content": "Removes the service query endpoint."
        }
      },
      "post": {
        "summary": "Upsert the service query endpoint for a given instance",
        "description": "Create the service query endpoint that allows executing queries via API.",
        "operationId": "instanceQueryEndpointUpsert",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "ID of the requested organization.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "serviceId",
            "description": "ID of the requested service.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstanceServiceQueryApiEndpointsPostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ServiceQueryAPIEndpoint"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed due to a client error. Please verify your request parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code.",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Service"
        ],
        "x-mint": {
          "content": "Create the service query endpoint that allows executing queries via API."
        }
      }
    },
    "/v1/organizations/{organizationId}/services/{serviceId}/state": {
      "patch": {
        "summary": "Update service state",
        "description": "Starts or stop service",
        "operationId": "instanceStateUpdate",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "ID of the organization that owns the service.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "serviceId",
            "description": "ID of the service to update state.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceStatePatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Service"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed due to a client error. Please verify your request parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code.",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Service"
        ],
        "x-mint": {
          "content": "Starts or stop service"
        }
      }
    },
    "/v1/organizations/{organizationId}/services/{serviceId}/scaling": {
      "patch": {
        "summary": "Update service auto scaling settings",
        "description": "Updates minimum and maximum total memory limits and idle mode scaling behavior for the service. The memory settings are available only for \"production\" services and must be a multiple of 12 starting from 24GB. Please contact support to enable adjustment of numReplicas.",
        "operationId": "instanceScalingUpdate",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "ID of the organization that owns the service.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "serviceId",
            "description": "ID of the service to update scaling parameters.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceScalingPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    },
                    "result": {
                      "$ref": "#/components/schemas/Service"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed due to a client error. Please verify your request parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code.",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": true,
        "tags": [
          "Service"
        ]
      }
    },
    "/v1/organizations/{organizationId}/services/{serviceId}/replicaScaling": {
      "patch": {
        "summary": "Update service auto scaling settings",
        "description": "Updates minimum and maximum memory limits per replica and idle mode scaling behavior for the service. Supports both vertical autoscaling (fixed replica count, variable memory) and horizontal autoscaling (variable replica count, fixed memory). The memory settings are available only for \"production\" services and must be a multiple of 4 starting from 8GB. For vertical autoscaling, please contact support to enable adjustment of numReplicas. For horizontal autoscaling (autoscalingMode \"horizontal\" with minReplicas/maxReplicas), contact support to enable the feature for your organization.",
        "operationId": "instanceReplicaScalingUpdate",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "ID of the organization that owns the service.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "serviceId",
            "description": "ID of the service to update scaling parameters.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServiceReplicaScalingPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ServiceScalingPatchResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed due to a client error. Please verify your request parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code.",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Service"
        ],
        "x-mint": {
          "content": "Updates minimum and maximum memory limits per replica and idle mode scaling behavior for the service. Supports both vertical autoscaling (fixed replica count, variable memory) and horizontal autoscaling (variable replica count, fixed memory). The memory settings are available only for \"production\" services and must be a multiple of 4 starting from 8GB. For vertical autoscaling, please contact support to enable adjustment of numReplicas. For horizontal autoscaling (autoscalingMode \"horizontal\" with minReplicas/maxReplicas), contact support to enable the feature for your organization."
        }
      }
    },
    "/v1/organizations/{organizationId}/services/{serviceId}/password": {
      "patch": {
        "summary": "Update service password",
        "description": "Sets a new password for the service",
        "operationId": "instancePasswordUpdate",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "ID of the organization that owns the service.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "serviceId",
            "description": "ID of the service to update password.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServicePasswordPatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ServicePasswordPatchResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed due to a client error. Please verify your request parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code.",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Service"
        ],
        "x-mint": {
          "content": "Sets a new password for the service"
        }
      }
    },
    "/v1/organizations/{organizationId}/services/{serviceId}/privateEndpoint": {
      "post": {
        "summary": "Create a private endpoint",
        "description": "Create a new private endpoint. The private endpoint will be associated with this service and organization",
        "operationId": "instancePrivateEndpointCreate",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "ID of the requested organization.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "serviceId",
            "description": "ID of the requested service.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ServicPrivateEndpointePostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    },
                    "result": {
                      "$ref": "#/components/schemas/InstancePrivateEndpoint"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed due to a client error. Please verify your request parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code.",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Service"
        ],
        "x-mint": {
          "content": "Create a new private endpoint. The private endpoint will be associated with this service and organization"
        }
      }
    },
    "/v1/organizations/{organizationId}/services/{serviceId}/prometheus": {
      "get": {
        "summary": "Get service metrics",
        "description": "Returns prometheus metrics for a service.",
        "operationId": "instancePrometheusGet",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "ID of the organization that owns the service.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "serviceId",
            "description": "ID of the requested service.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "query",
            "name": "filtered_metrics",
            "description": "Return a filtered list of Prometheus metrics.",
            "schema": {
              "type": "string",
              "format": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed due to a client error. Please verify your request parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code.",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Prometheus"
        ],
        "x-mint": {
          "content": "Returns prometheus metrics for a service."
        }
      }
    },
    "/v1/organizations/{organizationId}/services/{serviceId}/scalingSchedule": {
      "get": {
        "summary": "Get service autoscaling schedule",
        "description": "**Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Returns the autoscaling schedule for a service. Returns 404 if no schedule has been configured or if the schedule was cleared. Requires the scheduled autoscaling feature to be enabled for the organization.",
        "operationId": "scalingScheduleGet",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "ID of the organization that owns the service.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "serviceId",
            "description": "ID of the service.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 200
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    },
                    "result": {
                      "$ref": "#/components/schemas/ScalingSchedule"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request cannot be processed due to a client error. Please verify your request parameters and try again.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "number",
                      "description": "HTTP status code.",
                      "example": 400
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "An internal server error has occurred. If this issue persists, please contact ClickHouse Cloud support for assistance.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "description": "HTTP status code.",
                      "example": 500
                    },
                    "error": {
                      "type": "string",
                      "description": "Detailed error description."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Unique id assigned to every request. UUIDv4",
                      "format": "uuid"
                    }
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Service"
        ],
        "x-badges": [
          {
            "name": "Beta",
            "position": "after"
          }
        ]
      },
      "post": {
        "summary": "Create or replace service autoscaling schedule",
        "description": "**Disclaimer:** This beta endpoint is evolving; the API contract may change. <br /><br /> Creates or fully replaces the autoscaling schedule for a service. Pass an empty `entries` array to clear the schedule — a subsequent GET will return 404, and the response will contain an empty `baseConfig` (all fields absent). The base scaling config (applied when no entry is active) is managed separately via the `replicaScaling` endpoint. Requires the scheduled autoscaling feature to be enabled for the organization.",
        "operationId": "scalingScheduleUpsert",
        "parameters": [
          {
            "in": "path",
            "name": "organizationId",
            "description": "ID of the organization that owns the service.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "in": "path",
            "name": "serviceId",
            "description": "ID of the service.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ScalingSchedulePostRequest"
              }
            }
          }
        },
        "responses": {
[...]
