.btns {
	align-items: center;
	display: grid;
	column-gap: $spacer * 3;
	row-gap: $spacer * 2;
	grid-auto-flow: column;
	justify-content: center;

	@media screen and (max-width: 767.98px) {
		grid-auto-flow: row;
	}
}

.btns.btns-lg {
	column-gap: $spacer * 5;
}

.btns.is-2 {
	grid-template-columns: 1fr 1fr;

	@media screen and (max-width: 767.98px) {
		grid-template-columns: 1fr;
	}
}

.btns.is-3 {
	grid-template-columns: 1fr 1fr 1fr;

	@media screen and (max-width: 767.98px) {
		grid-template-columns: 1fr;
	}
}
