.btn {
	@media screen and (max-width: 978.98px) {
		padding: 8px 16px;
	}
}

.btn-lg {
	@media screen and (max-width: 978.98px) {
		padding: 12px 24px;
	}
}

.btn-primary {
	color: $black;

	&:active,
	&:hover {
		color: $black;
	}
}

.btn-outline-primary {
	background: map-get($theme-colors, "primary-light");
	border-color: map-get($theme-colors, "primary");
	color: $black;

	&:active,
	&:hover {
		background: map-get($theme-colors, "primary");
		border-color: map-get($theme-colors, "primary");
		color: $black;
	}
}

.btn-secondary {
	border-color: map-get($theme-colors, "secondary");
	color: map-get($theme-colors, "secondary-light");

	&:active,
	&:hover {
		background: map-get($theme-colors, "secondary-light");
		border-color: map-get($theme-colors, "secondary");
		color: map-get($theme-colors, "secondary");
	}
}

.btn-outline-secondary {
	background: map-get($theme-colors, "secondary-light");
	border-color: map-get($theme-colors, "secondary");
	color: map-get($theme-colors, "secondary");

	&:active,
	&:hover {
		background: map-get($theme-colors, "secondary");
		border-color: map-get($theme-colors, "secondary");
		color: map-get($theme-colors, "secondary-light");
	}
}

.btn-tertiary {
	border-color: map-get($theme-colors, "tertiary");
	color: $white;

	&:active,
	&:hover {
		background: map-get($theme-colors, "tertiary");
		border-color: map-get($theme-colors, "tertiary");
		color: $white;
	}
}

.btn-outline-tertiary {
	background: map-get($theme-colors, "tertiary-light");
	color: map-get($theme-colors, "tertiary");

	&:active,
	&:hover {
		background: map-get($theme-colors, "tertiary");
		color: $white;
	}
}
