.card {
	box-shadow: $box-shadow;
	overflow: hidden;
	position: relative;
	transition: box-shadow 0.2s, transform 0.2s;
	width: 100%;

	&-body {
		position: relative;
		z-index: 10;
	}
}

.card.is-large .card-body {
	padding: 40px;
}

.card.bg-primary-light {
	border-color: $color-brand-primary;
}

.card.has-dark-border {
	border-color: $gray-700;
}

.card.has-pattern:before,
.card.has-pattern:after {
	background-repeat: no-repeat;
	background-size: auto 100%;
	bottom: 0;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	width: 72px;
}

.card.has-pattern:before {
	background-image: url(#{'../images/backgrounds/bg-card-pattern-blue-1.png'});
	background-position: left top;
	left: 0;
}

.card.has-pattern:after {
	background-image: url(#{'../images/backgrounds/bg-card-pattern-blue-2.png'});
	background-position: right top;
	right: 0;
}

a.card:active,
a.card:hover,
.card.has-hover:active,
.card.has-hover:hover {
	box-shadow: $box-shadow-lg;
	transform: translateY(-8px);
}

a.card:after,
.card.has-hover:after,
.card.has-highlight:after {
	content: '';
	display: block;
	height: 8px;
	margin-top: auto;
	transition: background 0.2s;
	width: 100%;
}

a.card:active:after,
a.card:hover:after,
.card.has-hover:active:after,
.card.has-hover:hover:after,
.card.has-highlight:after {
	background: $color-primary-accent-light-blue;
}
