.case-study-cards {
	column-gap: $grid-gutter-width;
	display: grid;
	grid-template-columns: 1fr;
	row-gap: 40px;
	padding-bottom: 40px;
	position: relative;

	> div {
		align-items: stretch;
		display: flex;
	}

	&:before {
		background: $gray-500;
		bottom: 0;
		content: '';
		display: block;
		left: 20px;
		position: absolute;
		top: 40px;
		width: 100vw;
	}

	@media screen and (min-width: 980px) {
		grid-template-columns: repeat(2, minmax(0, 1fr));
		row-gap: 80px;
		padding-bottom: 120px;

		&:before {
			left: -40px;
			top: 120px;
		}
	}
}

.case-study-card {
	align-items: stretch;
	flex-direction: row;
	flex-shrink: 0;
	left: 0;
	transition: 0.2s box-shadow, 0.4s left, 0.4s width, 0s z-index;
	transition-delay: 0s, 0.6s, 0.6s, 0s;
	width: 100%;
	z-index: 2;

	@media screen and (max-width: 979.98px) {
		.row {
			min-height: 0 !important;
		}
	}

	@media screen and (min-width: 980px) {

		&:active,
		&:hover {
			box-shadow: $box-shadow-lg;
		}
	
		&:not(.is-open) {
			cursor: pointer;
		}
	
		&.is-open {
			transform: none !important;
			transition-delay: 0s, 0s, 0s, 0s;
			width: calc(200% + #{$grid-gutter-width});
			z-index: 10;
		}
	
		&.is-closing {
			z-index: 10;
		}
	
		&.open-left.is-open {
			left: calc(-100% - #{$grid-gutter-width});
		}
		
		&:before {
			background: no-repeat url(#{'../images/backgrounds/bg-card-pattern-red.png'});
			background-position: right center;
			background-size: contain;
			content: '';
			display: block;
			height: calc(100% - 80px);
			max-height: 224px;
			max-width: 234px;
			position: absolute;
			right: 0;
			top: 40px;
			transform: translateX(30%);
			transition: 0.4s transform;
			transition-delay: 0.6s;
			width: 100%;
			z-index: 1;

			@media screen and (min-width: 1240px) {
				transform: translateX(10%);
			}
		}
	
		&.is-open:before {
			transform: translateX(60%);
			transition-delay: 0s;
		}
	
		&-wrap {
			align-items: stretch;
			display: flex;
			flex-shrink: 0;
			min-height: 304px;
			position: relative;
			transition: 0.4s width;
			transition-delay: 0.6s;
			width: calc(200% + #{2px + $grid-gutter-width});
			z-index: 2;
		}
	
		&.is-open &-wrap {
			transition-delay: 0s;
			width: 100%;
		}
	
		&-body {
			display: flex;
			flex-direction: column;
			padding-right: 80px !important;
	
			> .row {
				align-self: stretch;
			}
		}
	
		&-toggle {
			background: $white;
			box-shadow: $box-shadow;
			border-radius: 100%;
			cursor: pointer;
			height: 56px;
			position: relative;
			width: 56px;
	
			&:before,
			&:after {
				background: $color-primary-accent-blue;
				content: '';
				display: block;
				height: 4px;
				left: calc(50% - 15px);
				position: absolute;
				top: calc(50% - 2px);
				transition: opacity 0.2s, transform 0.2s;
				width: 30px;
			}
	
			&:after {
				transform: rotate(90deg);
			}
		}
	
		&.is-open &-toggle:before {
			opacity: 0;
			transform: rotate(-90deg);
		}
	
		&.is-open &-toggle:after {
			transform: rotate(0);
		}
	
		.col-lg-3,
		.col-lg-auto {
			opacity: 0;
			transform: translateX(24px);
			transition: 0.4s opacity, 0.4s transform;
		}
	
		.col-lg-3 {
			transition-delay: 0s;
		}
	
		.col-lg-auto {
			transition-delay: 0.2s;

			@media screen and (min-width: 980px) {
				max-width: 605px;
				width: calc(100% - 319px);
			}
		}
	
		&.is-open .col-lg-3,
		&.is-open .col-lg-auto {
			opacity: 1;
			transform: none;
		}
	
		&.is-open .col-lg-3 {
			transition-delay: 0.4s;
		}
	
		&.is-open .col-lg-auto {
			transition-delay: 0.2s;
		}
	}
}
