.navbar-clickhouse {
    border-bottom: 4px solid $gray-100;
	height: 142px;

	> .container {
		flex-wrap: wrap;
	}
}

.navbar {
	&-super {
		flex-shrink: 0;
		width: 100%;

		ul {
			list-style: none;
		}

		li:not(:last-child) {
			margin-bottom: 0;
			margin-right: 24px;
		}

		a {
			align-items: center;
			color: $black;
			display: flex;
			font-size: $font-size-sm;

			&:active,
			&:hover {
				color: $color-primary-accent-blue;
				text-decoration: none;
			}
		}

		img {
			flex-shrink: 0;
			margin-right: $spacer * 0.5;
		}
	}

	&-brand-clickhouse {
		background: no-repeat url(#{"../images/logo-clickhouse.svg"});
		background-size: contain;
		flex-shrink: 0;
		height: 28px;
		margin-right: 48px;
		padding: 0;
		width: 180px;
	}

	&-nav {
		align-items: center;
		height: $navbar-nav-height;
	}

	.nav-item:not(:last-child) {
		margin-bottom: 0;
		margin-right: 24px;
	}
	
	.nav-link {
		color: $black;
	
		&:active,
		&:hover {
			color: $color-primary-accent-blue;
		}
	}

	.navbar-nav {
		flex-direction: row;
	}

	@media screen and (max-width: 978.98px) {
		> .container {
			padding-left: 20px;
			padding-right: 20px;
		}

		.navbar-toggler {
			height: 24px;
			padding: 0;
			width: 24px;

			&:focus {
				outline: none;
			}
		}

		.navbar-toggler-icon {
			background: no-repeat url(#{"../images/icons/icon-menu.svg"});
			background-position: center;
			background-size: contain;
			height: 24px;
			width: 24px;
		}
		
		.navbar-collapse {
			background: $white;
			border-bottom: 4px solid $gray-100;
			height: 56px;
			left: 0;
			padding: 0 20px 16px;
			position: absolute;
			right: 0;
			top: 100%;
		}

		.nav-link {
			font-size: $font-size-sm;
			white-space: nowrap;
		}
	}

	@media screen and (max-width: 615.98px) {
		.navbar-collapse {
			height: auto;
		}

		.navbar-nav {
			flex-direction: column;
			height: auto;
		}

		.nav-item:not(:last-child) {
			margin-bottom: 16px;
			margin-right: 0;
		}
	}

	@media screen and (max-width: 399.98px) {
		height: $navbar-height-xl;
	}
}


.navbar {
	@for $i from 1 through 8 {
		&.py-#{$i} {
			+ div {
				.anchor-fixer {
					:target {
						@media screen and (min-width: 616px) {
							scroll-margin-top: $navbar-nav-height + $spacer * $i * 2;
						}
					}
				}
			}
		}
	}
	+ div {
		.anchor-fixer {
			:target {
				@media screen and (max-width: 615.98px) {
					scroll-margin-top: 73px;
				}
				@media screen and (max-width: 399.98px) {
					scroll-margin-top: $navbar-height-xl;
				}
			}
		}
	}
}
