.photo-frame {
	background: rgba($white, 0.6);
	//border: 6px solid $color-primary-accent-blue;
	border-radius: 100%;
	box-shadow: $box-shadow;
	display: block;
	margin-bottom: $spacer * 3;
	max-width: 160px;
	overflow: hidden;
	position: relative;
	width: 100%;

	&:before {
		content: '';
		display: block;
		padding-bottom: 100%;
		width: 100%;
	}

	img {
		display: block;
		height: 100%;
		left: 0;
		object-fit: contain;
		object-position: center;
		position: absolute;
		top: 0;
		width: 100%;
	}
}
