.social-icons {
	align-items: center;
	display: flex;

	> a {
		aspect-ratio: 24 / 24; 
		background: $gray-700;
		display: block;
		height: 24px; 
		width: 24px; 
		mask-position: center; 
		mask-repeat: no-repeat;
		mask-size: contain;
		transition: 0.2s background;

		&:active,
		&:hover {
			background: $black;
		}
	}

	> a + a {
		margin-left: $spacer * 4;
	}

	&-facebook {
		mask-image: url('/images/icons/icon-facebook-gray.svg');
	}

	&-twitter {
		mask-image: url('/images/icons/icon-twitter-gray.svg');
		width: 31px;
	}

	&-linkedin {
		mask-image: url('/images/icons/icon-linkedin-gray.svg');
	}

	&-linkedin-alt {
		mask-image: url('/images/icons/icon-linkedin-alt-gray.svg');
	}
}

.social-icons.size-small {
	> a {
		height: 20px; 
		width: 20px;

		&:active,
		&:hover {
			background: $black;
		}
	}

	> a + a {
		margin-left: $spacer * 2;
	}
}
