.tabs {
	position: relative;

	&:before {
		background: $white;
		border-radius: ($border-radius - $border-width) ($border-radius - $border-width) 0 0;
		content: '';
		display: block;
		height: $border-radius;
		left: 1px;
		position: absolute;
		right: 1px;
		top: 68px;
		z-index: 10;
		
		@media screen and (min-width: 1240px) {
			top: 76px;
		}
	}

	&-body {
		background: $white;
		border-color: $gray-700;
		border-radius: $border-radius;
		border-style: solid;
		border-width: $border-width;
		box-shadow: $box-shadow;
		padding: $spacer * 3;

		@media screen and (min-width: 980px) {
			padding: $spacer * 4;
		}
		
		@media screen and (min-width: 1240px) {
			padding: $spacer * 5;
		}
	}

	.nav-tabs {
		border-bottom: 0;
		flex-wrap: nowrap;
		height: 68px + $border-radius;
		margin: -20px -20px #{-($border-radius + $border-width)};
		mask-image: linear-gradient(90deg, transparent 0%, #000 20px, #000 calc(100% - 20px), transparent 100%);
		overflow: scroll;
		overflow-x: scroll;
		overflow-y: visible;
		padding: 20px 20px 0;
		position: relative;

		@media screen and (min-width: 940px) {
			overflow: visible;
		}
		
		@media screen and (min-width: 1240px) {
			height: 76px + $border-radius;
		}
	}

	.nav-link {
		align-items: center;
		border-bottom: 0;
		color: $gray-700;
		display: flex;
		font-size: $font-size-sm;
		flex-shrink: 0;
		height: 48px + $border-radius;
		justify-content: center;
		padding: 0 12px $border-radius;
		text-align: center;
		white-space: nowrap;
		
		@media screen and (min-width: 1240px) {
			height: 56px + $border-radius;
			padding: 0 16px $border-radius;
		}
	}

	.nav-link.active {
		background: $white;
		box-shadow: 0 -4px 8px rgba($gray-700, .1);
		font-weight: $font-weight-bold;
		padding: 0 16px $border-radius;
		
		@media screen and (min-width: 980px) {
			padding: 0 24px $border-radius;
		}
		
		@media screen and (min-width: 1240px) {
			padding: 0 32px $border-radius;
		}
	}
}

.tab-pane {
	pre {
		background: $black;
		border-radius: 16px;
		color: $white;
		padding: ($spacer * 3) ($spacer * 2);
		
		@media screen and (min-width: 1240px) {
			padding: ($spacer * 4) ($spacer * 3);
		}
	}
}
