ul {
	list-style-type: square;
	padding-left: 1.25em;

	li:not(:last-child) {
		margin-bottom: ($spacer * 2);
	}

	li::marker {
		color: $color-brand-secondary;
	}
}

ul.has-separators {
	list-style: none;
	padding: 0;

	li:not(:last-child) {
		border-bottom: 4px solid $gray-100;
		margin-bottom: $spacer * 3;
		padding-bottom: $spacer * 3;
	}
}
