<clickhouse>
    <user_defined_zookeeper_path>/clickhouse/udf</user_defined_zookeeper_path>
    <remote_servers>
        <default>
            <shard>
                <replica>
                    <host>node1</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <host>node2</host>
                    <port>9000</port>
                </replica>
            </shard>
        </default>
    </remote_servers>
</clickhouse>
