PyMySQL
aerospike
avro
cassandra-driver
confluent-kafka
dicttoxml
docker
docker-compose
grpcio
grpcio-tools
kafka-python
kazoo
minio
lz4
protobuf
psycopg2-binary
pymongo
pytz
pytest
pytest-timeout
redis
tzlocal==2.1
urllib3
requests-kerberos
dict2xml
hypothesis
pyhdfs
pika
meilisearch
nats-py
