<clickhouse>
    <profiles>
        <default>
            <allow_drop_detached>1</allow_drop_detached>
            <allow_experimental_database_replicated>1</allow_experimental_database_replicated>
            <allow_experimental_alter_materialized_view_structure>1</allow_experimental_alter_materialized_view_structure>
            <allow_experimental_object_type>0</allow_experimental_object_type>
            <allow_suspicious_codecs>0</allow_suspicious_codecs>
        </default>
    </profiles>
    <users>
        <default>
            <profile>default</profile>
        </default>
    </users>
</clickhouse>
