<?xml version="1.0"?>
<clickhouse>
    <logger>
        <level>trace</level>
        <log>/var/log/clickhouse-server/clickhouse-server.log</log>
        <errorlog>/var/log/clickhouse-server/clickhouse-server.err.log</errorlog>
        <size>1000M</size>
        <count>10</count>
    </logger>

    <storage_configuration>
        <disks>
            <disk_s3>
                <type>s3</type>
                <endpoint>http://minio1:9001/root/data/</endpoint>
                <access_key_id>minio</access_key_id>
                <secret_access_key>minio123</secret_access_key>
            </disk_s3>
            <disk_memory>
                <type>memory</type>
            </disk_memory>
            <disk_encrypted>
                <type>encrypted</type>
                <disk>disk_s3</disk>
                <key>1234567812345678</key>
            </disk_encrypted>
        </disks>
    </storage_configuration>

    <tcp_port>9000</tcp_port>
    <listen_host>127.0.0.1</listen_host>

    <openSSL>
        <client>
            <cacheSessions>true</cacheSessions>
            <verificationMode>none</verificationMode>
            <invalidCertificateHandler>
                <name>AcceptCertificateHandler</name>
            </invalidCertificateHandler>
        </client>
    </openSSL>

    <max_concurrent_queries>500</max_concurrent_queries>
    <mark_cache_size>5368709120</mark_cache_size>
    <path>./clickhouse/</path>
    <users_config>users.xml</users_config>
</clickhouse>
