<clickhouse>
    <remote_servers  >
        <!-- Test only shard config for testing distributed storage -->
        <simple>
            <shard>
                <replica>
                    <host>localhost</host>
                    <port>9000</port>
                </replica>
            </shard>
        </simple>
    </remote_servers>

    <local_cache_for_remote_fs>
        <enable>true</enable>
        <root_dir>/tmp/clickhouse_local_cache</root_dir>
        <limit_size>207374182400</limit_size>
        <bytes_read_befor_flush>1048576</bytes_read_befor_flush>
    </local_cache_for_remote_fs>
    
    <hdfs>
	    <libhdfs3_conf>/etc/clickhouse-server/extra_conf.d/hdfs-site.xml</libhdfs3_conf>
    </hdfs>

    <metric_log>
        <database>system</database>
        <table>metric_log</table>
        <flush_interval_milliseconds>1000</flush_interval_milliseconds>
        <collect_interval_milliseconds>1000</collect_interval_milliseconds>
    </metric_log>

</clickhouse>
