<clickhouse>
    <tcp_with_proxy_port>9011</tcp_with_proxy_port>

    <remote_servers>
        <cluster_with_secret>
            <secret>secret</secret>
            <shard>
                <replica>
                    <host>127.0.0.1</host>
                    <port>9000</port>
                </replica>
            </shard>
        </cluster_with_secret>
    </remote_servers>
</clickhouse>
