@font-face
{
    font-family: 'Yandex Sans Display Web';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;

    src: url(https://yastatic.net/adv-www/_/H63jN0veW07XQUIA2317lr9UIm8.eot);
    src: url(https://yastatic.net/adv-www/_/H63jN0veW07XQUIA2317lr9UIm8.eot?#iefix) format('embedded-opentype'),
    url(https://yastatic.net/adv-www/_/sUYVCPUAQE7ExrvMS7FoISoO83s.woff2) format('woff2'),
    url(https://yastatic.net/adv-www/_/v2Sve_obH3rKm6rKrtSQpf-eB7U.woff) format('woff'),
    url(https://yastatic.net/adv-www/_/PzD8hWLMunow5i3RfJ6WQJAL7aI.ttf) format('truetype'),
    url(https://yastatic.net/adv-www/_/lF_KG5g4tpQNlYIgA0e77fBSZ5s.svg#YandexSansDisplayWeb-Regular) format('svg');
}

body
{
    font: 14px Arial, sans-serif;

    background-color: #def;
    background-image:         linear-gradient(bottom, rgb(255,238,204) 17%, rgb(115,255,250) 54%, rgb(176,216,255) 77%);
    background-image:      -o-linear-gradient(bottom, rgb(255,238,204) 17%, rgb(115,255,250) 54%, rgb(176,216,255) 77%);
    background-image:    -moz-linear-gradient(bottom, rgb(255,238,204) 17%, rgb(115,255,250) 54%, rgb(176,216,255) 77%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,238,204) 17%, rgb(115,255,250) 54%, rgb(176,216,255) 77%);
    background-image:     -ms-linear-gradient(bottom, rgb(255,238,204) 17%, rgb(115,255,250) 54%, rgb(176,216,255) 77%);
    background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(.17, rgb(255,238,204)),
    color-stop(.54, rgb(115,255,250)),
    color-stop(.77, rgb(176,216,255))
    );
}

h1
{
    font-family: 'Yandex Sans Display Web', Arial, sans-serif;
    margin: 0;
}

h2
{
    font-family: 'Yandex Sans Display Web', Arial, sans-serif;
	margin-top: 30px;
	margin-bottom: 10px;
}

h3
{
    font-family: 'Yandex Sans Display Web', Arial, sans-serif;
}

p
{
    line-height: 20px;
    white-space: pre-wrap;
}

a
{
    text-decoration: none;
    color: #06f;
}

a:hover
{
    text-decoration: underline;
    color: #f40;
}

.island
{
    width: 1000px;
    margin: 10px auto;
    padding: 20px;

    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 8px 25px -5px rgba(0, 0, 0, .25);
}

.title
{
    font-size: 100px;
    font-weight: normal;

    margin: 0;

    text-align: center;
}

.title_link, .title_link:active, .title_link:visited, .title_link:link, .title_link:hover
{
	text-decoration: none;
	color: #000;
}

.subtitle
{
    font: normal 50px 'Yandex Sans Display Web', Arial, sans-serif;

    margin: 0;

    text-align: center;
}

.signature
{
    margin: 0;

    text-align: right;
}

.terminal
{
    font-family: Monospace;
    font-size: 9pt;

    padding: 3px;

    white-space: pre-wrap;

    color: #b2b2b2;
    border: 1px solid #aaa;
    background: #000;
}

.text-example
{
    font-family: Monospace;
    font-size: 9pt;

    padding: 3px 5px;

    white-space: pre-wrap;

    border: 1px solid #ddd;
    background: #fec;
}

.inline-example
{
    font-family: Monospace;
    font-size: 9pt;

    padding: 3px 5px;

    background: #fec;

    vertical-aling: middle;
}

.informer
{
    width: 1000px;
    margin: 20px auto 10px auto;

    text-align: right;
}

.show-example
{
    display: none;
}

.show-hide-link
{
    color: #06c;
    border-bottom: 1px dotted #06c;
}

.show-hide-link:hover
{
    cursor: pointer;

    color: #f40;
    border-bottom: 1px dotted #f40;
}

.head-anchor
{
    float: right;
    color: #aaa;
}

.head-anchor:hover
{
    text-decoration: none;
}

#contents
{
    line-height: 20px;
}

/* Цвета в терминале */
.c0, .c1, .c2, .c3, .c4, .c5, .c6, .c7, .c8, .c9, .c10, .c11, .c12, .c13, .c14, .c15
{
    font-style: normal;
}

.c8, .c9, .c10, .c11, .c12, .c13, .c14, .c15
{
    font-weight: bold;
}

.c0 { color: #000; }
.c1 { color: #b21818; }
.c2 { color: #18b218; }
.c3 { color: #b26818; }
.c4 { color: #1818b2; }
.c5 { color: #b218b2; }
.c6 { color: #18b2b2; }
.c7 { color: #b2b2b2; }
.c8 { color: #686868; }
.c9 { color: #ff5454; }
.c10 { color: #54ff54; }
.c11 { color: #ffff54; }
.c12 { color: #5454ff; }
.c13 { color: #ff54ff; }
.c14 { color: #54ffff; }
.c15 { color: #fff; }

.orange {
    fill: #fc0;
}
.red {
    fill: #f00
}
