*.diff
*.patch
*.orig
*.rej

*~
*.a
*.lo
*.o
*.dylib

*.gcda
*.gcno
*.gcov

/example
/example64
/examplesh
/libz.so*
/minigzip
/minigzip64
/minigzipsh
/zlib.pc
/CVE-2003-0107

.DS_Store
*.obj
*.exe
*.pdb
*.exp
*.lib
*.dll
*.res
foo.gz
*.manifest

CMakeCache.txt
CMakeFiles
Testing
*.cmake
*.stackdump
zconf.h
zconf.h.cmakein
zconf.h.included
ztest*

configure.log
a.out

/arch/arm/Makefile
/arch/generic/Makefile
/arch/x86/Makefile
