<?xml version="1.0"?>

<clickhouse>
    <http_handlers>
        <rule>
            <methods>GET</methods>
            <headers><XXX>xxx</XXX></headers>
            <url>/test_replicas_status</url>
            <handler><type>replicas_status</type></handler>
        </rule>
    </http_handlers>
</clickhouse>
