<clickhouse>
    <database_atomic_delay_before_drop_table_sec>10</database_atomic_delay_before_drop_table_sec>
    <allow_moving_table_directory_to_trash>1</allow_moving_table_directory_to_trash>
    <merge_tree>
        <initialization_retry_period>10</initialization_retry_period>
    </merge_tree>
    <max_database_replicated_create_table_thread_pool_size>50</max_database_replicated_create_table_thread_pool_size>
    <allow_experimental_transactions>42</allow_experimental_transactions>
    <async_load_databases>false</async_load_databases>
    <named_collections>
        <postgres1>
            <user>postgres</user>
            <password>ClickHouse_PostgreSQL_P@ssw0rd</password>
            <host>postgres1</host>
            <port>5432</port>
            <database>postgres_database</database>
        </postgres1>
        <postgres2>
            <user>postgres</user>
            <password>ClickHouse_PostgreSQL_P@ssw0rd</password>
            <host>postgres1</host>
            <port>1111</port>
            <database>postgres_database</database>
        </postgres2>
    </named_collections>
    <distributed_ddl>
        <path>/clickhouse/queue/</path>
    </distributed_ddl>
    <remote_servers>
        <default>
            <shard>
                <replica>
                    <host>node1</host>
                    <port>9000</port>
                </replica>
                <replica>
                    <host>node2</host>
                    <port>9000</port>
                </replica>
            </shard>
        </default>
    </remote_servers>
</clickhouse>
