<clickhouse>
    <logger>
        <level>trace</level>
        <log>/var/log/clickhouse-server/clickhouse-server.log</log>
        <errorlog>/var/log/clickhouse-server/clickhouse-server.err.log</errorlog>
        <size>1000M</size>
        <count>10</count>
    </logger>

    <storage_configuration>
        <disks>
            <disk_local1>
                <type>local</type>
                <path>/var/lib/clickhouse/disk1/</path>
            </disk_local1>
            <disk_local2>
                <type>local</type>
                <path>/var/lib/clickhouse/disk2/</path>
            </disk_local2>
            <disk_local3>
                <type>local</type>
                <path>/var/lib/clickhouse/disk3/</path>
            </disk_local3>
        </disks>
        <policies>
            <disk_local1>
                <volumes>
                    <main>
                        <disk>disk_local1</disk>
                    </main>
                </volumes>
            </disk_local1>
            <disk_local2>
                <volumes>
                    <main>
                        <disk>disk_local2</disk>
                    </main>
                </volumes>
            </disk_local2>
            <disk_local3>
                <volumes>
                    <main>
                        <disk>disk_local3</disk>
                    </main>
                </volumes>
            </disk_local3>
        </policies>
    </storage_configuration>

    <max_concurrent_queries>500</max_concurrent_queries>
    <path>./clickhouse/</path>
    <users_config>users.xml</users_config>
</clickhouse>
