[Unit]
Description=ClickHouse Server (analytic DBMS for big data)

[Service]
Type=simple
User=clickhouse
Group=clickhouse
PermissionsStartOnly=true
Restart=always
RestartSec=30
ExecStartPre=-/usr/bin/chown clickhouse:clickhouse -R /etc/clickhouse-server
ExecStartPre=-/bin/chown clickhouse:clickhouse -R /etc/clickhouse-server
ExecStart=/usr/bin/clickhouse-server --config=/etc/clickhouse-server/config.xml
LimitCORE=infinity
LimitNOFILE=500000

[Install]
WantedBy=multi-user.target
