#!/bin/sh -e

. /usr/share/debconf/confmodule

db_fget clickhouse-server/default-password seen || true
password_seen="$RET"

if [ "$1" = "reconfigure" ]; then
    password_seen=false
fi

if [ "$password_seen" != "true" ]; then
    db_input high clickhouse-server/default-password || true
    db_go || true
fi
db_go || true
