Source: clickhouse
Section: database
Priority: optional
Maintainer: Alexey Milovidov <milovidov@yandex-team.ru>
Build-Depends: debhelper (>= 9),
               cmake3 | cmake,
               ninja-build,
               gcc-7, g++-7,
               libc6-dev,
               libmariadbclient-dev | default-libmysqlclient-dev | libmysqlclient-dev,
               libicu-dev,
               libltdl-dev,
               libreadline-dev,
               libssl-dev,
               unixodbc-dev
Standards-Version: 3.9.8

Package: clickhouse-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, clickhouse-common-static (= ${binary:Version})
Replaces: clickhouse-compressor
Conflicts: clickhouse-compressor
Description: Client binary for clickhouse
 Yandex ClickHouse is a column-oriented database management system
 that allows generating analytical data reports in real time.
 .
 This package provides clickhouse-client , clickhouse-local and clickhouse-benchmark

Package: clickhouse-common-static
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: clickhouse-server-base
Provides: clickhouse-server-base
Conflicts: clickhouse-server-base
Description: Common files for clickhouse
 Yandex ClickHouse is a column-oriented database management system
 that allows generating analytical data reports in real time.
 .
 This package provides common files for both clickhouse server and client

Package: clickhouse-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, clickhouse-common-static (= ${binary:Version}), adduser, tzdata
Replaces: clickhouse-server-common
Provides: clickhouse-server-common
Conflicts: clickhouse-server-common
Description: Server binary for clickhouse
 Yandex ClickHouse is a column-oriented database management system
 that allows generating analytical data reports in real time.
 .
 This package provides clickhouse common configuration files

Package: clickhouse-common-static-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends}, clickhouse-common-static (= ${binary:Version})
Replaces: clickhouse-common-dbg
Provides: clickhouse-common-dbg
Conflicts: clickhouse-common-dbg
Description: debugging symbols for clickhouse-common-static
 This package contains the debugging symbols for clickhouse-common.

Package: clickhouse-test
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, clickhouse-client, bash, expect, python, python-lxml, python-termcolor, curl, perl, sudo, openssl
Description: Clickhouse tests
