Source: clickhouse
Priority: optional
Maintainer: Alexey Milovidov <milovidov@yandex-team.ru>
Build-Depends: debhelper (>= 5), cmake, gcc-6, g++-6,
               libicu-dev, libreadline-dev, libmysqlclient-dev, unixodbc-dev,
               libglib2.0-dev, libltdl-dev, libssl-dev
Standards-Version: 3.8.0
Section: libs



Package: clickhouse-compressor
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: clickhouse-compressor




Package: clickhouse-client
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, clickhouse-server-base (= ${binary:Version})
Description: clickhouse-client
 ClickHouse client and additional tools such as clickhouse-local and clickhouse-benchmark.



Package: clickhouse-server-base
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: clickhouse-server-base
 clickhouse-server binary



Package: clickhouse-server-common
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, clickhouse-server-base (= ${binary:Version})
Description: clickhouse-server-common
 Common configuration files for clickhouse-server-base package
