Source: clickhouse
Section: database
Priority: optional
Maintainer: Alexey Milovidov <milovidov@yandex-team.ru>
Build-Depends: debhelper (>= 9),
               cmake3 | cmake,
               gcc-7, g++-7,
               libc6-dev,
               libmariadbclient-dev | default-libmysqlclient-dev | libmysqlclient-dev,
               libicu-dev,
               libltdl-dev,
               libreadline-dev,
               libssl-dev,
               unixodbc-dev
Standards-Version: 3.8.0

Package: clickhouse-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, clickhouse-server-base (= ${binary:Version})
Replaces: clickhouse-compressor
Conflicts: clickhouse-compressor
Description: Client binary for clickhouse
 Yandex ClickHouse is a column-oriented database management system
 that allows generating analytical data reports in real time.
 .
 This package provides clickhouse-client , clickhouse-local and clickhouse-benchmark

Package: clickhouse-server-base
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, tzdata
Description: Server binary for clickhouse
 Yandex ClickHouse is a column-oriented database management system
 that allows generating analytical data reports in real time.
 .
 This package provides clickhouse common configuration files

Package: clickhouse-server-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, clickhouse-server-base (= ${binary:Version})
Description: clickhouse-server-common
 Common configuration files for clickhouse-server-base package

Package: clickhouse-common-dbg
Architecture: any
Section: debug
Priority: extra
Depends: ${misc:Depends}, clickhouse-server-base (= ${binary:Version})
Description: debugging symbols for clickhouse-server-base
 This package contains the debugging symbols for clickhouse-server-base.

Package: clickhouse-test
Priority: extra
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, clickhouse-client, bash, expect, python, python-lxml, python-termcolor, curl, perl, sudo
Description: Clickhouse tests
