<?xml version="1.0"?>
<yandex>
    <profiles>
        <default>
            <max_memory_usage>10000000000</max_memory_usage>
            <use_uncompressed_cache>0</use_uncompressed_cache>
            <insert_quorum>2</insert_quorum>
            <insert_quorum_parallel>0</insert_quorum_parallel>
            <select_sequential_consistency>1</select_sequential_consistency>
        </default>
    </profiles>
</yandex>
