alabaster==0.7.10
Babel==2.5.1
backports-abc==0.5
beautifulsoup4==4.6.3
certifi==2017.11.5
chardet==3.0.4
click==6.7
CommonMark==0.5.4
cssmin==0.2.0
docutils==0.14
futures==3.1.1
htmlmin==0.1.12
idna==2.6
imagesize==0.7.1
Jinja2==2.10
jsmin==2.2.2
livereload==2.5.1
Markdown==2.6.11
MarkupSafe==1.0
mkdocs==1.0.4
Pygments==2.2.0
python-slugify==1.2.6
pytz==2017.3
PyYAML==3.12
recommonmark==0.4.0
requests==2.21.0
singledispatch==3.4.0.3
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.5
sphinxcontrib-websupport==1.0.1
tornado==5.1
typing==3.6.2
Unidecode==1.0.23
urllib3==1.23
