alabaster==0.7.12
Babel==2.5.1
backports-abc==0.5
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
click==6.7
CommonMark==0.9.1
cssmin==0.2.0
docutils==0.16
futures==3.1.1
htmlmin==0.1.12
idna==2.9
imagesize==1.2.0
Jinja2==2.11.1
jsmin==2.2.2
livereload==2.5.1
Markdown==2.6.11
MarkupSafe==1.1.1
mkdocs==1.0.4
Pygments==2.5.2
python-slugify==1.2.6
pytz==2017.3
PyYAML==5.3
recommonmark==0.4.0
requests==2.23.0
singledispatch==3.4.0.3
six==1.14.0
snowballstemmer==1.2.1
Sphinx==1.6.5
sphinxcontrib-websupport==1.0.1
tornado==5.1
typing==3.7.4.1
Unidecode==1.1.1
urllib3==1.25.8
gitpython==2.1.14
