Babel==2.8.0
certifi==2020.4.5.2
chardet==3.0.4
googletrans==3.0.0
idna==2.9
Jinja2==2.11.2
pandocfilters==1.4.2
python-slugify==4.0.0
PyYAML==5.3.1
requests==2.23.0
text-unidecode==1.3
urllib3==1.25.9
