<?xml version="1.0"?>

<yandex>
    <http_handlers>
        <dynamic_query_handler>
            <method>POST</method>
            <url>/post_query_params_and_settings</url>
            <query_param_name>post_query_param</query_param_name>
        </dynamic_query_handler>

        <dynamic_query_handler>
            <method>GET</method>
            <url>/get_query_params_and_settings</url>
            <query_param_name>get_query_param</query_param_name>
        </dynamic_query_handler>

        <dynamic_query_handler>
            <method>GET</method>
            <url><![CDATA[/query_param_with_url/\w+/(?P<param_name_1>.+)/(?P<param_name_2>.+)]]></url>
            <query_param_name>query_param</query_param_name>
        </dynamic_query_handler>

        <dynamic_query_handler>
            <headers>
                <XXX>TEST_HEADER_VALUE</XXX>
                <PARAMS_XXX><![CDATA[(?P<param_name_1>.+)/(?P<param_name_2>.+)]]></PARAMS_XXX>
            </headers>
            <query_param_name>query_param</query_param_name>
        </dynamic_query_handler>
    </http_handlers>
</yandex>
