<clickhouse>
    <http_handlers>
        <url_routing_validation>
            <url>/write</url>
            <handler>
                <type>prometheus_write</type>
                <table>default.prometheus</table>
                <enable_table_name_url_routing>false</enable_table_name_url_routing>
            </handler>
        </url_routing_validation>
    </http_handlers>
</clickhouse>
