{% set prefetch_items = [
    ('/docs/en/', 'document')
] %}

{% extends "templates/base.html" %}

{% block extra_meta %}
<meta name="robots" content="noindex">
{% include "templates/common_fonts.html" %}
{% endblock %}

{% block nav %}

{% include "templates/global/nav.html" %}

{% endblock %}

{% block content %}

{% include "templates/support/hero.html" %}
{% include "templates/support/overview.html" %}
{% include "templates/support/form.html" %}

{% include "templates/global/newsletter.html" %}
{% include "templates/global/github_stars.html" %}

{% endblock %}
