<?xml version="1.0"?>
<yandex>
    <logger>
        <level>trace</level>
        <log>./data/clickhouse-server.log</log>
        <errorlog>./data/clickhouse-server.err.log</errorlog>
        <size>never</size>
        <count>50</count>
    </logger>

    <tcp_port>9001</tcp_port>
    <listen_host>localhost</listen_host>

    <openSSL>
        <client>
            <cacheSessions>true</cacheSessions>
            <verificationMode>none</verificationMode>
            <invalidCertificateHandler>
                <name>AcceptCertificateHandler</name>
            </invalidCertificateHandler>
        </client>
    </openSSL>

    <max_concurrent_queries>500</max_concurrent_queries>
    <mark_cache_size>5368709120</mark_cache_size>
    <path>./clickhouse/</path>
    <users_config>users.xml</users_config>

    <dictionaries_config>generated/*.xml</dictionaries_config>
</yandex>
