<!DOCTYPE html>
<html lang="{{ language or 'en'}}" {{ extra_html_attrs }}>
<head>
    {% include "templates/common_meta.html" %}
    {% block extra_meta %}{% endblock %}
    {% include "templates/common_css.html" %}

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-KF1LLRTQ5Q"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-KF1LLRTQ5Q');
    </script>
</head>
<body dir="{{ direction or 'ltr' }}" {{ extra_body_attrs }}>
{% block content %}{% endblock %}
{% include "templates/footer.html" %}
{% include "templates/common_js.html" %}
</body>
</html>
