<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1">

<title>{% if title %}{{ title }}{% else %}{{ _('ClickHouse DBMS') }}{% endif %}</title>

<link rel="shortcut icon" href="/favicon.ico"/>

<meta property="og:title" content="{% if title %}{{ title }}{% else %}{{ _('ClickHouse DBMS') }}{% endif %}"/>
<meta property="og:description"
      content="{% if description %}{{ description }}{% else %}{{ _('ClickHouse is an open source column-oriented database management system that allows generating analytical data reports in real time using SQL queries.') }}{% endif %}"/>
<meta property="og:type" content="website"/>
<meta property="og:image" content="https://clickhouse.tech/images/logo.png"/>


<meta property="twitter:title" content="{% if title %}{{ title }}{% else %}{{ _('ClickHouse DBMS') }}{% endif %}"/>

<meta name="description"
      content="{% if description %}{{ description }}{% else %}{{ _('ClickHouse is an open source distributed column-oriented database management system that allows generating analytical data reports in real time using SQL queries. Сreated by Yandex ClickHouse manages extremely large volumes of data in a stable and sustainable manner.') }}{% endif %}"/>
<meta name="keywords"
      content="ClickHouse, DBMS, OLAP, relational, analytics, analytical, big data, open-source, SQL, web-analytics" />
