<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width,initial-scale=1">

<title>ClickHouse — open source distributed column-oriented DBMS</title>

<link rel="shortcut icon" href="/favicon.ico"/>

<meta property="og:title" content="ClickHouse DBMS"/>
<meta property="og:description"
      content="ClickHouse is an open source column-oriented database management system that allows generating analytical data reports in real time using SQL queries."/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://clickhouse.tech"/>
<meta property="og:image" content="https://clickhouse.tech/images/logo.png"/>

<meta property="twitter:title" content="ClickHouse DBMS"/>

<meta name="description"
      content="ClickHouse is an open source distributed column-oriented database management system that allows generating analytical data reports in real time using SQL queries. Сreated by Yandex ClickHouse manages extremely large volumes of data in a stable and sustainable manner."/>
<meta name="keywords"
      content="ClickHouse, DBMS, OLAP, relational, analytics, analytical, big data, open-source, SQL, web-analytics" />
