{% if not no_footer %}
<div id="footer" class="bg-dark text-muted mt-5">
    <div class="container py-3">
        <div class="row">
            <div class="col-lg-8 text-left">
                <a href="https://github.com/ClickHouse/ClickHouse/blob/master/LICENSE"
                           rel="external nofollow" target="_blank" class="text-reset">
        ClickHouse source code is published under the Apache 2.0 License.</a> Software is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
        KIND, either express or implied.
            </div>
            <div class="col-lg-4 text-right">
                &copy; 2016–2020 <a href="https://yandex.com/company/" rel="external nofollow" target="_blank" class="text-muted">Yandex LLC</a>
            </div>
        </div>
    </div>
</div>
{% endif %}
