{% for suffix in ['', 'RFC'] -%}

select 'ipv4';
select port{{ suffix }}('http://127.0.0.1/');
select port{{ suffix }}('http://127.0.0.1:80');
select port{{ suffix }}('http://127.0.0.1:80/');
select port{{ suffix }}('//127.0.0.1:80/');
select port{{ suffix }}('127.0.0.1:80');

select 'hostname';
select port{{ suffix }}('http://foobar.com/');
select port{{ suffix }}('http://foobar.com:80');
select port{{ suffix }}('http://foobar.com:80/');
select port{{ suffix }}('//foobar.com:80/');
select port{{ suffix }}('foobar.com:80');

select 'default-port';
select port{{ suffix }}('http://127.0.0.1/', toUInt16(80));
select port{{ suffix }}('http://foobar.com/', toUInt16(80));

-- unsupported
/* ILLEGAL_TYPE_OF_ARGUMENT */ select port(toFixedString('', 1)); -- { serverError 43 }
/* ILLEGAL_TYPE_OF_ARGUMENT */ select port{{ suffix }}('', 1); -- { serverError 43 }
/* NUMBER_OF_ARGUMENTS_DOESNT_MATCH */ select port{{ suffix }}('', 1, 1); -- { serverError 42 }

select 'host-no-dot';
select port{{ suffix }}('//foobar:80/');

select 'query-fragment';
select port{{ suffix }}('http://foobar.com:8080?x=1');
select port{{ suffix }}('http://foobar.com:8080#fragment');

{%- endfor %}

--
-- Known limitations of domain() (getURLHost())
--
select 'ipv6';
select port('http://[2001:db8::8a2e:370:7334]/');
select port('http://[2001:db8::8a2e:370:7334]:80');
select port('http://[2001:db8::8a2e:370:7334]:80/');
select port('//[2001:db8::8a2e:370:7334]:80/');
select port('[2001:db8::8a2e:370:7334]:80');
select port('2001:db8::8a2e:370:7334:80');

-- portRFC() (getURLHostRFC()) does not have the limitation above and supports IPv6 hosts in brackets
select 'ipv6-RFC';
select portRFC('http://[2001:db8::8a2e:370:7334]/');
select portRFC('http://[2001:db8::8a2e:370:7334]:80');
select portRFC('http://[2001:db8::8a2e:370:7334]:80/');
select portRFC('//[2001:db8::8a2e:370:7334]:80/');
select portRFC('[2001:db8::8a2e:370:7334]:80');
select portRFC('2001:db8::8a2e:370:7334:80');
select portRFC('https://[2001:db8::8a2e:370:7334]:80/path?q=1');
select portRFC('http://[2001:db8::8a2e:370:7334]:80/', toUInt16(443));
select portRFC('http://[2001:db8::8a2e:370:7334]/', toUInt16(443));

-- IPv6 host after a userinfo prefix
select 'ipv6-RFC-userinfo';
select portRFC('http://user@[2001:db8::8a2e:370:7334]:80/');
select portRFC('http://user:password@[2001:db8::8a2e:370:7334]:80/');

-- '?' and '#' after the port are terminators for a bracketed IPv6 host too
select 'ipv6-RFC-query-fragment';
select portRFC('http://[2001:db8::8a2e:370:7334]:80?x=1');
select portRFC('http://[2001:db8::8a2e:370:7334]:80#fragment');

-- a mixed IPv6/IPv4 tail literal is a valid IPv6 address
select 'ipv6-RFC-mixed';
select portRFC('http://[::ffff:192.0.2.128]:80');
select portRFC('http://user@[::ffff:192.0.2.128]:80/', toUInt16(443));

-- userinfo may contain more than one ':' and must not be mistaken for the host:port separator
select 'ipv6-RFC-userinfo-multicolon';
select portRFC('http://user:pass:word@[2001:db8::1]:80', toUInt16(443));

-- a second '@' makes the authority unparseable, see 05137_domain_rfc_multiple_at_sign
select 'ipv6-RFC-multiple-at-sign';
select portRFC('http://user@paypal.com@[2001:db8::1]:80', toUInt16(443));
