-- Tags: no-fasttest

set output_format_write_statistics=0;

{% for format in ['CSV', 'TSV', 'JSONEachRow', 'JSONCompactEachRow', 'TSKV', 'XML', 'Markdown', 'CustomSeparated', 'SQLInsert', 'Vertical', 'JSON', 'JSONCompact', 'Values'] -%}

select '{{ format }}';
select 'formatRow';
select formatRow('{{ format }}', number, good) from (select number, 'good' as good from numbers(3));
select 'formatRowNoNewline';
select formatRowNoNewline('{{ format }}', number, good) from (select number, 'good' as good from numbers(3));

{% endfor -%}

-- unknown format
select formatRow('aaa', *) from numbers(3); -- { serverError 73 }

