{% for storage in ["MergeTree", "ReplicatedMergeTree('/clickhouse/tables/{database}/test_01825_add_column/', 'r1')"] -%}
{"id":"1","s":{"k1":0}}
{"id":"2","s":{"k1":100}}
{"id":"1"}
{"id":"2"}
{% endfor -%}
