{% for host in ['127.1', '127.2'] -%}
{% for args in [
    "'system.one'",
    "'system', 'one'",
    "system.one",
    "system, one",
] -%}
select * from remote('{{host}}', {{args}}) format Null;
{% endfor -%}
{% endfor -%}

system flush logs query_log;
select anyIf(query, is_initial_query), groupArrayIf(query, query_kind = 'Describe' and not is_initial_query) from system.query_log
where
    type = 'QueryFinish' and
    -- current_database is not set for queries on shards
    -- (so 'current_database = currentDatabase()' will not show DESC queries)
    log_comment like '%' || currentDatabase() || '%'
group by initial_query_id
order by max(event_time_microseconds);
