{% for host in ['127.1', '127.2'] -%}
{% for args in [
    "'system.one'",
    "'system', 'one'",
    "system.one",
    "system, one",
] -%}
select * from remote('{{host}}', {{args}}) format Null;
{% endfor -%}
{% endfor -%}

system flush logs query_log;
select anyIf(query, initial_query_id == query_id), groupArrayIf(query, query_kind = 'Describe' and initial_query_id != query_id) from system.query_log
where
    event_date >= yesterday() AND event_time >= now() - 600 AND
    type = 'QueryFinish' and
    query not ilike '%FLUSH LOGS%' and
    -- current_database is not set for queries on shards
    -- (so 'current_database = currentDatabase()' will not show DESC queries)
    log_comment like '%' || currentDatabase() || '%'
group by initial_query_id
order by max(event_time_microseconds);
