{% for max_block_size in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4096, 56535] -%}

set max_block_size='{{ max_block_size }}';
select 'max_block_size=' || '{{ max_block_size }}', * from  (select number as f1, 'aaa_' || number::String as var1 from numbers(10)) j1_o join (select number*2 as f1, 'bbb' as varb from numbers(45)) j2_o using(f1)  settings join_algorithm='parallel_merge';

{% endfor -%}



select  * from  (select number as f1, 'aaa_' || number::String as var1 from numbers(10)) j1_o
          join (select number*2 as f1, 'bbb' as varb from numbers(45)) j2_o using(f1)
					join (select number*3 as f1, 'bbb' as varb from numbers(45)) j3_o using(f1)
					settings join_algorithm='parallel_merge';

{% for right_tbl_max in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] -%}
select  'parallel merge join', * from  (select number as f1, 'aaa_' || number::String as var1 from numbers(10)) j1_o
{% for right_tbl_num in range(right_tbl_max) -%}
          join (select number as f1, 'bbb{{right_tbl_num}}'  as varb{{right_tbl_num}} from numbers(45)) j{{right_tbl_num}} using(f1)
{% endfor -%}
					settings join_algorithm='parallel_merge';
{% endfor -%}



{% for right_tbl_max in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] -%}
select  'hash joins', * from  (select number as f1, 'aaa_' || number::String as var1 from numbers(10)) j1_o
{% for right_tbl_num in range(right_tbl_max) -%}
          join (select number as f1, 'bbb{{right_tbl_num}}'  as varb{{right_tbl_num}} from numbers(45)) j{{right_tbl_num}} using(f1)
{% endfor -%}
					;
{% endfor -%}
