{% for (codec, use_indexes) in [('none', 0), ('none', 1), ('bitpacking', 1)] %}

-- { echo on }

DROP TABLE IF EXISTS tab;

CREATE TABLE tab
(
    id UInt64,
    s String,
    INDEX idx_s (s) TYPE text (tokenizer = splitByNonAlpha, posting_list_block_size = 1024, posting_list_codec = '{{ codec }}')
)
ENGINE = MergeTree ORDER BY id;
INSERT INTO tab
SELECT
    number,
    concatWithSeparator(
        ' ',
        if (number % 30000 = 12345, 'inlined', ''),
        if (number % 10000 = 1234, 'raw', ''),
        if (number % 300 = 123, 'single', ''),
        if (number % 3 = 0, 'multiple', ''))
FROM numbers(100000);

SET use_skip_indexes = {{ use_indexes }};

SELECT id FROM tab WHERE hasAllTokens(s, 'inlined') ORDER BY id;
SELECT id FROM tab WHERE hasAllTokens(s, 'raw') ORDER BY id;
SELECT count() FROM tab WHERE hasAllTokens(s, 'single');
SELECT count() FROM tab WHERE hasAllTokens(s, 'multiple');
SELECT id FROM tab WHERE hasAllTokens(s, 'inlined multiple') ORDER BY id;
SELECT id FROM tab WHERE hasAllTokens(s, 'raw multiple') ORDER BY id;
SELECT count() FROM tab WHERE hasAllTokens(s, 'single multiple');
SELECT count() FROM tab WHERE hasAllTokens(s, 'inlined single multiple');
SELECT count() FROM tab WHERE hasAllTokens(s, 'inlined single raw multiple');
SELECT count() FROM tab WHERE hasAllTokens(s, 'inlined raw multiple');
SELECT count() FROM tab WHERE hasAnyTokens(s, 'inlined');
SELECT count() FROM tab WHERE hasAnyTokens(s, 'raw');
SELECT count() FROM tab WHERE hasAnyTokens(s, 'single');
SELECT count() FROM tab WHERE hasAnyTokens(s, 'multiple');
SELECT count() FROM tab WHERE hasAnyTokens(s, 'inlined multiple');
SELECT count() FROM tab WHERE hasAnyTokens(s, 'raw multiple');
SELECT count() FROM tab WHERE hasAnyTokens(s, 'single multiple');
SELECT count() FROM tab WHERE hasAnyTokens(s, 'inlined single multiple');
SELECT count() FROM tab WHERE hasAnyTokens(s, 'inlined single raw multiple');
SELECT count() FROM tab WHERE hasAnyTokens(s, 'inlined raw multiple');

DROP TABLE tab;

{% endfor %}
