{% for join_algorithm in ['default', 'full_sorting_merge', 'hash', 'partial_merge'] -%}

SET join_algorithm = '{{ join_algorithm }}';

SELECT deleted
FROM (
    SELECT 1 AS deleted, 'k' AS a, 'v' AS b
) AS q
INNER JOIN (
    SELECT 'k' AS a, 'v' AS c
) AS s
ON q.a = s.a
WHERE deleted AND (b = c);

{% endfor -%}

