-- Tags: no-fasttest

set input_format_json_try_infer_numbers_from_strings=1;
set session_timezone='UTC';
{% for format in ['TSV', 'TSVWithNames', 'CSV', 'CSVWithNames', 'TSKV', 'CustomSeparated', 'JSONEachRow', 'JSONCompactEachRow', 'Values'] -%}

select '{{ format }}';
insert into function file(concat(currentDatabase(), '/02404_data.{{ format }}')) select number, toDate(number) from numbers(10);
desc file(concat(currentDatabase(), '/02404_data.{{ format }}'));
desc file(concat(currentDatabase(), '/02404_data.{{ format }}')) settings input_format_try_infer_integers=0;
desc file(concat(currentDatabase(), '/02404_data.{{ format }}')) settings input_format_try_infer_dates=0;
desc file(concat(currentDatabase(), '/02404_data.{{ format }}')) settings schema_inference_hints='c1 UInt8';
select count() from system.schema_inference_cache where countSubstrings(source, concat(currentDatabase(), '/02404_data.{{ format }}')) > 0;

{% endfor -%}

