test
2	Tuple(a Dynamic(max_types=2)):DateTime	false
2	Tuple(a Dynamic(max_types=2)):IPv4	false
4	Tuple(a Dynamic(max_types=2)):Date	false
6	Tuple(a Dynamic(max_types=2)):Array(UInt8)	false
7	Tuple(a Dynamic(max_types=2)):UInt64	false
8	String:None	false
13	Tuple(a Dynamic(max_types=2)):String	false
28	UInt64:None	false
---------------------
2	Tuple(a Dynamic(max_types=2)):DateTime	true
2	Tuple(a Dynamic(max_types=2)):IPv4	true
4	Tuple(a Dynamic(max_types=2)):Date	true
6	Tuple(a Dynamic(max_types=2)):Array(UInt8)	true
7	Tuple(a Dynamic(max_types=2)):UInt64	false
8	String:None	false
13	Tuple(a Dynamic(max_types=2)):String	false
28	UInt64:None	false
---------------------
2	Tuple(a Dynamic(max_types=2)):DateTime	true
2	Tuple(a Dynamic(max_types=2)):IPv4	true
4	Tuple(a Dynamic(max_types=2)):Date	true
4	Tuple(a Dynamic(max_types=2)):DateTime	false
6	Tuple(a Dynamic(max_types=2)):Array(UInt8)	true
7	Tuple(a Dynamic(max_types=2)):UInt64	false
8	String:None	false
13	Tuple(a Dynamic(max_types=2)):String	false
20	Tuple(a Dynamic(max_types=2)):Tuple(UInt64)	false
26	Tuple(a Dynamic(max_types=2)):None	false
28	UInt64:None	false
---------------------
2	Tuple(a Dynamic(max_types=2)):IPv4	true
4	Tuple(a Dynamic(max_types=2)):Date	true
6	Tuple(a Dynamic(max_types=2)):Array(UInt8)	true
6	Tuple(a Dynamic(max_types=2)):DateTime	true
7	Tuple(a Dynamic(max_types=2)):UInt64	true
8	String:None	false
13	Tuple(a Dynamic(max_types=2)):String	false
20	Tuple(a Dynamic(max_types=2)):Tuple(UInt64)	false
26	Tuple(a Dynamic(max_types=2)):None	false
28	UInt64:None	false
---------------------
2	Tuple(a Dynamic(max_types=2)):IPv4	true
4	Tuple(a Dynamic(max_types=2)):Date	true
6	Tuple(a Dynamic(max_types=2)):Array(UInt8)	true
6	Tuple(a Dynamic(max_types=2)):DateTime	true
7	Tuple(a Dynamic(max_types=2)):UInt64	true
8	String:None	false
8	Tuple(a Dynamic(max_types=2)):DateTime	false
13	Tuple(a Dynamic(max_types=2)):String	false
20	Tuple(a Dynamic(max_types=2)):Tuple(UInt64)	false
26	Tuple(a Dynamic(max_types=2)):None	false
28	UInt64:None	false
---------------------
2	Tuple(a Dynamic(max_types=2)):IPv4	true
4	Tuple(a Dynamic(max_types=2)):Date	true
6	Tuple(a Dynamic(max_types=2)):Array(UInt8)	true
7	Tuple(a Dynamic(max_types=2)):UInt64	true
8	String:None	false
13	Tuple(a Dynamic(max_types=2)):String	false
14	Tuple(a Dynamic(max_types=2)):DateTime	true
20	Tuple(a Dynamic(max_types=2)):Tuple(UInt64)	false
26	Tuple(a Dynamic(max_types=2)):None	false
28	UInt64:None	false
test
2	Tuple(a Dynamic(max_types=2)):DateTime	false
2	Tuple(a Dynamic(max_types=2)):IPv4	false
4	Tuple(a Dynamic(max_types=2)):Date	false
6	Tuple(a Dynamic(max_types=2)):Array(UInt8)	false
7	Tuple(a Dynamic(max_types=2)):UInt64	false
8	String:None	false
13	Tuple(a Dynamic(max_types=2)):String	false
28	UInt64:None	false
---------------------
2	Tuple(a Dynamic(max_types=2)):DateTime	true
2	Tuple(a Dynamic(max_types=2)):IPv4	true
4	Tuple(a Dynamic(max_types=2)):Date	true
6	Tuple(a Dynamic(max_types=2)):Array(UInt8)	true
7	Tuple(a Dynamic(max_types=2)):UInt64	false
8	String:None	false
13	Tuple(a Dynamic(max_types=2)):String	false
28	UInt64:None	false
---------------------
2	Tuple(a Dynamic(max_types=2)):DateTime	true
2	Tuple(a Dynamic(max_types=2)):IPv4	true
4	Tuple(a Dynamic(max_types=2)):Date	true
4	Tuple(a Dynamic(max_types=2)):DateTime	false
6	Tuple(a Dynamic(max_types=2)):Array(UInt8)	true
7	Tuple(a Dynamic(max_types=2)):UInt64	false
8	String:None	false
13	Tuple(a Dynamic(max_types=2)):String	false
20	Tuple(a Dynamic(max_types=2)):Tuple(UInt64)	false
26	Tuple(a Dynamic(max_types=2)):None	false
28	UInt64:None	false
---------------------
2	Tuple(a Dynamic(max_types=2)):IPv4	true
4	Tuple(a Dynamic(max_types=2)):Date	true
6	Tuple(a Dynamic(max_types=2)):Array(UInt8)	true
6	Tuple(a Dynamic(max_types=2)):DateTime	true
7	Tuple(a Dynamic(max_types=2)):UInt64	true
8	String:None	false
13	Tuple(a Dynamic(max_types=2)):String	false
20	Tuple(a Dynamic(max_types=2)):Tuple(UInt64)	false
26	Tuple(a Dynamic(max_types=2)):None	false
28	UInt64:None	false
---------------------
2	Tuple(a Dynamic(max_types=2)):IPv4	true
4	Tuple(a Dynamic(max_types=2)):Date	true
6	Tuple(a Dynamic(max_types=2)):Array(UInt8)	true
6	Tuple(a Dynamic(max_types=2)):DateTime	true
7	Tuple(a Dynamic(max_types=2)):UInt64	true
8	String:None	false
8	Tuple(a Dynamic(max_types=2)):DateTime	false
13	Tuple(a Dynamic(max_types=2)):String	false
20	Tuple(a Dynamic(max_types=2)):Tuple(UInt64)	false
26	Tuple(a Dynamic(max_types=2)):None	false
28	UInt64:None	false
---------------------
2	Tuple(a Dynamic(max_types=2)):IPv4	true
4	Tuple(a Dynamic(max_types=2)):Date	true
6	Tuple(a Dynamic(max_types=2)):Array(UInt8)	true
7	Tuple(a Dynamic(max_types=2)):UInt64	true
8	String:None	false
13	Tuple(a Dynamic(max_types=2)):String	false
14	Tuple(a Dynamic(max_types=2)):DateTime	true
20	Tuple(a Dynamic(max_types=2)):Tuple(UInt64)	false
26	Tuple(a Dynamic(max_types=2)):None	false
28	UInt64:None	false
test
2	Tuple(a Dynamic(max_types=2)):DateTime	false
2	Tuple(a Dynamic(max_types=2)):IPv4	false
4	Tuple(a Dynamic(max_types=2)):Date	false
6	Tuple(a Dynamic(max_types=2)):Array(UInt8)	false
7	Tuple(a Dynamic(max_types=2)):UInt64	false
8	String:None	false
13	Tuple(a Dynamic(max_types=2)):String	false
28	UInt64:None	false
---------------------
2	Tuple(a Dynamic(max_types=2)):DateTime	true
2	Tuple(a Dynamic(max_types=2)):IPv4	true
4	Tuple(a Dynamic(max_types=2)):Date	true
6	Tuple(a Dynamic(max_types=2)):Array(UInt8)	true
7	Tuple(a Dynamic(max_types=2)):UInt64	false
8	String:None	false
13	Tuple(a Dynamic(max_types=2)):String	false
28	UInt64:None	false
---------------------
2	Tuple(a Dynamic(max_types=2)):DateTime	true
2	Tuple(a Dynamic(max_types=2)):IPv4	true
4	Tuple(a Dynamic(max_types=2)):Date	true
4	Tuple(a Dynamic(max_types=2)):DateTime	false
6	Tuple(a Dynamic(max_types=2)):Array(UInt8)	true
7	Tuple(a Dynamic(max_types=2)):UInt64	false
8	String:None	false
13	Tuple(a Dynamic(max_types=2)):String	false
20	Tuple(a Dynamic(max_types=2)):Tuple(UInt64)	false
26	Tuple(a Dynamic(max_types=2)):None	false
28	UInt64:None	false
---------------------
2	Tuple(a Dynamic(max_types=2)):IPv4	true
4	Tuple(a Dynamic(max_types=2)):Date	true
6	Tuple(a Dynamic(max_types=2)):Array(UInt8)	true
6	Tuple(a Dynamic(max_types=2)):DateTime	true
7	Tuple(a Dynamic(max_types=2)):UInt64	true
8	String:None	false
13	Tuple(a Dynamic(max_types=2)):String	false
20	Tuple(a Dynamic(max_types=2)):Tuple(UInt64)	false
26	Tuple(a Dynamic(max_types=2)):None	false
28	UInt64:None	false
---------------------
2	Tuple(a Dynamic(max_types=2)):IPv4	true
4	Tuple(a Dynamic(max_types=2)):Date	true
6	Tuple(a Dynamic(max_types=2)):Array(UInt8)	true
6	Tuple(a Dynamic(max_types=2)):DateTime	true
7	Tuple(a Dynamic(max_types=2)):UInt64	true
8	String:None	false
8	Tuple(a Dynamic(max_types=2)):DateTime	false
13	Tuple(a Dynamic(max_types=2)):String	false
20	Tuple(a Dynamic(max_types=2)):Tuple(UInt64)	false
26	Tuple(a Dynamic(max_types=2)):None	false
28	UInt64:None	false
---------------------
2	Tuple(a Dynamic(max_types=2)):IPv4	true
4	Tuple(a Dynamic(max_types=2)):Date	true
6	Tuple(a Dynamic(max_types=2)):Array(UInt8)	true
7	Tuple(a Dynamic(max_types=2)):UInt64	true
8	String:None	false
13	Tuple(a Dynamic(max_types=2)):String	true
14	Tuple(a Dynamic(max_types=2)):DateTime	false
20	Tuple(a Dynamic(max_types=2)):Tuple(UInt64)	false
26	Tuple(a Dynamic(max_types=2)):None	false
28	UInt64:None	false
test
2	Tuple(a Dynamic(max_types=2)):DateTime	false
2	Tuple(a Dynamic(max_types=2)):IPv4	false
4	Tuple(a Dynamic(max_types=2)):Date	false
6	Tuple(a Dynamic(max_types=2)):Array(UInt8)	false
7	Tuple(a Dynamic(max_types=2)):UInt64	false
8	String:None	false
13	Tuple(a Dynamic(max_types=2)):String	false
28	UInt64:None	false
---------------------
2	Tuple(a Dynamic(max_types=2)):DateTime	true
2	Tuple(a Dynamic(max_types=2)):IPv4	true
4	Tuple(a Dynamic(max_types=2)):Date	true
6	Tuple(a Dynamic(max_types=2)):Array(UInt8)	true
7	Tuple(a Dynamic(max_types=2)):UInt64	false
8	String:None	false
13	Tuple(a Dynamic(max_types=2)):String	false
28	UInt64:None	false
---------------------
2	Tuple(a Dynamic(max_types=2)):DateTime	true
2	Tuple(a Dynamic(max_types=2)):IPv4	true
4	Tuple(a Dynamic(max_types=2)):Date	true
4	Tuple(a Dynamic(max_types=2)):DateTime	false
6	Tuple(a Dynamic(max_types=2)):Array(UInt8)	true
7	Tuple(a Dynamic(max_types=2)):UInt64	false
8	String:None	false
13	Tuple(a Dynamic(max_types=2)):String	false
20	Tuple(a Dynamic(max_types=2)):Tuple(UInt64)	false
26	Tuple(a Dynamic(max_types=2)):None	false
28	UInt64:None	false
---------------------
2	Tuple(a Dynamic(max_types=2)):IPv4	true
4	Tuple(a Dynamic(max_types=2)):Date	true
6	Tuple(a Dynamic(max_types=2)):Array(UInt8)	true
6	Tuple(a Dynamic(max_types=2)):DateTime	true
7	Tuple(a Dynamic(max_types=2)):UInt64	true
8	String:None	false
13	Tuple(a Dynamic(max_types=2)):String	false
20	Tuple(a Dynamic(max_types=2)):Tuple(UInt64)	false
26	Tuple(a Dynamic(max_types=2)):None	false
28	UInt64:None	false
---------------------
2	Tuple(a Dynamic(max_types=2)):IPv4	true
4	Tuple(a Dynamic(max_types=2)):Date	true
6	Tuple(a Dynamic(max_types=2)):Array(UInt8)	true
6	Tuple(a Dynamic(max_types=2)):DateTime	true
7	Tuple(a Dynamic(max_types=2)):UInt64	true
8	String:None	false
8	Tuple(a Dynamic(max_types=2)):DateTime	false
13	Tuple(a Dynamic(max_types=2)):String	false
20	Tuple(a Dynamic(max_types=2)):Tuple(UInt64)	false
26	Tuple(a Dynamic(max_types=2)):None	false
28	UInt64:None	false
---------------------
2	Tuple(a Dynamic(max_types=2)):IPv4	true
4	Tuple(a Dynamic(max_types=2)):Date	true
6	Tuple(a Dynamic(max_types=2)):Array(UInt8)	true
7	Tuple(a Dynamic(max_types=2)):UInt64	true
8	String:None	false
13	Tuple(a Dynamic(max_types=2)):String	true
14	Tuple(a Dynamic(max_types=2)):DateTime	false
20	Tuple(a Dynamic(max_types=2)):Tuple(UInt64)	false
26	Tuple(a Dynamic(max_types=2)):None	false
28	UInt64:None	false
