5	DateTime
6	Date
7	Array(UInt16)
8	String
10	None
10	UInt64
7	Array(UInt16)
10	None
10	UInt64
19	String
7	Array(UInt16)
10	None
10	UInt64
19	String
20	Map(UInt64, UInt64)
10	None
10	UInt64
20	Map(UInt64, UInt64)
26	String
1	Tuple(UInt64, UInt64)
10	None
10	UInt64
20	Map(UInt64, UInt64)
26	String
10	None
10	UInt64
20	Map(UInt64, UInt64)
27	String
5	DateTime
6	Date
7	Array(UInt16)
8	String
10	None
10	UInt64
7	Array(UInt16)
10	None
10	UInt64
19	String
7	Array(UInt16)
10	None
10	UInt64
19	String
20	Map(UInt64, UInt64)
10	None
10	UInt64
20	Map(UInt64, UInt64)
26	String
1	Tuple(UInt64, UInt64)
10	None
10	UInt64
20	Map(UInt64, UInt64)
26	String
10	None
10	UInt64
20	Map(UInt64, UInt64)
27	String
5	DateTime
6	Date
7	Array(UInt16)
8	String
10	None
10	UInt64
7	Array(UInt16)
10	None
10	UInt64
19	String
7	Array(UInt16)
10	None
10	UInt64
19	String
20	Map(UInt64, UInt64)
10	None
10	UInt64
20	Map(UInt64, UInt64)
26	String
1	Tuple(UInt64, UInt64)
10	None
10	UInt64
20	Map(UInt64, UInt64)
26	String
10	None
10	UInt64
20	Map(UInt64, UInt64)
27	String
5	DateTime
6	Date
7	Array(UInt16)
8	String
10	None
10	UInt64
7	Array(UInt16)
10	None
10	UInt64
19	String
7	Array(UInt16)
10	None
10	UInt64
19	String
20	Map(UInt64, UInt64)
10	None
10	UInt64
20	Map(UInt64, UInt64)
26	String
1	Tuple(UInt64, UInt64)
10	None
10	UInt64
20	Map(UInt64, UInt64)
26	String
10	None
10	UInt64
20	Map(UInt64, UInt64)
27	String
