Memory
Array(Array(Dynamic))
Array(Variant(String, UInt64))
LowCardinality(String)
None
String
UInt64
36
36
20
20
0
0
2
2
20
20
2
2
20
0
0	0	\N	[]
1	1	\N	[]
2	2	\N	[]
3	3	\N	[]
4	4	\N	[]
5	5	\N	[]
6	6	\N	[]
7	7	\N	[]
8	8	\N	[]
9	9	\N	[]
str_10	\N	str_10	[]
10	10	\N	[]
10	10	\N	[]
[[0,1]]	\N	\N	[]
str_11	\N	\N	[]
str_11	\N	str_11	[]
str_12	\N	str_12	[]
12	12	\N	[]
12	12	\N	[]
str_13	\N	str_13	[]
13	13	\N	[]
13	13	\N	[]
str_14	\N	str_14	[]
14	14	\N	[]
14	14	\N	[]
str_15	\N	str_15	[]
15	15	\N	[]
15	15	\N	[]
[[0,1,2,3,4,5,6]]	\N	\N	[]
str_16	\N	\N	[]
str_16	\N	str_16	[]
str_17	\N	str_17	[]
17	17	\N	[]
17	17	\N	[]
str_18	\N	str_18	[]
18	18	\N	[]
18	18	\N	[]
str_19	\N	str_19	[]
19	19	\N	[]
19	19	\N	[]
[20]	\N	\N	[20]
['str_21','str_21']	\N	\N	['str_21','str_21']
[22,22,22]	\N	\N	[22,22,22]
[23,23,23,23]	\N	\N	[23,23,23,23]
[24,24,24,24,24]	\N	\N	[24,24,24,24,24]
[25,25,25,25,25,25]	\N	\N	[25,25,25,25,25,25]
[26,26,26,26,26,26,26]	\N	\N	[26,26,26,26,26,26,26]
[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]	\N	\N	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
[28,28,28,28,28,28,28,28,28]	\N	\N	[28,28,28,28,28,28,28,28,28]
[29,29,29,29,29,29,29,29,29,29]	\N	\N	[29,29,29,29,29,29,29,29,29,29]
\N	\N	\N	[]
\N	\N	\N	[]
\N	\N	\N	[]
\N	\N	\N	[]
\N	\N	\N	[]
\N	\N	\N	[]
\N	\N	\N	[]
\N	\N	\N	[]
\N	\N	\N	[]
\N	\N	\N	[]
[40]	\N	\N	[40]
41	41	\N	[]
\N	\N	\N	[]
str_43	\N	str_43	[]
[44,44,44,44,44]	\N	\N	[44,44,44,44,44]
45	45	\N	[]
\N	\N	\N	[]
str_47	\N	str_47	[]
['str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48']	\N	\N	['str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48']
49	49	\N	[]
\N	\N	\N	[]
str_51	\N	str_51	[]
[52,52,52]	\N	\N	[52,52,52]
53	53	\N	[]
\N	\N	\N	[]
str_55	\N	str_55	[]
[56,56,56,56,56,56,56]	\N	\N	[56,56,56,56,56,56,56]
57	57	\N	[]
\N	\N	\N	[]
str_59	\N	str_59	[]
[60]	\N	\N	[60]
61	61	\N	[]
\N	\N	\N	[]
str_63	\N	str_63	[]
[64,64,64,64,64]	\N	\N	[64,64,64,64,64]
65	65	\N	[]
\N	\N	\N	[]
str_67	\N	str_67	[]
[68,68,68,68,68,68,68,68,68]	\N	\N	[68,68,68,68,68,68,68,68,68]
69	69	\N	[]
\N	\N	\N	[]
str_71	\N	str_71	[]
[NULL,NULL,NULL]	\N	\N	[NULL,NULL,NULL]
73	73	\N	[]
\N	\N	\N	[]
str_75	\N	str_75	[]
[76,76,76,76,76,76,76]	\N	\N	[76,76,76,76,76,76,76]
77	77	\N	[]
\N	\N	\N	[]
str_79	\N	str_79	[]
0	\N	[]
1	\N	[]
2	\N	[]
3	\N	[]
4	\N	[]
5	\N	[]
6	\N	[]
7	\N	[]
8	\N	[]
9	\N	[]
\N	str_10	[]
10	\N	[]
10	\N	[]
\N	\N	[]
\N	\N	[]
\N	str_11	[]
\N	str_12	[]
12	\N	[]
12	\N	[]
\N	str_13	[]
13	\N	[]
13	\N	[]
\N	str_14	[]
14	\N	[]
14	\N	[]
\N	str_15	[]
15	\N	[]
15	\N	[]
\N	\N	[]
\N	\N	[]
\N	str_16	[]
\N	str_17	[]
17	\N	[]
17	\N	[]
\N	str_18	[]
18	\N	[]
18	\N	[]
\N	str_19	[]
19	\N	[]
19	\N	[]
\N	\N	[20]
\N	\N	['str_21','str_21']
\N	\N	[22,22,22]
\N	\N	[23,23,23,23]
\N	\N	[24,24,24,24,24]
\N	\N	[25,25,25,25,25,25]
\N	\N	[26,26,26,26,26,26,26]
\N	\N	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
\N	\N	[28,28,28,28,28,28,28,28,28]
\N	\N	[29,29,29,29,29,29,29,29,29,29]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[40]
41	\N	[]
\N	\N	[]
\N	str_43	[]
\N	\N	[44,44,44,44,44]
45	\N	[]
\N	\N	[]
\N	str_47	[]
\N	\N	['str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48']
49	\N	[]
\N	\N	[]
\N	str_51	[]
\N	\N	[52,52,52]
53	\N	[]
\N	\N	[]
\N	str_55	[]
\N	\N	[56,56,56,56,56,56,56]
57	\N	[]
\N	\N	[]
\N	str_59	[]
\N	\N	[60]
61	\N	[]
\N	\N	[]
\N	str_63	[]
\N	\N	[64,64,64,64,64]
65	\N	[]
\N	\N	[]
\N	str_67	[]
\N	\N	[68,68,68,68,68,68,68,68,68]
69	\N	[]
\N	\N	[]
\N	str_71	[]
\N	\N	[NULL,NULL,NULL]
73	\N	[]
\N	\N	[]
\N	str_75	[]
\N	\N	[76,76,76,76,76,76,76]
77	\N	[]
\N	\N	[]
\N	str_79	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
0	0	\N	[]	0	[]
1	1	\N	[]	0	[]
2	2	\N	[]	0	[]
3	3	\N	[]	0	[]
4	4	\N	[]	0	[]
5	5	\N	[]	0	[]
6	6	\N	[]	0	[]
7	7	\N	[]	0	[]
8	8	\N	[]	0	[]
9	9	\N	[]	0	[]
str_10	\N	\N	[]	0	[]
10	10	\N	[]	0	[]
10	10	\N	[]	0	[]
[[0,1]]	\N	\N	[]	0	[]
str_11	\N	\N	[]	0	[]
str_11	\N	\N	[]	0	[]
str_12	\N	\N	[]	0	[]
12	12	\N	[]	0	[]
12	12	\N	[]	0	[]
str_13	\N	\N	[]	0	[]
13	13	\N	[]	0	[]
13	13	\N	[]	0	[]
str_14	\N	\N	[]	0	[]
14	14	\N	[]	0	[]
14	14	\N	[]	0	[]
str_15	\N	\N	[]	0	[]
15	15	\N	[]	0	[]
15	15	\N	[]	0	[]
[[0,1,2,3,4,5,6]]	\N	\N	[]	0	[]
str_16	\N	\N	[]	0	[]
str_16	\N	\N	[]	0	[]
str_17	\N	\N	[]	0	[]
17	17	\N	[]	0	[]
17	17	\N	[]	0	[]
str_18	\N	\N	[]	0	[]
18	18	\N	[]	0	[]
18	18	\N	[]	0	[]
str_19	\N	\N	[]	0	[]
19	19	\N	[]	0	[]
19	19	\N	[]	0	[]
[20]	\N	\N	[20]	1	[20]
['str_21','str_21']	\N	\N	['str_21','str_21']	2	[NULL,NULL]
[22,22,22]	\N	\N	[22,22,22]	3	[22,22,22]
[23,23,23,23]	\N	\N	[23,23,23,23]	4	[23,23,23,23]
[24,24,24,24,24]	\N	\N	[24,24,24,24,24]	5	[24,24,24,24,24]
[25,25,25,25,25,25]	\N	\N	[25,25,25,25,25,25]	6	[25,25,25,25,25,25]
[26,26,26,26,26,26,26]	\N	\N	[26,26,26,26,26,26,26]	7	[26,26,26,26,26,26,26]
[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]	\N	\N	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]	8	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
[28,28,28,28,28,28,28,28,28]	\N	\N	[28,28,28,28,28,28,28,28,28]	9	[28,28,28,28,28,28,28,28,28]
[29,29,29,29,29,29,29,29,29,29]	\N	\N	[29,29,29,29,29,29,29,29,29,29]	10	[29,29,29,29,29,29,29,29,29,29]
\N	\N	\N	[]	0	[]
\N	\N	\N	[]	0	[]
\N	\N	\N	[]	0	[]
\N	\N	\N	[]	0	[]
\N	\N	\N	[]	0	[]
\N	\N	\N	[]	0	[]
\N	\N	\N	[]	0	[]
\N	\N	\N	[]	0	[]
\N	\N	\N	[]	0	[]
\N	\N	\N	[]	0	[]
[40]	\N	\N	[40]	1	[40]
41	41	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_43	\N	\N	[]	0	[]
[44,44,44,44,44]	\N	\N	[44,44,44,44,44]	5	[44,44,44,44,44]
45	45	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_47	\N	\N	[]	0	[]
['str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48']	\N	\N	['str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48']	9	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
49	49	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_51	\N	\N	[]	0	[]
[52,52,52]	\N	\N	[52,52,52]	3	[52,52,52]
53	53	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_55	\N	\N	[]	0	[]
[56,56,56,56,56,56,56]	\N	\N	[56,56,56,56,56,56,56]	7	[56,56,56,56,56,56,56]
57	57	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_59	\N	\N	[]	0	[]
[60]	\N	\N	[60]	1	[60]
61	61	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_63	\N	\N	[]	0	[]
[64,64,64,64,64]	\N	\N	[64,64,64,64,64]	5	[64,64,64,64,64]
65	65	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_67	\N	\N	[]	0	[]
[68,68,68,68,68,68,68,68,68]	\N	\N	[68,68,68,68,68,68,68,68,68]	9	[68,68,68,68,68,68,68,68,68]
69	69	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_71	\N	\N	[]	0	[]
[NULL,NULL,NULL]	\N	\N	[NULL,NULL,NULL]	3	[NULL,NULL,NULL]
73	73	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_75	\N	\N	[]	0	[]
[76,76,76,76,76,76,76]	\N	\N	[76,76,76,76,76,76,76]	7	[76,76,76,76,76,76,76]
77	77	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_79	\N	\N	[]	0	[]
0	\N	[]	0	[]	[]
1	\N	[]	0	[]	[]
2	\N	[]	0	[]	[]
3	\N	[]	0	[]	[]
4	\N	[]	0	[]	[]
5	\N	[]	0	[]	[]
6	\N	[]	0	[]	[]
7	\N	[]	0	[]	[]
8	\N	[]	0	[]	[]
9	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
10	\N	[]	0	[]	[]
10	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
12	\N	[]	0	[]	[]
12	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
13	\N	[]	0	[]	[]
13	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
14	\N	[]	0	[]	[]
14	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
15	\N	[]	0	[]	[]
15	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
17	\N	[]	0	[]	[]
17	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
18	\N	[]	0	[]	[]
18	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
19	\N	[]	0	[]	[]
19	\N	[]	0	[]	[]
\N	\N	[20]	1	[20]	[NULL]
\N	\N	['str_21','str_21']	2	[NULL,NULL]	['str_21','str_21']
\N	\N	[22,22,22]	3	[22,22,22]	[NULL,NULL,NULL]
\N	\N	[23,23,23,23]	4	[23,23,23,23]	[NULL,NULL,NULL,NULL]
\N	\N	[24,24,24,24,24]	5	[24,24,24,24,24]	[NULL,NULL,NULL,NULL,NULL]
\N	\N	[25,25,25,25,25,25]	6	[25,25,25,25,25,25]	[NULL,NULL,NULL,NULL,NULL,NULL]
\N	\N	[26,26,26,26,26,26,26]	7	[26,26,26,26,26,26,26]	[NULL,NULL,NULL,NULL,NULL,NULL,NULL]
\N	\N	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]	8	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
\N	\N	[28,28,28,28,28,28,28,28,28]	9	[28,28,28,28,28,28,28,28,28]	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
\N	\N	[29,29,29,29,29,29,29,29,29,29]	10	[29,29,29,29,29,29,29,29,29,29]	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[40]	1	[40]	[NULL]
41	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[44,44,44,44,44]	5	[44,44,44,44,44]	[NULL,NULL,NULL,NULL,NULL]
45	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	['str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48']	9	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]	['str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48']
49	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[52,52,52]	3	[52,52,52]	[NULL,NULL,NULL]
53	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[56,56,56,56,56,56,56]	7	[56,56,56,56,56,56,56]	[NULL,NULL,NULL,NULL,NULL,NULL,NULL]
57	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[60]	1	[60]	[NULL]
61	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[64,64,64,64,64]	5	[64,64,64,64,64]	[NULL,NULL,NULL,NULL,NULL]
65	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[68,68,68,68,68,68,68,68,68]	9	[68,68,68,68,68,68,68,68,68]	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
69	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[NULL,NULL,NULL]	3	[NULL,NULL,NULL]	[NULL,NULL,NULL]
73	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[76,76,76,76,76,76,76]	7	[76,76,76,76,76,76,76]	[NULL,NULL,NULL,NULL,NULL,NULL,NULL]
77	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
0	0	[]	[]
1	0	[]	[]
2	0	[]	[]
3	0	[]	[]
4	0	[]	[]
5	0	[]	[]
6	0	[]	[]
7	0	[]	[]
8	0	[]	[]
9	0	[]	[]
str_10	0	[]	[]
10	0	[]	[]
10	0	[]	[]
[[0,1]]	0	[]	[]
str_11	0	[]	[]
str_11	0	[]	[]
str_12	0	[]	[]
12	0	[]	[]
12	0	[]	[]
str_13	0	[]	[]
13	0	[]	[]
13	0	[]	[]
str_14	0	[]	[]
14	0	[]	[]
14	0	[]	[]
str_15	0	[]	[]
15	0	[]	[]
15	0	[]	[]
[[0,1,2,3,4,5,6]]	0	[]	[]
str_16	0	[]	[]
str_16	0	[]	[]
str_17	0	[]	[]
17	0	[]	[]
17	0	[]	[]
str_18	0	[]	[]
18	0	[]	[]
18	0	[]	[]
str_19	0	[]	[]
19	0	[]	[]
19	0	[]	[]
[20]	0	[]	[20]
['str_21','str_21']	0	[]	[NULL,NULL]
[22,22,22]	0	[]	[22,22,22]
[23,23,23,23]	0	[]	[23,23,23,23]
[24,24,24,24,24]	0	[]	[24,24,24,24,24]
[25,25,25,25,25,25]	0	[]	[25,25,25,25,25,25]
[26,26,26,26,26,26,26]	0	[]	[26,26,26,26,26,26,26]
[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]	0	[]	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
[28,28,28,28,28,28,28,28,28]	0	[]	[28,28,28,28,28,28,28,28,28]
[29,29,29,29,29,29,29,29,29,29]	0	[]	[29,29,29,29,29,29,29,29,29,29]
\N	0	[]	[]
\N	0	[]	[]
\N	0	[]	[]
\N	0	[]	[]
\N	0	[]	[]
\N	0	[]	[]
\N	0	[]	[]
\N	0	[]	[]
\N	0	[]	[]
\N	0	[]	[]
[40]	0	[]	[40]
41	0	[]	[]
\N	0	[]	[]
str_43	0	[]	[]
[44,44,44,44,44]	0	[]	[44,44,44,44,44]
45	0	[]	[]
\N	0	[]	[]
str_47	0	[]	[]
['str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48']	0	[]	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
49	0	[]	[]
\N	0	[]	[]
str_51	0	[]	[]
[52,52,52]	0	[]	[52,52,52]
53	0	[]	[]
\N	0	[]	[]
str_55	0	[]	[]
[56,56,56,56,56,56,56]	0	[]	[56,56,56,56,56,56,56]
57	0	[]	[]
\N	0	[]	[]
str_59	0	[]	[]
[60]	0	[]	[60]
61	0	[]	[]
\N	0	[]	[]
str_63	0	[]	[]
[64,64,64,64,64]	0	[]	[64,64,64,64,64]
65	0	[]	[]
\N	0	[]	[]
str_67	0	[]	[]
[68,68,68,68,68,68,68,68,68]	0	[]	[68,68,68,68,68,68,68,68,68]
69	0	[]	[]
\N	0	[]	[]
str_71	0	[]	[]
[NULL,NULL,NULL]	0	[]	[NULL,NULL,NULL]
73	0	[]	[]
\N	0	[]	[]
str_75	0	[]	[]
[76,76,76,76,76,76,76]	0	[]	[76,76,76,76,76,76,76]
77	0	[]	[]
\N	0	[]	[]
str_79	0	[]	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[20]
[]	0	[NULL,NULL]
[]	0	[22,22,22]
[]	0	[23,23,23,23]
[]	0	[24,24,24,24,24]
[]	0	[25,25,25,25,25,25]
[]	0	[26,26,26,26,26,26,26]
[]	0	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
[]	0	[28,28,28,28,28,28,28,28,28]
[]	0	[29,29,29,29,29,29,29,29,29,29]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[40]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[44,44,44,44,44]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[52,52,52]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[56,56,56,56,56,56,56]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[60]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[64,64,64,64,64]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[68,68,68,68,68,68,68,68,68]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[NULL,NULL,NULL]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[76,76,76,76,76,76,76]
[]	0	[]
[]	0	[]
[]	0	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[2]	[[0,1]]	[[[],[]]]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[7]	[[0,1,2,3,4,5,6]]	[[[],[],[],[],[],[],[]]]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
MergeTree order by id settings min_rows_for_wide_part=1000000000, min_bytes_for_wide_part=10000000000
Array(Array(Dynamic))
Array(Variant(String, UInt64))
LowCardinality(String)
None
String
UInt64
36
36
20
20
0
0
2
2
20
20
2
2
20
0
0	0	\N	[]
1	1	\N	[]
2	2	\N	[]
3	3	\N	[]
4	4	\N	[]
5	5	\N	[]
6	6	\N	[]
7	7	\N	[]
8	8	\N	[]
9	9	\N	[]
str_10	\N	str_10	[]
10	10	\N	[]
10	10	\N	[]
[[0,1]]	\N	\N	[]
str_11	\N	\N	[]
str_11	\N	str_11	[]
str_12	\N	str_12	[]
12	12	\N	[]
12	12	\N	[]
str_13	\N	str_13	[]
13	13	\N	[]
13	13	\N	[]
str_14	\N	str_14	[]
14	14	\N	[]
14	14	\N	[]
str_15	\N	str_15	[]
15	15	\N	[]
15	15	\N	[]
[[0,1,2,3,4,5,6]]	\N	\N	[]
str_16	\N	\N	[]
str_16	\N	str_16	[]
str_17	\N	str_17	[]
17	17	\N	[]
17	17	\N	[]
str_18	\N	str_18	[]
18	18	\N	[]
18	18	\N	[]
str_19	\N	str_19	[]
19	19	\N	[]
19	19	\N	[]
[20]	\N	\N	[20]
['str_21','str_21']	\N	\N	['str_21','str_21']
[22,22,22]	\N	\N	[22,22,22]
[23,23,23,23]	\N	\N	[23,23,23,23]
[24,24,24,24,24]	\N	\N	[24,24,24,24,24]
[25,25,25,25,25,25]	\N	\N	[25,25,25,25,25,25]
[26,26,26,26,26,26,26]	\N	\N	[26,26,26,26,26,26,26]
[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]	\N	\N	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
[28,28,28,28,28,28,28,28,28]	\N	\N	[28,28,28,28,28,28,28,28,28]
[29,29,29,29,29,29,29,29,29,29]	\N	\N	[29,29,29,29,29,29,29,29,29,29]
\N	\N	\N	[]
\N	\N	\N	[]
\N	\N	\N	[]
\N	\N	\N	[]
\N	\N	\N	[]
\N	\N	\N	[]
\N	\N	\N	[]
\N	\N	\N	[]
\N	\N	\N	[]
\N	\N	\N	[]
[40]	\N	\N	[40]
41	41	\N	[]
\N	\N	\N	[]
str_43	\N	str_43	[]
[44,44,44,44,44]	\N	\N	[44,44,44,44,44]
45	45	\N	[]
\N	\N	\N	[]
str_47	\N	str_47	[]
['str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48']	\N	\N	['str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48']
49	49	\N	[]
\N	\N	\N	[]
str_51	\N	str_51	[]
[52,52,52]	\N	\N	[52,52,52]
53	53	\N	[]
\N	\N	\N	[]
str_55	\N	str_55	[]
[56,56,56,56,56,56,56]	\N	\N	[56,56,56,56,56,56,56]
57	57	\N	[]
\N	\N	\N	[]
str_59	\N	str_59	[]
[60]	\N	\N	[60]
61	61	\N	[]
\N	\N	\N	[]
str_63	\N	str_63	[]
[64,64,64,64,64]	\N	\N	[64,64,64,64,64]
65	65	\N	[]
\N	\N	\N	[]
str_67	\N	str_67	[]
[68,68,68,68,68,68,68,68,68]	\N	\N	[68,68,68,68,68,68,68,68,68]
69	69	\N	[]
\N	\N	\N	[]
str_71	\N	str_71	[]
[NULL,NULL,NULL]	\N	\N	[NULL,NULL,NULL]
73	73	\N	[]
\N	\N	\N	[]
str_75	\N	str_75	[]
[76,76,76,76,76,76,76]	\N	\N	[76,76,76,76,76,76,76]
77	77	\N	[]
\N	\N	\N	[]
str_79	\N	str_79	[]
0	\N	[]
1	\N	[]
2	\N	[]
3	\N	[]
4	\N	[]
5	\N	[]
6	\N	[]
7	\N	[]
8	\N	[]
9	\N	[]
\N	str_10	[]
10	\N	[]
10	\N	[]
\N	\N	[]
\N	\N	[]
\N	str_11	[]
\N	str_12	[]
12	\N	[]
12	\N	[]
\N	str_13	[]
13	\N	[]
13	\N	[]
\N	str_14	[]
14	\N	[]
14	\N	[]
\N	str_15	[]
15	\N	[]
15	\N	[]
\N	\N	[]
\N	\N	[]
\N	str_16	[]
\N	str_17	[]
17	\N	[]
17	\N	[]
\N	str_18	[]
18	\N	[]
18	\N	[]
\N	str_19	[]
19	\N	[]
19	\N	[]
\N	\N	[20]
\N	\N	['str_21','str_21']
\N	\N	[22,22,22]
\N	\N	[23,23,23,23]
\N	\N	[24,24,24,24,24]
\N	\N	[25,25,25,25,25,25]
\N	\N	[26,26,26,26,26,26,26]
\N	\N	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
\N	\N	[28,28,28,28,28,28,28,28,28]
\N	\N	[29,29,29,29,29,29,29,29,29,29]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[40]
41	\N	[]
\N	\N	[]
\N	str_43	[]
\N	\N	[44,44,44,44,44]
45	\N	[]
\N	\N	[]
\N	str_47	[]
\N	\N	['str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48']
49	\N	[]
\N	\N	[]
\N	str_51	[]
\N	\N	[52,52,52]
53	\N	[]
\N	\N	[]
\N	str_55	[]
\N	\N	[56,56,56,56,56,56,56]
57	\N	[]
\N	\N	[]
\N	str_59	[]
\N	\N	[60]
61	\N	[]
\N	\N	[]
\N	str_63	[]
\N	\N	[64,64,64,64,64]
65	\N	[]
\N	\N	[]
\N	str_67	[]
\N	\N	[68,68,68,68,68,68,68,68,68]
69	\N	[]
\N	\N	[]
\N	str_71	[]
\N	\N	[NULL,NULL,NULL]
73	\N	[]
\N	\N	[]
\N	str_75	[]
\N	\N	[76,76,76,76,76,76,76]
77	\N	[]
\N	\N	[]
\N	str_79	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
0	0	\N	[]	0	[]
1	1	\N	[]	0	[]
2	2	\N	[]	0	[]
3	3	\N	[]	0	[]
4	4	\N	[]	0	[]
5	5	\N	[]	0	[]
6	6	\N	[]	0	[]
7	7	\N	[]	0	[]
8	8	\N	[]	0	[]
9	9	\N	[]	0	[]
str_10	\N	\N	[]	0	[]
10	10	\N	[]	0	[]
10	10	\N	[]	0	[]
[[0,1]]	\N	\N	[]	0	[]
str_11	\N	\N	[]	0	[]
str_11	\N	\N	[]	0	[]
str_12	\N	\N	[]	0	[]
12	12	\N	[]	0	[]
12	12	\N	[]	0	[]
str_13	\N	\N	[]	0	[]
13	13	\N	[]	0	[]
13	13	\N	[]	0	[]
str_14	\N	\N	[]	0	[]
14	14	\N	[]	0	[]
14	14	\N	[]	0	[]
str_15	\N	\N	[]	0	[]
15	15	\N	[]	0	[]
15	15	\N	[]	0	[]
[[0,1,2,3,4,5,6]]	\N	\N	[]	0	[]
str_16	\N	\N	[]	0	[]
str_16	\N	\N	[]	0	[]
str_17	\N	\N	[]	0	[]
17	17	\N	[]	0	[]
17	17	\N	[]	0	[]
str_18	\N	\N	[]	0	[]
18	18	\N	[]	0	[]
18	18	\N	[]	0	[]
str_19	\N	\N	[]	0	[]
19	19	\N	[]	0	[]
19	19	\N	[]	0	[]
[20]	\N	\N	[20]	1	[20]
['str_21','str_21']	\N	\N	['str_21','str_21']	2	[NULL,NULL]
[22,22,22]	\N	\N	[22,22,22]	3	[22,22,22]
[23,23,23,23]	\N	\N	[23,23,23,23]	4	[23,23,23,23]
[24,24,24,24,24]	\N	\N	[24,24,24,24,24]	5	[24,24,24,24,24]
[25,25,25,25,25,25]	\N	\N	[25,25,25,25,25,25]	6	[25,25,25,25,25,25]
[26,26,26,26,26,26,26]	\N	\N	[26,26,26,26,26,26,26]	7	[26,26,26,26,26,26,26]
[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]	\N	\N	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]	8	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
[28,28,28,28,28,28,28,28,28]	\N	\N	[28,28,28,28,28,28,28,28,28]	9	[28,28,28,28,28,28,28,28,28]
[29,29,29,29,29,29,29,29,29,29]	\N	\N	[29,29,29,29,29,29,29,29,29,29]	10	[29,29,29,29,29,29,29,29,29,29]
\N	\N	\N	[]	0	[]
\N	\N	\N	[]	0	[]
\N	\N	\N	[]	0	[]
\N	\N	\N	[]	0	[]
\N	\N	\N	[]	0	[]
\N	\N	\N	[]	0	[]
\N	\N	\N	[]	0	[]
\N	\N	\N	[]	0	[]
\N	\N	\N	[]	0	[]
\N	\N	\N	[]	0	[]
[40]	\N	\N	[40]	1	[40]
41	41	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_43	\N	\N	[]	0	[]
[44,44,44,44,44]	\N	\N	[44,44,44,44,44]	5	[44,44,44,44,44]
45	45	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_47	\N	\N	[]	0	[]
['str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48']	\N	\N	['str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48']	9	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
49	49	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_51	\N	\N	[]	0	[]
[52,52,52]	\N	\N	[52,52,52]	3	[52,52,52]
53	53	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_55	\N	\N	[]	0	[]
[56,56,56,56,56,56,56]	\N	\N	[56,56,56,56,56,56,56]	7	[56,56,56,56,56,56,56]
57	57	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_59	\N	\N	[]	0	[]
[60]	\N	\N	[60]	1	[60]
61	61	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_63	\N	\N	[]	0	[]
[64,64,64,64,64]	\N	\N	[64,64,64,64,64]	5	[64,64,64,64,64]
65	65	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_67	\N	\N	[]	0	[]
[68,68,68,68,68,68,68,68,68]	\N	\N	[68,68,68,68,68,68,68,68,68]	9	[68,68,68,68,68,68,68,68,68]
69	69	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_71	\N	\N	[]	0	[]
[NULL,NULL,NULL]	\N	\N	[NULL,NULL,NULL]	3	[NULL,NULL,NULL]
73	73	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_75	\N	\N	[]	0	[]
[76,76,76,76,76,76,76]	\N	\N	[76,76,76,76,76,76,76]	7	[76,76,76,76,76,76,76]
77	77	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_79	\N	\N	[]	0	[]
0	\N	[]	0	[]	[]
1	\N	[]	0	[]	[]
2	\N	[]	0	[]	[]
3	\N	[]	0	[]	[]
4	\N	[]	0	[]	[]
5	\N	[]	0	[]	[]
6	\N	[]	0	[]	[]
7	\N	[]	0	[]	[]
8	\N	[]	0	[]	[]
9	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
10	\N	[]	0	[]	[]
10	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
12	\N	[]	0	[]	[]
12	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
13	\N	[]	0	[]	[]
13	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
14	\N	[]	0	[]	[]
14	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
15	\N	[]	0	[]	[]
15	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
17	\N	[]	0	[]	[]
17	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
18	\N	[]	0	[]	[]
18	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
19	\N	[]	0	[]	[]
19	\N	[]	0	[]	[]
\N	\N	[20]	1	[20]	[NULL]
\N	\N	['str_21','str_21']	2	[NULL,NULL]	['str_21','str_21']
\N	\N	[22,22,22]	3	[22,22,22]	[NULL,NULL,NULL]
\N	\N	[23,23,23,23]	4	[23,23,23,23]	[NULL,NULL,NULL,NULL]
\N	\N	[24,24,24,24,24]	5	[24,24,24,24,24]	[NULL,NULL,NULL,NULL,NULL]
\N	\N	[25,25,25,25,25,25]	6	[25,25,25,25,25,25]	[NULL,NULL,NULL,NULL,NULL,NULL]
\N	\N	[26,26,26,26,26,26,26]	7	[26,26,26,26,26,26,26]	[NULL,NULL,NULL,NULL,NULL,NULL,NULL]
\N	\N	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]	8	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
\N	\N	[28,28,28,28,28,28,28,28,28]	9	[28,28,28,28,28,28,28,28,28]	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
\N	\N	[29,29,29,29,29,29,29,29,29,29]	10	[29,29,29,29,29,29,29,29,29,29]	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[40]	1	[40]	[NULL]
41	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[44,44,44,44,44]	5	[44,44,44,44,44]	[NULL,NULL,NULL,NULL,NULL]
45	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	['str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48']	9	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]	['str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48']
49	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[52,52,52]	3	[52,52,52]	[NULL,NULL,NULL]
53	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[56,56,56,56,56,56,56]	7	[56,56,56,56,56,56,56]	[NULL,NULL,NULL,NULL,NULL,NULL,NULL]
57	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[60]	1	[60]	[NULL]
61	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[64,64,64,64,64]	5	[64,64,64,64,64]	[NULL,NULL,NULL,NULL,NULL]
65	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[68,68,68,68,68,68,68,68,68]	9	[68,68,68,68,68,68,68,68,68]	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
69	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[NULL,NULL,NULL]	3	[NULL,NULL,NULL]	[NULL,NULL,NULL]
73	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[76,76,76,76,76,76,76]	7	[76,76,76,76,76,76,76]	[NULL,NULL,NULL,NULL,NULL,NULL,NULL]
77	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
0	0	[]	[]
1	0	[]	[]
2	0	[]	[]
3	0	[]	[]
4	0	[]	[]
5	0	[]	[]
6	0	[]	[]
7	0	[]	[]
8	0	[]	[]
9	0	[]	[]
str_10	0	[]	[]
10	0	[]	[]
10	0	[]	[]
[[0,1]]	0	[]	[]
str_11	0	[]	[]
str_11	0	[]	[]
str_12	0	[]	[]
12	0	[]	[]
12	0	[]	[]
str_13	0	[]	[]
13	0	[]	[]
13	0	[]	[]
str_14	0	[]	[]
14	0	[]	[]
14	0	[]	[]
str_15	0	[]	[]
15	0	[]	[]
15	0	[]	[]
[[0,1,2,3,4,5,6]]	0	[]	[]
str_16	0	[]	[]
str_16	0	[]	[]
str_17	0	[]	[]
17	0	[]	[]
17	0	[]	[]
str_18	0	[]	[]
18	0	[]	[]
18	0	[]	[]
str_19	0	[]	[]
19	0	[]	[]
19	0	[]	[]
[20]	0	[]	[20]
['str_21','str_21']	0	[]	[NULL,NULL]
[22,22,22]	0	[]	[22,22,22]
[23,23,23,23]	0	[]	[23,23,23,23]
[24,24,24,24,24]	0	[]	[24,24,24,24,24]
[25,25,25,25,25,25]	0	[]	[25,25,25,25,25,25]
[26,26,26,26,26,26,26]	0	[]	[26,26,26,26,26,26,26]
[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]	0	[]	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
[28,28,28,28,28,28,28,28,28]	0	[]	[28,28,28,28,28,28,28,28,28]
[29,29,29,29,29,29,29,29,29,29]	0	[]	[29,29,29,29,29,29,29,29,29,29]
\N	0	[]	[]
\N	0	[]	[]
\N	0	[]	[]
\N	0	[]	[]
\N	0	[]	[]
\N	0	[]	[]
\N	0	[]	[]
\N	0	[]	[]
\N	0	[]	[]
\N	0	[]	[]
[40]	0	[]	[40]
41	0	[]	[]
\N	0	[]	[]
str_43	0	[]	[]
[44,44,44,44,44]	0	[]	[44,44,44,44,44]
45	0	[]	[]
\N	0	[]	[]
str_47	0	[]	[]
['str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48']	0	[]	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
49	0	[]	[]
\N	0	[]	[]
str_51	0	[]	[]
[52,52,52]	0	[]	[52,52,52]
53	0	[]	[]
\N	0	[]	[]
str_55	0	[]	[]
[56,56,56,56,56,56,56]	0	[]	[56,56,56,56,56,56,56]
57	0	[]	[]
\N	0	[]	[]
str_59	0	[]	[]
[60]	0	[]	[60]
61	0	[]	[]
\N	0	[]	[]
str_63	0	[]	[]
[64,64,64,64,64]	0	[]	[64,64,64,64,64]
65	0	[]	[]
\N	0	[]	[]
str_67	0	[]	[]
[68,68,68,68,68,68,68,68,68]	0	[]	[68,68,68,68,68,68,68,68,68]
69	0	[]	[]
\N	0	[]	[]
str_71	0	[]	[]
[NULL,NULL,NULL]	0	[]	[NULL,NULL,NULL]
73	0	[]	[]
\N	0	[]	[]
str_75	0	[]	[]
[76,76,76,76,76,76,76]	0	[]	[76,76,76,76,76,76,76]
77	0	[]	[]
\N	0	[]	[]
str_79	0	[]	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[20]
[]	0	[NULL,NULL]
[]	0	[22,22,22]
[]	0	[23,23,23,23]
[]	0	[24,24,24,24,24]
[]	0	[25,25,25,25,25,25]
[]	0	[26,26,26,26,26,26,26]
[]	0	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
[]	0	[28,28,28,28,28,28,28,28,28]
[]	0	[29,29,29,29,29,29,29,29,29,29]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[40]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[44,44,44,44,44]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[52,52,52]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[56,56,56,56,56,56,56]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[60]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[64,64,64,64,64]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[68,68,68,68,68,68,68,68,68]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[NULL,NULL,NULL]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[76,76,76,76,76,76,76]
[]	0	[]
[]	0	[]
[]	0	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[2]	[[0,1]]	[[[],[]]]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[7]	[[0,1,2,3,4,5,6]]	[[[],[],[],[],[],[],[]]]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
MergeTree order by id settings min_rows_for_wide_part=1, min_bytes_for_wide_part=1
Array(Array(Dynamic))
Array(Variant(String, UInt64))
LowCardinality(String)
None
String
UInt64
36
36
20
20
0
0
2
2
20
20
2
2
20
0
0	0	\N	[]
1	1	\N	[]
2	2	\N	[]
3	3	\N	[]
4	4	\N	[]
5	5	\N	[]
6	6	\N	[]
7	7	\N	[]
8	8	\N	[]
9	9	\N	[]
str_10	\N	str_10	[]
10	10	\N	[]
10	10	\N	[]
[[0,1]]	\N	\N	[]
str_11	\N	\N	[]
str_11	\N	str_11	[]
str_12	\N	str_12	[]
12	12	\N	[]
12	12	\N	[]
str_13	\N	str_13	[]
13	13	\N	[]
13	13	\N	[]
str_14	\N	str_14	[]
14	14	\N	[]
14	14	\N	[]
str_15	\N	str_15	[]
15	15	\N	[]
15	15	\N	[]
[[0,1,2,3,4,5,6]]	\N	\N	[]
str_16	\N	\N	[]
str_16	\N	str_16	[]
str_17	\N	str_17	[]
17	17	\N	[]
17	17	\N	[]
str_18	\N	str_18	[]
18	18	\N	[]
18	18	\N	[]
str_19	\N	str_19	[]
19	19	\N	[]
19	19	\N	[]
[20]	\N	\N	[20]
['str_21','str_21']	\N	\N	['str_21','str_21']
[22,22,22]	\N	\N	[22,22,22]
[23,23,23,23]	\N	\N	[23,23,23,23]
[24,24,24,24,24]	\N	\N	[24,24,24,24,24]
[25,25,25,25,25,25]	\N	\N	[25,25,25,25,25,25]
[26,26,26,26,26,26,26]	\N	\N	[26,26,26,26,26,26,26]
[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]	\N	\N	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
[28,28,28,28,28,28,28,28,28]	\N	\N	[28,28,28,28,28,28,28,28,28]
[29,29,29,29,29,29,29,29,29,29]	\N	\N	[29,29,29,29,29,29,29,29,29,29]
\N	\N	\N	[]
\N	\N	\N	[]
\N	\N	\N	[]
\N	\N	\N	[]
\N	\N	\N	[]
\N	\N	\N	[]
\N	\N	\N	[]
\N	\N	\N	[]
\N	\N	\N	[]
\N	\N	\N	[]
[40]	\N	\N	[40]
41	41	\N	[]
\N	\N	\N	[]
str_43	\N	str_43	[]
[44,44,44,44,44]	\N	\N	[44,44,44,44,44]
45	45	\N	[]
\N	\N	\N	[]
str_47	\N	str_47	[]
['str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48']	\N	\N	['str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48']
49	49	\N	[]
\N	\N	\N	[]
str_51	\N	str_51	[]
[52,52,52]	\N	\N	[52,52,52]
53	53	\N	[]
\N	\N	\N	[]
str_55	\N	str_55	[]
[56,56,56,56,56,56,56]	\N	\N	[56,56,56,56,56,56,56]
57	57	\N	[]
\N	\N	\N	[]
str_59	\N	str_59	[]
[60]	\N	\N	[60]
61	61	\N	[]
\N	\N	\N	[]
str_63	\N	str_63	[]
[64,64,64,64,64]	\N	\N	[64,64,64,64,64]
65	65	\N	[]
\N	\N	\N	[]
str_67	\N	str_67	[]
[68,68,68,68,68,68,68,68,68]	\N	\N	[68,68,68,68,68,68,68,68,68]
69	69	\N	[]
\N	\N	\N	[]
str_71	\N	str_71	[]
[NULL,NULL,NULL]	\N	\N	[NULL,NULL,NULL]
73	73	\N	[]
\N	\N	\N	[]
str_75	\N	str_75	[]
[76,76,76,76,76,76,76]	\N	\N	[76,76,76,76,76,76,76]
77	77	\N	[]
\N	\N	\N	[]
str_79	\N	str_79	[]
0	\N	[]
1	\N	[]
2	\N	[]
3	\N	[]
4	\N	[]
5	\N	[]
6	\N	[]
7	\N	[]
8	\N	[]
9	\N	[]
\N	str_10	[]
10	\N	[]
10	\N	[]
\N	\N	[]
\N	\N	[]
\N	str_11	[]
\N	str_12	[]
12	\N	[]
12	\N	[]
\N	str_13	[]
13	\N	[]
13	\N	[]
\N	str_14	[]
14	\N	[]
14	\N	[]
\N	str_15	[]
15	\N	[]
15	\N	[]
\N	\N	[]
\N	\N	[]
\N	str_16	[]
\N	str_17	[]
17	\N	[]
17	\N	[]
\N	str_18	[]
18	\N	[]
18	\N	[]
\N	str_19	[]
19	\N	[]
19	\N	[]
\N	\N	[20]
\N	\N	['str_21','str_21']
\N	\N	[22,22,22]
\N	\N	[23,23,23,23]
\N	\N	[24,24,24,24,24]
\N	\N	[25,25,25,25,25,25]
\N	\N	[26,26,26,26,26,26,26]
\N	\N	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
\N	\N	[28,28,28,28,28,28,28,28,28]
\N	\N	[29,29,29,29,29,29,29,29,29,29]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[40]
41	\N	[]
\N	\N	[]
\N	str_43	[]
\N	\N	[44,44,44,44,44]
45	\N	[]
\N	\N	[]
\N	str_47	[]
\N	\N	['str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48']
49	\N	[]
\N	\N	[]
\N	str_51	[]
\N	\N	[52,52,52]
53	\N	[]
\N	\N	[]
\N	str_55	[]
\N	\N	[56,56,56,56,56,56,56]
57	\N	[]
\N	\N	[]
\N	str_59	[]
\N	\N	[60]
61	\N	[]
\N	\N	[]
\N	str_63	[]
\N	\N	[64,64,64,64,64]
65	\N	[]
\N	\N	[]
\N	str_67	[]
\N	\N	[68,68,68,68,68,68,68,68,68]
69	\N	[]
\N	\N	[]
\N	str_71	[]
\N	\N	[NULL,NULL,NULL]
73	\N	[]
\N	\N	[]
\N	str_75	[]
\N	\N	[76,76,76,76,76,76,76]
77	\N	[]
\N	\N	[]
\N	str_79	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
\N	\N	[]
0	0	\N	[]	0	[]
1	1	\N	[]	0	[]
2	2	\N	[]	0	[]
3	3	\N	[]	0	[]
4	4	\N	[]	0	[]
5	5	\N	[]	0	[]
6	6	\N	[]	0	[]
7	7	\N	[]	0	[]
8	8	\N	[]	0	[]
9	9	\N	[]	0	[]
str_10	\N	\N	[]	0	[]
10	10	\N	[]	0	[]
10	10	\N	[]	0	[]
[[0,1]]	\N	\N	[]	0	[]
str_11	\N	\N	[]	0	[]
str_11	\N	\N	[]	0	[]
str_12	\N	\N	[]	0	[]
12	12	\N	[]	0	[]
12	12	\N	[]	0	[]
str_13	\N	\N	[]	0	[]
13	13	\N	[]	0	[]
13	13	\N	[]	0	[]
str_14	\N	\N	[]	0	[]
14	14	\N	[]	0	[]
14	14	\N	[]	0	[]
str_15	\N	\N	[]	0	[]
15	15	\N	[]	0	[]
15	15	\N	[]	0	[]
[[0,1,2,3,4,5,6]]	\N	\N	[]	0	[]
str_16	\N	\N	[]	0	[]
str_16	\N	\N	[]	0	[]
str_17	\N	\N	[]	0	[]
17	17	\N	[]	0	[]
17	17	\N	[]	0	[]
str_18	\N	\N	[]	0	[]
18	18	\N	[]	0	[]
18	18	\N	[]	0	[]
str_19	\N	\N	[]	0	[]
19	19	\N	[]	0	[]
19	19	\N	[]	0	[]
[20]	\N	\N	[20]	1	[20]
['str_21','str_21']	\N	\N	['str_21','str_21']	2	[NULL,NULL]
[22,22,22]	\N	\N	[22,22,22]	3	[22,22,22]
[23,23,23,23]	\N	\N	[23,23,23,23]	4	[23,23,23,23]
[24,24,24,24,24]	\N	\N	[24,24,24,24,24]	5	[24,24,24,24,24]
[25,25,25,25,25,25]	\N	\N	[25,25,25,25,25,25]	6	[25,25,25,25,25,25]
[26,26,26,26,26,26,26]	\N	\N	[26,26,26,26,26,26,26]	7	[26,26,26,26,26,26,26]
[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]	\N	\N	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]	8	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
[28,28,28,28,28,28,28,28,28]	\N	\N	[28,28,28,28,28,28,28,28,28]	9	[28,28,28,28,28,28,28,28,28]
[29,29,29,29,29,29,29,29,29,29]	\N	\N	[29,29,29,29,29,29,29,29,29,29]	10	[29,29,29,29,29,29,29,29,29,29]
\N	\N	\N	[]	0	[]
\N	\N	\N	[]	0	[]
\N	\N	\N	[]	0	[]
\N	\N	\N	[]	0	[]
\N	\N	\N	[]	0	[]
\N	\N	\N	[]	0	[]
\N	\N	\N	[]	0	[]
\N	\N	\N	[]	0	[]
\N	\N	\N	[]	0	[]
\N	\N	\N	[]	0	[]
[40]	\N	\N	[40]	1	[40]
41	41	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_43	\N	\N	[]	0	[]
[44,44,44,44,44]	\N	\N	[44,44,44,44,44]	5	[44,44,44,44,44]
45	45	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_47	\N	\N	[]	0	[]
['str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48']	\N	\N	['str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48']	9	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
49	49	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_51	\N	\N	[]	0	[]
[52,52,52]	\N	\N	[52,52,52]	3	[52,52,52]
53	53	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_55	\N	\N	[]	0	[]
[56,56,56,56,56,56,56]	\N	\N	[56,56,56,56,56,56,56]	7	[56,56,56,56,56,56,56]
57	57	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_59	\N	\N	[]	0	[]
[60]	\N	\N	[60]	1	[60]
61	61	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_63	\N	\N	[]	0	[]
[64,64,64,64,64]	\N	\N	[64,64,64,64,64]	5	[64,64,64,64,64]
65	65	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_67	\N	\N	[]	0	[]
[68,68,68,68,68,68,68,68,68]	\N	\N	[68,68,68,68,68,68,68,68,68]	9	[68,68,68,68,68,68,68,68,68]
69	69	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_71	\N	\N	[]	0	[]
[NULL,NULL,NULL]	\N	\N	[NULL,NULL,NULL]	3	[NULL,NULL,NULL]
73	73	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_75	\N	\N	[]	0	[]
[76,76,76,76,76,76,76]	\N	\N	[76,76,76,76,76,76,76]	7	[76,76,76,76,76,76,76]
77	77	\N	[]	0	[]
\N	\N	\N	[]	0	[]
str_79	\N	\N	[]	0	[]
0	\N	[]	0	[]	[]
1	\N	[]	0	[]	[]
2	\N	[]	0	[]	[]
3	\N	[]	0	[]	[]
4	\N	[]	0	[]	[]
5	\N	[]	0	[]	[]
6	\N	[]	0	[]	[]
7	\N	[]	0	[]	[]
8	\N	[]	0	[]	[]
9	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
10	\N	[]	0	[]	[]
10	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
12	\N	[]	0	[]	[]
12	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
13	\N	[]	0	[]	[]
13	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
14	\N	[]	0	[]	[]
14	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
15	\N	[]	0	[]	[]
15	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
17	\N	[]	0	[]	[]
17	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
18	\N	[]	0	[]	[]
18	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
19	\N	[]	0	[]	[]
19	\N	[]	0	[]	[]
\N	\N	[20]	1	[20]	[NULL]
\N	\N	['str_21','str_21']	2	[NULL,NULL]	['str_21','str_21']
\N	\N	[22,22,22]	3	[22,22,22]	[NULL,NULL,NULL]
\N	\N	[23,23,23,23]	4	[23,23,23,23]	[NULL,NULL,NULL,NULL]
\N	\N	[24,24,24,24,24]	5	[24,24,24,24,24]	[NULL,NULL,NULL,NULL,NULL]
\N	\N	[25,25,25,25,25,25]	6	[25,25,25,25,25,25]	[NULL,NULL,NULL,NULL,NULL,NULL]
\N	\N	[26,26,26,26,26,26,26]	7	[26,26,26,26,26,26,26]	[NULL,NULL,NULL,NULL,NULL,NULL,NULL]
\N	\N	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]	8	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
\N	\N	[28,28,28,28,28,28,28,28,28]	9	[28,28,28,28,28,28,28,28,28]	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
\N	\N	[29,29,29,29,29,29,29,29,29,29]	10	[29,29,29,29,29,29,29,29,29,29]	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[40]	1	[40]	[NULL]
41	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[44,44,44,44,44]	5	[44,44,44,44,44]	[NULL,NULL,NULL,NULL,NULL]
45	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	['str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48']	9	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]	['str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48']
49	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[52,52,52]	3	[52,52,52]	[NULL,NULL,NULL]
53	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[56,56,56,56,56,56,56]	7	[56,56,56,56,56,56,56]	[NULL,NULL,NULL,NULL,NULL,NULL,NULL]
57	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[60]	1	[60]	[NULL]
61	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[64,64,64,64,64]	5	[64,64,64,64,64]	[NULL,NULL,NULL,NULL,NULL]
65	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[68,68,68,68,68,68,68,68,68]	9	[68,68,68,68,68,68,68,68,68]	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
69	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[NULL,NULL,NULL]	3	[NULL,NULL,NULL]	[NULL,NULL,NULL]
73	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[76,76,76,76,76,76,76]	7	[76,76,76,76,76,76,76]	[NULL,NULL,NULL,NULL,NULL,NULL,NULL]
77	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
\N	\N	[]	0	[]	[]
0	0	[]	[]
1	0	[]	[]
2	0	[]	[]
3	0	[]	[]
4	0	[]	[]
5	0	[]	[]
6	0	[]	[]
7	0	[]	[]
8	0	[]	[]
9	0	[]	[]
str_10	0	[]	[]
10	0	[]	[]
10	0	[]	[]
[[0,1]]	0	[]	[]
str_11	0	[]	[]
str_11	0	[]	[]
str_12	0	[]	[]
12	0	[]	[]
12	0	[]	[]
str_13	0	[]	[]
13	0	[]	[]
13	0	[]	[]
str_14	0	[]	[]
14	0	[]	[]
14	0	[]	[]
str_15	0	[]	[]
15	0	[]	[]
15	0	[]	[]
[[0,1,2,3,4,5,6]]	0	[]	[]
str_16	0	[]	[]
str_16	0	[]	[]
str_17	0	[]	[]
17	0	[]	[]
17	0	[]	[]
str_18	0	[]	[]
18	0	[]	[]
18	0	[]	[]
str_19	0	[]	[]
19	0	[]	[]
19	0	[]	[]
[20]	0	[]	[20]
['str_21','str_21']	0	[]	[NULL,NULL]
[22,22,22]	0	[]	[22,22,22]
[23,23,23,23]	0	[]	[23,23,23,23]
[24,24,24,24,24]	0	[]	[24,24,24,24,24]
[25,25,25,25,25,25]	0	[]	[25,25,25,25,25,25]
[26,26,26,26,26,26,26]	0	[]	[26,26,26,26,26,26,26]
[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]	0	[]	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
[28,28,28,28,28,28,28,28,28]	0	[]	[28,28,28,28,28,28,28,28,28]
[29,29,29,29,29,29,29,29,29,29]	0	[]	[29,29,29,29,29,29,29,29,29,29]
\N	0	[]	[]
\N	0	[]	[]
\N	0	[]	[]
\N	0	[]	[]
\N	0	[]	[]
\N	0	[]	[]
\N	0	[]	[]
\N	0	[]	[]
\N	0	[]	[]
\N	0	[]	[]
[40]	0	[]	[40]
41	0	[]	[]
\N	0	[]	[]
str_43	0	[]	[]
[44,44,44,44,44]	0	[]	[44,44,44,44,44]
45	0	[]	[]
\N	0	[]	[]
str_47	0	[]	[]
['str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48','str_48']	0	[]	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
49	0	[]	[]
\N	0	[]	[]
str_51	0	[]	[]
[52,52,52]	0	[]	[52,52,52]
53	0	[]	[]
\N	0	[]	[]
str_55	0	[]	[]
[56,56,56,56,56,56,56]	0	[]	[56,56,56,56,56,56,56]
57	0	[]	[]
\N	0	[]	[]
str_59	0	[]	[]
[60]	0	[]	[60]
61	0	[]	[]
\N	0	[]	[]
str_63	0	[]	[]
[64,64,64,64,64]	0	[]	[64,64,64,64,64]
65	0	[]	[]
\N	0	[]	[]
str_67	0	[]	[]
[68,68,68,68,68,68,68,68,68]	0	[]	[68,68,68,68,68,68,68,68,68]
69	0	[]	[]
\N	0	[]	[]
str_71	0	[]	[]
[NULL,NULL,NULL]	0	[]	[NULL,NULL,NULL]
73	0	[]	[]
\N	0	[]	[]
str_75	0	[]	[]
[76,76,76,76,76,76,76]	0	[]	[76,76,76,76,76,76,76]
77	0	[]	[]
\N	0	[]	[]
str_79	0	[]	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[20]
[]	0	[NULL,NULL]
[]	0	[22,22,22]
[]	0	[23,23,23,23]
[]	0	[24,24,24,24,24]
[]	0	[25,25,25,25,25,25]
[]	0	[26,26,26,26,26,26,26]
[]	0	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
[]	0	[28,28,28,28,28,28,28,28,28]
[]	0	[29,29,29,29,29,29,29,29,29,29]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[40]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[44,44,44,44,44]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[52,52,52]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[56,56,56,56,56,56,56]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[60]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[64,64,64,64,64]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[68,68,68,68,68,68,68,68,68]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[NULL,NULL,NULL]
[]	0	[]
[]	0	[]
[]	0	[]
[]	0	[76,76,76,76,76,76,76]
[]	0	[]
[]	0	[]
[]	0	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[2]	[[0,1]]	[[[],[]]]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[7]	[[0,1,2,3,4,5,6]]	[[[],[],[],[],[],[],[]]]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
[]	[]	[]
