5	DateTime	false
6	Date	false
7	Array(UInt16)	false
8	String	false
10	None	false
10	UInt64	false
---------------------
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
8	String	false
10	None	false
10	UInt64	false
---------------------
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
8	String	false
10	None	false
10	UInt64	false
20	Map(UInt64, UInt64)	false
---------------------
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
8	String	true
10	None	false
10	UInt64	false
20	Map(UInt64, UInt64)	false
---------------------
1	Tuple(UInt64, UInt64)	false
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
8	String	true
10	None	false
10	UInt64	false
20	Map(UInt64, UInt64)	false
---------------------
1	Tuple(UInt64, UInt64)	true
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
8	String	true
10	None	false
10	UInt64	false
20	Map(UInt64, UInt64)	false
---------------------
1	Tuple(UInt64, UInt64)	true
3	String	false
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
8	String	true
10	None	false
10	UInt64	false
20	Map(UInt64, UInt64)	false
---------------------
1	Tuple(UInt64, UInt64)	true
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
10	None	false
10	UInt64	true
11	String	false
20	Map(UInt64, UInt64)	false
5	DateTime	false
6	Date	false
7	Array(UInt16)	false
8	String	false
10	None	false
10	UInt64	false
---------------------
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
8	String	false
10	None	false
10	UInt64	false
---------------------
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
8	String	false
10	None	false
10	UInt64	false
20	Map(UInt64, UInt64)	false
---------------------
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
8	String	true
10	None	false
10	UInt64	false
20	Map(UInt64, UInt64)	false
---------------------
1	Tuple(UInt64, UInt64)	false
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
8	String	true
10	None	false
10	UInt64	false
20	Map(UInt64, UInt64)	false
---------------------
1	Tuple(UInt64, UInt64)	true
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
8	String	true
10	None	false
10	UInt64	false
20	Map(UInt64, UInt64)	false
---------------------
1	Tuple(UInt64, UInt64)	true
3	String	false
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
8	String	true
10	None	false
10	UInt64	false
20	Map(UInt64, UInt64)	false
---------------------
1	Tuple(UInt64, UInt64)	true
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
10	None	false
10	UInt64	true
11	String	false
20	Map(UInt64, UInt64)	false
5	DateTime	false
6	Date	false
7	Array(UInt16)	false
8	String	false
10	None	false
10	UInt64	false
---------------------
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
8	String	false
10	None	false
10	UInt64	false
---------------------
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
8	String	false
10	None	false
10	UInt64	false
20	Map(UInt64, UInt64)	false
---------------------
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
8	String	true
10	None	false
10	UInt64	false
20	Map(UInt64, UInt64)	false
---------------------
1	Tuple(UInt64, UInt64)	false
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
8	String	true
10	None	false
10	UInt64	false
20	Map(UInt64, UInt64)	false
---------------------
1	Tuple(UInt64, UInt64)	true
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
8	String	true
10	None	false
10	UInt64	false
20	Map(UInt64, UInt64)	false
---------------------
1	Tuple(UInt64, UInt64)	true
3	String	false
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
8	String	true
10	None	false
10	UInt64	false
20	Map(UInt64, UInt64)	false
---------------------
1	Tuple(UInt64, UInt64)	true
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
10	None	false
10	UInt64	true
11	String	false
20	Map(UInt64, UInt64)	false
5	DateTime	false
6	Date	false
7	Array(UInt16)	false
8	String	false
10	None	false
10	UInt64	false
---------------------
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
8	String	false
10	None	false
10	UInt64	false
---------------------
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
8	String	false
10	None	false
10	UInt64	false
20	Map(UInt64, UInt64)	false
---------------------
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
8	String	true
10	None	false
10	UInt64	false
20	Map(UInt64, UInt64)	false
---------------------
1	Tuple(UInt64, UInt64)	false
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
8	String	true
10	None	false
10	UInt64	false
20	Map(UInt64, UInt64)	false
---------------------
1	Tuple(UInt64, UInt64)	true
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
8	String	true
10	None	false
10	UInt64	false
20	Map(UInt64, UInt64)	false
---------------------
1	Tuple(UInt64, UInt64)	true
3	String	false
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
8	String	true
10	None	false
10	UInt64	false
20	Map(UInt64, UInt64)	false
---------------------
1	Tuple(UInt64, UInt64)	true
5	DateTime	true
6	Date	true
7	Array(UInt16)	true
10	None	false
10	UInt64	true
11	String	false
20	Map(UInt64, UInt64)	false
