2	Tuple(a Dynamic(max_types=3)):Date
3	Tuple(a Dynamic(max_types=3)):Array(UInt8)
5	Tuple(a Dynamic(max_types=3)):String
5	Tuple(a Dynamic(max_types=3)):UInt64
10	UInt64:None
3	Tuple(a Dynamic(max_types=3)):Array(UInt8)
5	Tuple(a Dynamic(max_types=3)):UInt64
7	Tuple(a Dynamic(max_types=3)):String
10	UInt64:None
2	Tuple(a Dynamic(max_types=3)):DateTime
3	Tuple(a Dynamic(max_types=3)):Array(UInt8)
5	Tuple(a Dynamic(max_types=3)):UInt64
7	Tuple(a Dynamic(max_types=3)):String
10	Tuple(a Dynamic(max_types=3)):Tuple(UInt64)
10	UInt64:None
13	Tuple(a Dynamic(max_types=3)):None
5	Tuple(a Dynamic(max_types=3)):UInt64
10	Tuple(a Dynamic(max_types=3)):Tuple(UInt64)
10	UInt64:None
12	Tuple(a Dynamic(max_types=3)):String
13	Tuple(a Dynamic(max_types=3)):None
2	Tuple(a Dynamic(max_types=3)):Date
3	Tuple(a Dynamic(max_types=3)):Array(UInt8)
5	Tuple(a Dynamic(max_types=3)):String
5	Tuple(a Dynamic(max_types=3)):UInt64
10	UInt64:None
3	Tuple(a Dynamic(max_types=3)):Array(UInt8)
5	Tuple(a Dynamic(max_types=3)):UInt64
7	Tuple(a Dynamic(max_types=3)):String
10	UInt64:None
2	Tuple(a Dynamic(max_types=3)):DateTime
3	Tuple(a Dynamic(max_types=3)):Array(UInt8)
5	Tuple(a Dynamic(max_types=3)):UInt64
7	Tuple(a Dynamic(max_types=3)):String
10	Tuple(a Dynamic(max_types=3)):Tuple(UInt64)
10	UInt64:None
13	Tuple(a Dynamic(max_types=3)):None
5	Tuple(a Dynamic(max_types=3)):UInt64
10	Tuple(a Dynamic(max_types=3)):Tuple(UInt64)
10	UInt64:None
12	Tuple(a Dynamic(max_types=3)):String
13	Tuple(a Dynamic(max_types=3)):None
2	Tuple(a Dynamic(max_types=3)):Date
3	Tuple(a Dynamic(max_types=3)):Array(UInt8)
5	Tuple(a Dynamic(max_types=3)):String
5	Tuple(a Dynamic(max_types=3)):UInt64
10	UInt64:None
3	Tuple(a Dynamic(max_types=3)):Array(UInt8)
5	Tuple(a Dynamic(max_types=3)):UInt64
7	Tuple(a Dynamic(max_types=3)):String
10	UInt64:None
2	Tuple(a Dynamic(max_types=3)):DateTime
3	Tuple(a Dynamic(max_types=3)):Array(UInt8)
5	Tuple(a Dynamic(max_types=3)):UInt64
7	Tuple(a Dynamic(max_types=3)):String
10	Tuple(a Dynamic(max_types=3)):Tuple(UInt64)
10	UInt64:None
13	Tuple(a Dynamic(max_types=3)):None
5	Tuple(a Dynamic(max_types=3)):UInt64
10	Tuple(a Dynamic(max_types=3)):Tuple(UInt64)
10	UInt64:None
12	Tuple(a Dynamic(max_types=3)):String
13	Tuple(a Dynamic(max_types=3)):None
2	Tuple(a Dynamic(max_types=3)):Date
3	Tuple(a Dynamic(max_types=3)):Array(UInt8)
5	Tuple(a Dynamic(max_types=3)):String
5	Tuple(a Dynamic(max_types=3)):UInt64
10	UInt64:None
3	Tuple(a Dynamic(max_types=3)):Array(UInt8)
5	Tuple(a Dynamic(max_types=3)):UInt64
7	Tuple(a Dynamic(max_types=3)):String
10	UInt64:None
2	Tuple(a Dynamic(max_types=3)):DateTime
3	Tuple(a Dynamic(max_types=3)):Array(UInt8)
5	Tuple(a Dynamic(max_types=3)):UInt64
7	Tuple(a Dynamic(max_types=3)):String
10	Tuple(a Dynamic(max_types=3)):Tuple(UInt64)
10	UInt64:None
13	Tuple(a Dynamic(max_types=3)):None
5	Tuple(a Dynamic(max_types=3)):UInt64
10	Tuple(a Dynamic(max_types=3)):Tuple(UInt64)
10	UInt64:None
12	Tuple(a Dynamic(max_types=3)):String
13	Tuple(a Dynamic(max_types=3)):None
