('a.b.c','UInt32')
('a.b.d','Array(Nullable(String))')
('a.b.d','DateTime')
('a.b.d','Int64')
('a.b.e','String')
('b.b._0','Int64')
('b.b._1','Int64')
('b.b._2','Int64')
('b.b._3','Int64')
('b.b._4','Int64')
('b.b.d','Int64')
('b.b.e','String')
('d.a','Array(Nullable(Int64))')
('d.a','Int64')
('d.b','Int64')
('d.c','Date')
80000
80000
30000
70000
70000
20000
40000
50000
60000
50000
60000
60000
70000
58000
68000
0
0
('a.b.c','UInt32')
('a.b.d','Array(Nullable(String))')
('a.b.d','DateTime')
('a.b.d','Int64')
('a.b.e','String')
('b.b._0','Int64')
('b.b._1','Int64')
('b.b._2','Int64')
('b.b._3','Int64')
('b.b._4','Int64')
('b.b.d','Int64')
('b.b.e','String')
('d.a','Array(Nullable(Int64))')
('d.a','Int64')
('d.b','Int64')
('d.c','Date')
80000
80000
30000
70000
70000
20000
40000
50000
60000
50000
60000
60000
70000
58000
68000
0
0
