initial insert
alter add column 1
0	{}	\N	{}	\N	\N
1	{}	\N	{}	\N	\N
2	{}	\N	{}	\N	\N
insert after alter add column
3	a.b
3	b.c
3	c.d
0	{}	\N	{}	\N	\N
1	{}	\N	{}	\N	\N
2	{}	\N	{}	\N	\N
3	{"a":{"b":"3"}}	3	{"b":"3"}	\N	\N
4	{"a":{"b":"4"}}	4	{"b":"4"}	\N	\N
5	{"a":{"b":"5"}}	5	{"b":"5"}	\N	\N
6	{"b":{"c":"6"}}	\N	{}	6	\N
7	{"b":{"c":"7"}}	\N	{}	7	\N
8	{"b":{"c":"8"}}	\N	{}	8	\N
9	{"c":{"d":"9"}}	\N	{}	\N	9
10	{"c":{"d":"10"}}	\N	{}	\N	10
11	{"c":{"d":"11"}}	\N	{}	\N	11
12	{}	\N	{}	\N	\N
13	{}	\N	{}	\N	\N
14	{}	\N	{}	\N	\N
initial insert
alter add column 1
0	{}	\N	{}	\N	\N
1	{}	\N	{}	\N	\N
2	{}	\N	{}	\N	\N
insert after alter add column
3	a.b
3	b.c
3	c.d
0	{}	\N	{}	\N	\N
1	{}	\N	{}	\N	\N
2	{}	\N	{}	\N	\N
3	{"a":{"b":"3"}}	3	{"b":"3"}	\N	\N
4	{"a":{"b":"4"}}	4	{"b":"4"}	\N	\N
5	{"a":{"b":"5"}}	5	{"b":"5"}	\N	\N
6	{"b":{"c":"6"}}	\N	{}	6	\N
7	{"b":{"c":"7"}}	\N	{}	7	\N
8	{"b":{"c":"8"}}	\N	{}	8	\N
9	{"c":{"d":"9"}}	\N	{}	\N	9
10	{"c":{"d":"10"}}	\N	{}	\N	10
11	{"c":{"d":"11"}}	\N	{}	\N	11
12	{}	\N	{}	\N	\N
13	{}	\N	{}	\N	\N
14	{}	\N	{}	\N	\N
initial insert
alter add column 1
0	{}	\N	{}	\N	\N
1	{}	\N	{}	\N	\N
2	{}	\N	{}	\N	\N
insert after alter add column
3	a.b
3	b.c
3	c.d
0	{}	\N	{}	\N	\N
1	{}	\N	{}	\N	\N
2	{}	\N	{}	\N	\N
3	{"a":{"b":"3"}}	3	{"b":"3"}	\N	\N
4	{"a":{"b":"4"}}	4	{"b":"4"}	\N	\N
5	{"a":{"b":"5"}}	5	{"b":"5"}	\N	\N
6	{"b":{"c":"6"}}	\N	{}	6	\N
7	{"b":{"c":"7"}}	\N	{}	7	\N
8	{"b":{"c":"8"}}	\N	{}	8	\N
9	{"c":{"d":"9"}}	\N	{}	\N	9
10	{"c":{"d":"10"}}	\N	{}	\N	10
11	{"c":{"d":"11"}}	\N	{}	\N	11
12	{}	\N	{}	\N	\N
13	{}	\N	{}	\N	\N
14	{}	\N	{}	\N	\N
