-- Tags: long

SET enable_analyzer = 1;
SET enable_parallel_replicas = 1, max_parallel_replicas = 2, cluster_for_parallel_replicas = 'test_cluster_one_shard_three_replicas_localhost';
SET parallel_replicas_mark_segment_size = 1;

DROP TABLE IF EXISTS test_table_join_1 SYNC;
CREATE TABLE test_table_join_1
(
    id UInt32,
    value String
) ENGINE = ReplicatedMergeTree('/clickhouse/{database}/test_table_join_1', 'r1') ORDER BY id SETTINGS index_granularity=1;

DROP TABLE IF EXISTS test_table_join_2 SYNC;
CREATE TABLE test_table_join_2
(
    id UInt16,
    value String
) ENGINE = ReplicatedMergeTree('/clickhouse/{database}/test_table_join_2', 'r1') ORDER BY id SETTINGS index_granularity=1;

DROP TABLE IF EXISTS test_table_join_3 SYNC;
CREATE TABLE test_table_join_3
(
    id UInt64,
    value String
) ENGINE = ReplicatedMergeTree('/clickhouse/{database}/test_table_join_3', 'r1') ORDER BY id SETTINGS index_granularity=1;

INSERT INTO test_table_join_1 SELECT number, concat('t1_value_', number) from numbers(500);
INSERT INTO test_table_join_1 SELECT number, concat('t1_value_', number) from numbers(500, 400);

INSERT INTO test_table_join_2 SELECT number, concat('t2_value_', number) from numbers(100, 500);
INSERT INTO test_table_join_2 SELECT number, concat('t2_value_', number) from numbers(500, 500);

INSERT INTO test_table_join_3 SELECT number, concat('t3_value_', number) from numbers(500);
INSERT INTO test_table_join_3 SELECT number, concat('t3_value_', number) from numbers(600, 400);

-- { echoOn }

{% for first_join_type in ['INNER'] -%}
{% for second_join_type in ['INNER', 'LEFT', 'RIGHT', 'FULL'] -%}

SELECT 'First JOIN {{ first_join_type }} second JOIN {{ second_join_type }}';

(
    SELECT
        t1.*,
        t2.*,
        t3.*
    FROM test_table_join_1 AS t1
    {{ first_join_type }} JOIN test_table_join_2 AS t2 USING (id)
    {{ second_join_type }} JOIN test_table_join_3 AS t3 USING (id)
    ORDER BY ALL ASC
    SETTINGS enable_parallel_replicas = 0
)
EXCEPT
(
    SELECT
        t1.*,
        t2.*,
        t3.*
    FROM test_table_join_1 AS t1
    {{ first_join_type }} JOIN test_table_join_2 AS t2 USING (id)
    {{ second_join_type }} JOIN test_table_join_3 AS t3 USING (id)
    ORDER BY ALL ASC
    SETTINGS enable_parallel_replicas = 1
);

SELECT
    sum(sipHash64(t1.*, t2.*, t3.*)),
    count()
FROM test_table_join_1 AS t1
{{ first_join_type }} JOIN test_table_join_2 AS t2 USING (id)
{{ second_join_type }} JOIN test_table_join_3 AS t3 USING (id)
ORDER BY ALL ASC
SETTINGS enable_parallel_replicas=0;

SELECT
    sum(sipHash64(t1.*, t2.*, t3.*)),
    count()
FROM test_table_join_1 AS t1
{{ first_join_type }} JOIN test_table_join_2 AS t2 USING (id)
{{ second_join_type }} JOIN test_table_join_3 AS t3 USING (id)
ORDER BY ALL ASC;

{% endfor %}
{% endfor %}

-- { echoOff }

DROP TABLE test_table_join_1 SYNC;
DROP TABLE test_table_join_2 SYNC;
DROP TABLE test_table_join_3 SYNC;
