set optimize_read_in_order=1;

drop table if exists test;

{% for create_command in ['create table test (value UInt64, a Tuple(b Tuple(c UInt32, d String, e Array(UInt32))), data String) engine=SummingMergeTree(value) order by (a.b.c, a.b.d) settings min_rows_for_wide_part=100000000, min_bytes_for_wide_part=1000000000, index_granularity = 1;',
                          'create table test (value UInt64, a Tuple(b Tuple(c UInt32, d String, e Array(UInt32))), data String) engine=SummingMergeTree(value) order by (a.b.c, a.b.d) settings min_rows_for_wide_part=1, min_bytes_for_wide_part=1, vertical_merge_algorithm_min_columns_to_activate=10, vertical_merge_algorithm_min_rows_to_activate=10000000000, index_granularity = 1;',
                          'create table test (value UInt64, a Tuple(b Tuple(c UInt32, d String, e Array(UInt32))), data String) engine=SummingMergeTree(value) order by (a.b.c, a.b.d) settings min_rows_for_wide_part=1, min_bytes_for_wide_part=1, vertical_merge_algorithm_min_columns_to_activate=1, vertical_merge_algorithm_min_rows_to_activate=1, index_granularity = 1;'] -%}

select '{{ create_command }}';

{{ create_command }}

system stop merges test;

insert into test select number + 1, tuple(tuple(number % 2, 'str_' || number % 3, range(number))), 'Hello, World!' from numbers(4);
insert into test select number + 1, tuple(tuple(number % 2, 'str_' || number % 3, range(number))), 'Hello, World!' from numbers(4);

select * from test final order by all;

system start merges test;
optimize table test final;
select count() from system.parts where active and table = 'test' and database = currentDatabase();

select * from test final order by all;

drop table test;

{% endfor -%}

