-- Inclusion of ORDER BY hits the layer of Set type validation

-- { echoOn }

SET allow_experimental_nullable_tuple_type = 0;

{% for analyzer in [1, 0] -%}
SET enable_analyzer = {{ analyzer }};

{% for transform_null in [1, 0] -%}
SET transform_null_in = {{ transform_null }};

SELECT CAST(NULL, 'Nullable(Int32)') IN [NULL, 1];
SELECT CAST(NULL, 'Nullable(Int32)') IN [NULL, 1] ORDER BY ALL;

SELECT CAST(NULL, 'Nullable(Int32)') IN (NULL, 1);
SELECT CAST(NULL, 'Nullable(Int32)') IN (NULL, 1) ORDER BY ALL;

SELECT CAST('a', 'String') IN [NULL, 'a'];
SELECT CAST('a', 'String') IN [NULL, 'a'] ORDER BY ALL;

SELECT 2 IN (1, 2, 3);
SELECT 2 IN (1, 2, 3) ORDER BY ALL;

SELECT CAST(tuple(), 'Tuple()') IN (tuple());
SELECT CAST(tuple(), 'Tuple()') IN (tuple()) ORDER BY ALL;

SELECT CAST((200, 3), 'Tuple(Int32, Int64)') IN [(200, 3), (200, 4)];
SELECT CAST((200, 3), 'Tuple(Int32, Int64)') IN [(200, 3), (200, 4)] ORDER BY ALL;

SELECT CAST((200, 3), 'Tuple(Int32, Int64)') IN ((200, 3), (200, 4));
SELECT CAST((200, 3), 'Tuple(Int32, Int64)') IN ((200, 3), (200, 4)) ORDER BY ALL;

SELECT CAST(tuple(tuple(10)), 'Tuple(Tuple(Int32))') IN (tuple(tuple(10)));
SELECT CAST(tuple(tuple(10)), 'Tuple(Tuple(Int32))') IN (tuple(tuple(10))) ORDER BY ALL;

SELECT CAST('x', 'LowCardinality(String)') IN ['x', 'y'];
SELECT CAST('x', 'LowCardinality(String)') IN ['x', 'y'] ORDER BY ALL;

SELECT CAST(('x', 1), 'Tuple(LowCardinality(String), Int32)') IN [('x', 1), ('z', 2)];
SELECT CAST(('x', 1), 'Tuple(LowCardinality(String), Int32)') IN [('x', 1), ('z', 2)] ORDER BY ALL;

SELECT CAST('a', 'Enum8(\'a\' = 1, \'b\' = 2)') IN ['a', 'c'];
SELECT CAST('a', 'Enum8(\'a\' = 1, \'b\' = 2)') IN ['a', 'c'] ORDER BY ALL;

SELECT CAST(('a', 1), 'Tuple(Enum8(\'a\' = 1, \'b\' = 2), Int32)') IN [('a', 1), ('c', 1)];
SELECT CAST(('a', 1), 'Tuple(Enum8(\'a\' = 1, \'b\' = 2), Int32)') IN [('a', 1), ('c', 1)] ORDER BY ALL;

SELECT CAST((1, 2), 'Tuple(Int32, Int32)') IN [(1, 2, 3)];-- { serverError INCORRECT_ELEMENT_OF_SET }
SELECT CAST((1, 2), 'Tuple(Int32, Int32)') IN [(1, 2, 3)] ORDER BY ALL;-- { serverError INCORRECT_ELEMENT_OF_SET }

SELECT CAST((1, 2), 'Tuple(Int32, Int32)') IN (1, 2);
SELECT CAST((1, 2), 'Tuple(Int32, Int32)') IN (1, 2) ORDER BY ALL;

SELECT (1, (1, NULL)) in (1, (1, NULL));
SELECT (1, (1, NULL)) in (1, (1, NULL)) ORDER BY ALL;

SELECT (1, (1, NULL)) in ((1, (1, NULL)));
SELECT (1, (1, NULL)) in ((1, (1, NULL))) ORDER BY ALL;

SELECT (1, (1, 2)) in ((1, (1, NULL)), (1, (1, 2)));
SELECT (1, (1, 2)) in ((1, (1, NULL)), (1, (1, 2))) ORDER BY ALL;

SELECT 1 in '1';
SELECT 1 in '1' ORDER BY ALL;

SELECT 1 in ('1', '2');
SELECT 1 in ('1', '2') ORDER BY ALL;

SELECT 1234 IN ['1234'];
SELECT 1234 IN ['1234'] ORDER BY ALL;

SELECT (1234, 32) IN ('1234', '32');
SELECT (1234, 32) IN ('1234', '32') ORDER BY ALL;

SELECT ('1234', '32') IN (1234, 32);
SELECT ('1234', '32') IN (1234, 32) ORDER BY ALL;

SELECT (1234, (32, 10)) IN ('1234', ('32', 10));
SELECT (1234, (32, 10)) IN ('1234', ('32', 10)) ORDER BY ALL;

SELECT (1234, [32, 10]) IN ('1234', [32, 10]);
SELECT (1234, [32, 10]) IN ('1234', [32, 10]) ORDER BY ALL;

SELECT (1234, (32, (3, [3, 1]))) IN [('1234', ('32', (3, ['3', '1'])))];
SELECT (1234, (32, (3, [3, 1]))) IN [('1234', ('32', (3, ['3', '1'])))] ORDER BY ALL;

SELECT toTypeName([('1234', ('32', (3, ['3', '1'])))]);
SELECT toTypeName([('1234', ('32', (3, ['3', '1'])))]) ORDER BY ALL;

SELECT (1234, (32, (3, [3, 1]))) IN [('1234', ('32', (CAST(3, 'Nullable(Int)'), ['3', '1'])))];
SELECT (1234, (32, (3, [3, 1]))) IN [('1234', ('32', (CAST(3, 'Nullable(Int)'), ['3', '1'])))] ORDER BY ALL;

SELECT (1234, (32, -10)) IN ('1234', (32, '-10'));
SELECT (1234, (32, -10)) IN ('1234', (32, '-10')) ORDER BY ALL;

SELECT (1234, (32, -10)) IN ('1234', (32, -10.001));
SELECT (1234, (32, -10)) IN ('1234', (32, -10.001)) ORDER BY ALL;

SELECT 1 IN [[1, 2]];-- { serverError ILLEGAL_TYPE_OF_ARGUMENT }
SELECT 1 IN [[1, 2]] ORDER BY ALL;-- { serverError ILLEGAL_TYPE_OF_ARGUMENT }

select (1, 2) IN (((1, 2), 1), (1, 2));-- { serverError ILLEGAL_TYPE_OF_ARGUMENT }
select (1, 2) IN (((1, 2), 1), (1, 2)) ORDER BY ALL;-- { serverError ILLEGAL_TYPE_OF_ARGUMENT }

select (1, 2) IN ((1, 2), (1, 2));
select (1, 2) IN ((1, 2), (1, 2)) ORDER BY ALL;

select (1, 2) IN ((1, 2), (1, 2), (1, 2, 3));-- { serverError INCORRECT_ELEMENT_OF_SET }
select (1, 2) IN ((1, 2), (1, 2), (1, 2, 3)) ORDER BY ALL;-- { serverError INCORRECT_ELEMENT_OF_SET }

SELECT CAST((NULL, 3), 'Tuple(Nullable(Int32), Int32)') IN [(NULL, 3), (1, 3)];
SELECT CAST((NULL, 3), 'Tuple(Nullable(Int32), Int32)') IN [(NULL, 3), (1, 3)] ORDER BY ALL;

SELECT NULL in NULL;
SELECT NULL in NULL ORDER BY ALL;

SELECT (NULL, NULL) in [(NULL, NULL)];
SELECT (NULL, NULL) in [(NULL, NULL)] ORDER BY ALL;

SELECT ((NULL, NULL), (NULL, NULL)) in [((NULL, NULL), (NULL, NULL))];
SELECT ((NULL, NULL), (NULL, NULL)) in [((NULL, NULL), (NULL, NULL))] ORDER BY ALL;

SELECT CAST(NULL, 'Nullable(Tuple(Int64))') IN [NULL]; -- { serverError ILLEGAL_COLUMN }
SELECT CAST(NULL, 'Nullable(Tuple(Int64))') IN [NULL] ORDER BY ALL; -- { serverError ILLEGAL_COLUMN }

SELECT (1, 2) IN [NULL, (1, 2)];
SELECT (1, 2) IN [NULL, (1, 2)] ORDER BY ALL;

SELECT (1, 2) IN NULL;
SELECT (1, 2) IN NULL ORDER BY ALL;

SELECT (1, 2) IN (NULL, NULL, NULL);-- { serverError INCORRECT_ELEMENT_OF_SET }
SELECT (1, 2) IN (NULL, NULL, NULL) ORDER BY ALL;-- { serverError INCORRECT_ELEMENT_OF_SET }

SELECT (1, 2) IN (NULL, NULL, (1, 2));
SELECT (1, 2) IN (NULL, NULL, (1, 2)) ORDER BY ALL;

SELECT 'a' IN (NULL, NULL, 'a');
SELECT 'a' IN (NULL, NULL, 'a') ORDER BY ALL;

SELECT 'a' IN [NULL, NULL, 'a'];
SELECT 'a' IN [NULL, NULL, 'a'] ORDER BY ALL;

SELECT (1, 2) IN CAST((1, 2), 'Nullable(Tuple(Int64, Int64))'); -- { serverError ILLEGAL_COLUMN }
SELECT (1, 2) IN CAST((1, 2), 'Nullable(Tuple(Int64, Int64))') ORDER BY ALL; -- { serverError ILLEGAL_COLUMN }

SELECT (1, 2) IN CAST(NULL, 'Nullable(String)');
SELECT (1, 2) IN CAST(NULL, 'Nullable(String)') ORDER BY ALL;

SELECT CAST(NULL, 'Nullable(Tuple(Int64, Int64))') IN [NULL, (1, 2)]; -- { serverError ILLEGAL_COLUMN }
SELECT CAST(NULL, 'Nullable(Tuple(Int64, Int64))') IN [NULL, (1, 2)] ORDER BY ALL; -- { serverError ILLEGAL_COLUMN }

SELECT CAST(('a', 1), 'Nullable(Tuple(Enum8(\'a\' = 1, \'b\' = 2), Int32))') IN [('a', 1), ('c', 1), NULL] 
SETTINGS validate_enum_literals_in_operators = 1; -- { serverError ILLEGAL_COLUMN }
SELECT CAST(('a', 1), 'Nullable(Tuple(Enum8(\'a\' = 1, \'b\' = 2), Int32))') IN [('a', 1), ('c', 1), NULL] ORDER BY ALL
SETTINGS validate_enum_literals_in_operators = 1; -- { serverError ILLEGAL_COLUMN }

SELECT CAST(('a', 1), 'Nullable(Tuple(Enum8(\'a\' = 1, \'b\' = 2), Int32))') IN [('a', 1), ('c', 1), NULL]; -- { serverError ILLEGAL_COLUMN }
SELECT CAST(('a', 1), 'Nullable(Tuple(Enum8(\'a\' = 1, \'b\' = 2), Int32))') IN [('a', 1), ('c', 1), NULL] ORDER BY ALL; -- { serverError ILLEGAL_COLUMN }

SELECT CAST(NULL, 'Nullable(Tuple(Enum8(\'a\' = 1, \'b\' = 2), Int32))') IN [('a', 1), ('c', 1), NULL]; -- { serverError ILLEGAL_COLUMN }
SELECT CAST(NULL, 'Nullable(Tuple(Enum8(\'a\' = 1, \'b\' = 2), Int32))') IN [('a', 1), ('c', 1), NULL] ORDER BY ALL; -- { serverError ILLEGAL_COLUMN }

SELECT CAST(('a', 1), 'Nullable(Tuple(Enum8(\'a\' = 1, \'b\' = 2), Int32))') IN (('a', 1), ('c', 1), NULL); -- { serverError ILLEGAL_COLUMN }
SELECT CAST(('a', 1), 'Nullable(Tuple(Enum8(\'a\' = 1, \'b\' = 2), Int32))') IN (('a', 1), ('c', 1), NULL) ORDER BY ALL; -- { serverError ILLEGAL_COLUMN }

SELECT CAST(NULL, 'Nullable(Tuple(Enum8(\'a\' = 1, \'b\' = 2), Int32))') IN (('a', 1), ('c', 1), NULL); -- { serverError ILLEGAL_COLUMN }
SELECT CAST(NULL, 'Nullable(Tuple(Enum8(\'a\' = 1, \'b\' = 2), Int32))') IN (('a', 1), ('c', 1), NULL) ORDER BY ALL; -- { serverError ILLEGAL_COLUMN }

SELECT CAST((1, 2), 'Tuple(Int32, Int32)') IN [1, 2]; -- { serverError INCORRECT_ELEMENT_OF_SET }
SELECT CAST((1, 2), 'Tuple(Int32, Int32)') IN [1, 2] ORDER BY ALL; -- { serverError INCORRECT_ELEMENT_OF_SET }

SELECT (1, 2) IN (1, NULL);
SELECT (1, 2) IN (1, NULL) ORDER BY ALL;

SELECT (1, NULL) IN (1, NULL);
SELECT (1, NULL) IN (1, NULL) ORDER BY ALL;

SELECT CAST(NULL, 'Nullable(Tuple(Int64, Int64))') IN (NULL, NULL, (1, 2)); -- { serverError ILLEGAL_COLUMN }
SELECT CAST(NULL, 'Nullable(Tuple(Int64, Int64))') IN (NULL, NULL, (1, 2)) ORDER BY ALL; -- { serverError ILLEGAL_COLUMN }

SELECT (1, 2) IN 1; -- { serverError ILLEGAL_TYPE_OF_ARGUMENT }
SELECT (1, 2) IN 1 ORDER BY ALL; -- { serverError ILLEGAL_TYPE_OF_ARGUMENT }

SELECT (1, 2) IN [1]; -- { serverError INCORRECT_ELEMENT_OF_SET }
SELECT (1, 2) IN [1] ORDER BY ALL; -- { serverError INCORRECT_ELEMENT_OF_SET }

SELECT (1, 2) IN (((1, 2), (1, 2)), ((1, 2), (1, 2))); -- { serverError ILLEGAL_TYPE_OF_ARGUMENT }
SELECT (1, 2) IN (((1, 2), (1, 2)), ((1, 2), (1, 2))) ORDER BY ALL; -- { serverError ILLEGAL_TYPE_OF_ARGUMENT }

SELECT (1, 2) IN [((1, 2), (1, 2)), ((1, 2), (1, 2))]; -- { serverError ILLEGAL_TYPE_OF_ARGUMENT }
SELECT (1, 2) IN [((1, 2), (1, 2)), ((1, 2), (1, 2))] ORDER BY ALL; -- { serverError ILLEGAL_TYPE_OF_ARGUMENT }

SELECT 2 IN (1, 2.0, 3);
SELECT 2 IN (1, 2.0, 3) ORDER BY ALL;

SELECT 2 IN [1, 2.0, 3];
SELECT 2 IN [1, 2.0, 3] ORDER BY ALL;

SELECT 2 IN (1, 1+1, toInt32(3));
SELECT 2 IN (1, 1+1, toInt32(3)) ORDER BY ALL;

SELECT 2 IN [1, 1+1, toInt32(3)];
SELECT 2 IN [1, 1+1, toInt32(3)] ORDER BY ALL;

SELECT (1, 2) IN ((1, 1+1));
SELECT (1, 2) IN ((1, 1+1)) ORDER BY ALL;

SELECT (1, 2) IN [(1, 1+1)];
SELECT (1, 2) IN [(1, 1+1)] ORDER BY ALL;

SELECT (1, 2) IN [NULL, NULL];
SELECT (1, 2) IN [NULL, NULL] ORDER BY ALL;

SELECT (1, 2) IN [(NULL, NULL)];
SELECT (1, 2) IN [(NULL, NULL)] ORDER BY ALL;

SELECT (1, 2) IN ((1, 2), NULL);
SELECT (1, 2) IN ((1, 2), NULL) ORDER BY ALL;

SELECT (1, 2) IN [(1, 2), NULL];
SELECT (1, 2) IN [(1, 2), NULL] ORDER BY ALL;

SELECT 'x' IN [CAST('x', 'LowCardinality(String)')];
SELECT 'x' IN [CAST('x', 'LowCardinality(String)')] ORDER BY ALL;

SELECT ('x', 1) IN ((CAST('x', 'LowCardinality(String)'), 1));
SELECT ('x', 1) IN ((CAST('x', 'LowCardinality(String)'), 1)) ORDER BY ALL;

SELECT tuple(1) IN tuple(1);
SELECT tuple(1) IN tuple(1) ORDER BY ALL;

SELECT 1 IN [];
SELECT 1 IN [] ORDER BY ALL;

SELECT CAST('x', 'LowCardinality(String)') IN tuple('x', 'y');
SELECT CAST('x', 'LowCardinality(String)') IN tuple('x', 'y') ORDER BY ALL;

SELECT CAST(('x', 1), 'Tuple(LowCardinality(String), Int32)') IN tuple(('x', 1), ('z', 2));
SELECT CAST(('x', 1), 'Tuple(LowCardinality(String), Int32)') IN tuple(('x', 1), ('z', 2)) ORDER BY ALL;

SELECT ('x', 1) IN tuple((CAST('x', 'LowCardinality(String)'), 1));
SELECT ('x', 1) IN tuple((CAST('x', 'LowCardinality(String)'), 1)) ORDER BY ALL;

SELECT 1 IN tuple(1, 2, 3, 4, 5);
SELECT 1 IN tuple(1, 2, 3, 4, 5) ORDER BY ALL;

{% endfor -%}

{% endfor -%}
