SET flatten_nested=1;

{% for engine in ['Log', 'TinyLog', 'StripeLog'] -%}

CREATE TABLE nested_null_{{ engine }} (c0 Nested(c1 Nullable(Int), c2 Int)) ENGINE = {{ engine }};
INSERT INTO nested_null_{{ engine }} (c0.c1, c0.c2) VALUES ([1], [2]);

CREATE TABLE null_name_{{ engine }} (c0 Nested(null Int, c2 Int)) ENGINE = {{ engine }};
INSERT INTO null_name_{{ engine }} (c0.null, c0.c2) VALUES ([3], [4]);

CREATE TABLE nested_null_clash_{{ engine }} (c0 Nested(null Nullable(Int), c2 Int)) ENGINE = {{ engine }};
INSERT INTO nested_null_clash_{{ engine }} (c0.null, c0.c2) VALUES ([5], [6]);

CREATE TABLE nested_in_nested_{{ engine }} (n Nested(c1 Int32, n2 Nested(c2 Int32))) ENGINE = {{ engine }};
INSERT INTO TABLE nested_in_nested_{{ engine }} (n.c1, n.n2) VALUES ([1, 3, 2], [[(1)],[(2)],[(3)]]);

-- { echoOn }
SELECT c0.c1.null, c0.c2 FROM nested_null_{{ engine }};
SELECT c0.null, c0.c2 FROM null_name_{{ engine }};
SELECT c0.null.null, c0.c2 FROM nested_null_clash_{{ engine }};
SELECT n.c1, n.n2.c2 FROM nested_in_nested_{{ engine }};
-- { echoOff }

{% endfor -%}