{% for ENUM_TYPE in ['Enum', 'Enum8', 'Enum16'] -%}

SELECT '======= {{ ENUM_TYPE }} ===============';
DROP TABLE IF EXISTS enum;
CREATE TABLE enum (x {{ ENUM_TYPE }}('One' = 1, 'Two', 'Three')) ENGINE = Memory;
INSERT INTO enum VALUES (0);
SELECT * FROM enum ORDER BY x;  -- { clientError UNKNOWN_ELEMENT_OF_ENUM }
ALTER TABLE enum MODIFY COLUMN x addToEnum('Zero' = 0, 'Four' = 4);
INSERT INTO enum VALUES (4);
SELECT '======================';
SELECT * FROM enum ORDER BY x;
{% if ENUM_TYPE != 'Enum16' -%}
ALTER TABLE enum MODIFY COLUMN x addToEnum16('Thousand' = 1000); -- { serverError BAD_ARGUMENTS }
{% else %}
ALTER TABLE enum MODIFY COLUMN x addToEnum16('Thousand' = 1000);
{% endif %}
ALTER TABLE enum MODIFY COLUMN x addToEnum8('Thousand' = 1000); -- { serverError ARGUMENT_OUT_OF_BOUND }
ALTER TABLE enum MODIFY COLUMN x addToEnum8('Hundred' = 100);
ALTER TABLE enum MODIFY COLUMN x addToEnum8('Four' = 44, 'Five' = 5); -- { serverError BAD_ARGUMENTS }
ALTER TABLE enum MODIFY COLUMN x addToEnum8('FortyFour' = 4, 'Five' = 5); -- { serverError BAD_ARGUMENTS }
INSERT INTO enum VALUES (100);
INSERT INTO enum VALUES ('Hundred');
INSERT INTO enum VALUES ('Three');
SELECT '======================';
SELECT * FROM enum ORDER BY x;

DROP TABLE enum;
{% endfor -%}


CREATE TABLE addtoenum (x addToEnum8('One' = 1, 'Two', 'Three')) ENGINE = Memory; -- { serverError UNKNOWN_TYPE }
CREATE TABLE addtoenum (x addToEnum8('One' = 1, 'Two', 'Three')) ENGINE = Memory; -- { serverError UNKNOWN_TYPE }
CREATE TABLE addtoenum (x addToEnum('One' = 1, 'Two' = 2)) ENGINE = Memory; -- { serverError UNKNOWN_TYPE }

CREATE TABLE nonenum (x Int8) ENGINE = Memory;
ALTER TABLE nonenum MODIFY COLUMN x addToEnum('A' = 1); -- { serverError ILLEGAL_COLUMN }
ALTER TABLE nonenum ADD COLUMN z addToEnum('A' = 1); -- { serverError BAD_ARGUMENTS }
DROP TABLE nonenum;
