<div class="bg-secondary-alt my-5 py-5">
    <div class="container">
        <h2 id="community" class="display-4 text-white mb-5">{{ _('ClickHouse community') }}</h2>
        <div class="row mb-5">
            <div class="col-lg">
                <div class="row">
                    <div class="col text-center mb-3">
                        <a href="https://www.youtube.com/c/ClickHouseDB"
                            rel="external nofollow noreferrer" target="_blank">
                            <div class="bg-dark p-4">
                                <img data-src="/images/index/youtube.svg"
                                     alt="{{ _('ClickHouse YouTube Channel') }}"
                                     title="{{ _('ClickHouse YouTube Channel') }}"
                                     class="bg-secondary-alt rounded-circle p-2" />
                            </div>
                        </a>
                    </div>

                    <div class="col text-center mb-3">
                        <a href="https://twitter.com/ClickHouseDB"
                            rel="external nofollow noreferrer" target="_blank">
                            <div class="bg-dark p-4">
                                <img data-src="/images/index/twitter.svg"
                                     alt="{{ _('ClickHouse Official Twitter Account') }}"
                                     title="{{ _('ClickHouse Official Twitter Account') }}"
                                     class="bg-secondary-alt rounded-circle p-2" />
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg">
                        <div class="bg-dark p-4">
                            <img data-src="/images/index/telegram.svg"
                                 alt="{{ _('ClickHouse at Telegram') }}"
                                 title="{{ _('ClickHouse at Telegram') }}"
                                 class="bg-secondary-alt rounded-circle p-2 mb-4" />
                            <h5 class="text-white mb-lg-3">Telegram</h5>
                            <p class="text-muted">{{ _('Chat with real users in ') }}<a
                               href="https://telegram.me/clickhouse_en"
                               rel="external nofollow noreferrer" target="_blank" class="text-decoration-none">
                                <span class="text-yellow">{{ _('English') }}</span>
                            </a> {{ _('or in') }}
                            <a href="https://telegram.me/clickhouse_ru"
                               rel="external nofollow noreferrer" target="_blank" class="text-decoration-none"><span class="text-yellow">{{ _('Russian') }}</span></a></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg">
                <div class="row mb-3">
                    <div class="col">
                        <a href="https://github.com/ClickHouse/ClickHouse/issues/new/choose"
                            rel="external nofollow noreferrer" target="_blank" class="text-decoration-none">
                            <div class="bg-dark p-4">
                                <img data-src="/images/index/github.svg"
                                     alt="ClickHouse GitHub"
                                     title="ClickHouse GitHub"
                                     class="bg-secondary-alt rounded-circle p-2 mb-4" />
                                <h5 class="text-yellow mb-lg-3">GitHub</h5>
                                <p class="text-muted">{{ _('Open GitHub issue to ask for help or to file a feature request') }}</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col w-100">
                        <a href="https://join.slack.com/t/clickhousedb/shared_invite/zt-rxm3rdrk-lIUmhLC3V8WTaL0TGxsOmg"
                            rel="external nofollow noreferrer" target="_blank" class="text-decoration-none">
                            <div class="bg-dark p-4">
                                <img data-src="/images/index/slack.svg"
                                     alt="{{ _('ClickHouse Slack Workspace') }}"
                                     title="{{ _('ClickHouse Slack Workspace') }}"
                                     class="bg-secondary-alt rounded-circle p-2 mr-4 float-left"
                                     width="64" height="64"/>

                                <h5 class="text-yellow">Slack</h5>
                                <p class="text-muted mb-2">{{ _('Multipurpose public hangout') }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg">
                <div class="row mb-3">
                    <div class="col w-100">
                        <a href="https://stackoverflow.com/questions/tagged/clickhouse"
                            rel="external nofollow noreferrer" target="_blank" class="text-decoration-none">
                            <div class="bg-dark p-4">
                                <img data-src="/images/index/stack-overflow.svg"
                                     alt="ClickHouse at Stack Overflow"
                                     title="ClickHouse at Stack Overflow"
                                     class="bg-secondary-alt rounded-circle p-2 mr-4 float-left" />

                                <h5 class="text-yellow">Stack Overflow</h5>
                                <p class="text-muted mb-2">{{ _('Ask any questions') }}</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col w-100">
                        <div class="bg-dark p-4">
                            <img data-src="/images/index/blog.svg"
                                 alt="ClickHouse Blog"
                                 title="ClickHouse Blog"
                                 class="bg-secondary-alt rounded-circle p-2 mr-4 float-left" />

                            <h5 class="text-white">{{ _('ClickHouse Blog') }}</h5>
                            <p class="text-muted mb-2">{{ _('in') }} <a href="/blog/en/" class="text-decoration-none"><span class="text-yellow">{{ _('English') }}</span></a>
                                or in <a href="/blog/ru/" class="text-decoration-none"><span class="text-yellow">{{ _('Russian') }}</span></a></p>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col w-100">
                        <a href="https://groups.google.com/group/clickhouse"
                            rel="external nofollow noreferrer" target="_blank" class="text-decoration-none">
                            <div class="bg-dark p-4">
                                <img data-src="/images/index/google-groups.svg"
                                     alt="{{ _('ClickHouse at Google Groups') }}"
                                     title="{{ _('ClickHouse at Google Groups') }}"
                                     class="bg-secondary-alt rounded-circle p-2 mr-4 float-left" />

                                <h5 class="text-yellow">Google Group</h5>
                                <p class="text-muted mb-2">{{ _('Email discussions') }}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3 class="display-5 text-white">{{ _('Like ClickHouse?') }}</h3>
                <p class="lead text-white">{{ _('Help to spread the word about it via') }} <a rel="external nofollow noreferrer" target="_blank" href="https://www.facebook.com/sharer.php?u=https://clickhouse.tech" class="text-decoration-none"><span class="text-yellow">Facebook</span></a>,
                    <a rel="external nofollow noreferrer" target="_blank" href="https://twitter.com/intent/tweet?url=https://clickhouse.tech" class="text-decoration-none"><span class="text-yellow">Twitter</span></a> {{ _('and') }} <a rel="external nofollow noreferrer" target="_blank" href="https://www.linkedin.com/shareArticle?url=https://clickhouse.tech" class="text-decoration-none"><span class="text-yellow">LinkedIn</span></a>!</p>
            </div>
        </div>
    </div>
</div>


<div>
    <div class="container">
        <h2 id="meet" class="display-4 mt-5">{{ _('Hosting ClickHouse Meetups') }}</h2>
        <div class="row">
            <div class="col-lg  my-3">
                <p class="lead">
                    {{ _('ClickHouse meetups are essential for strengthening community worldwide, but they couldn\'t be possible without the help of local organizers. Please, fill this form if you want to become one or want to meet ClickHouse core team for any other reason.') }}
                </p>
                <img data-src="/images/index/meetup.svg" alt="{{ _('ClickHouse Meetup') }}" title="{{ _('ClickHouse Meetup') }}" class="img-fluid mt-5" />
            </div>

            <div class="col-lg">
                <form id="meetup-form" action="" method="post">
                  <div class="form-group my-3">
                    <input type="text" class="form-control" name="name" placeholder="{{ _('Name') }} *" required="true">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="{{ _('Email') }} *" required="true">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="company" placeholder="{{ _('Company') }} *" required="true">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" name="city" placeholder="{{ _('City') }} *" required="true">
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="want-host-meetup" name="want-host-meetup">
                    <label class="form-check-label" for="want-host-meetup">
                        {{ _('We\'d like to host a public ClickHouse Meetup') }}
                    </label>
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="want-invite-to-office" name="want-invite-to-office">
                    <label class="form-check-label" for="want-invite-to-office">
                        {{ _('We\'d like to invite Yandex ClickHouse team to our office') }}
                    </label>
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="want-invite-to-event" name="want-invite-to-event">
                    <label class="form-check-label" for="want-invite-to-event">
                        {{ _('We\'d like to invite Yandex ClickHouse team to another event we organize') }}
                    </label>
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="want-commercial" name="want-commercial">
                    <label class="form-check-label" for="want-commercial">
                        {{ _('We\'re interested in commercial consulting, support or managed service') }}
                    </label>
                  </div>
                   <div class="form-group">
                    <textarea class="form-control" name="comments" rows="5" placeholder="{{ _('Additional comments') }}"></textarea>
                  </div>
                  <button id="meetup-form-send" type="submit" class="btn btn-yellow w-100 text-center">{{ _('Send') }}</button>
                  <div id="meetup-form-error"></div>
                </form>
            </div>
        </div>

        <div class="row my-5">
            <div class="col">
                <p class="lead">
                    {{ _('If you have any more thoughts or questions, feel free to contact Yandex ClickHouse team directly at') }}
                        <a id="feedback_email" href="">{{ _('turn on JavaScript to see email address') }}</a>.
                </p>
            </div>
        </div>
    </div>
</div>
