<div class="section pb-10 pt-15">
    <div class="container">

		<div class="row">
			<div class="col-lg-4">

				<h2 id="community" class="display-2 mb-5">
					{{ _('Join our growing ClickHouse Community') }}
				</h2>

				<div class="mb-10">
					<a href="/blog/en/" class="btn btn-outline-secondary" role="button" rel="nofollow">
						{{ _('See Our Blog') }}
					</a>
				</div>

			</div>
			<div class="col-lg-8">

				<div class="bg-offset-right bg-light" style="bottom:40px;top:40px;"></div>

				<div class="row mx-n2 align-items-stretch">
					<div class="col-lg-4 col-md-6 mb-4 px-2 d-flex align-items-stretch">

						<a href="https://github.com/ClickHouse/ClickHouse/issues/new/choose" rel="external nofollow noreferrer" target="_blank" class="card text-decoration-none">
							<div class="card-body">

								<img data-src="/images/icons/icon-github.svg" alt="ClickHouse GitHub" title="ClickHouse GitHub" class="icon mx-auto">
								<div class="display-6">GitHub</div>
								<p class="font-sm text-muted">Open GitHub issue to ask for help or to file a feature request</p>

							</div>
						</a>

					</div>
					<div class="col-lg-4 col-md-6 mb-4 px-2 d-flex align-items-stretch">

						<a href="https://join.slack.com/t/clickhousedb/shared_invite/zt-rxm3rdrk-lIUmhLC3V8WTaL0TGxsOmg" rel="external nofollow noreferrer" target="_blank" class="card text-decoration-none">
							<div class="card-body">

								<img data-src="/images/icons/icon-slack.svg" alt="ClickHouse Slack Workspace" title="ClickHouse Slack Workspace" class="icon mx-auto">
								<div class="display-6">Slack</div>
								<p class="font-sm text-muted">Multipurpose public hangout</p>

							</div>
						</a>

					</div>
					<div class="col-lg-4 col-md-6 mb-4 px-2 d-flex align-items-stretch">

						<a href="https://stackoverflow.com/questions/tagged/clickhouse" rel="external nofollow noreferrer" target="_blank" class="card text-decoration-none">
							<div class="card-body">

								<img data-src="/images/icons/icon-stack-overflow.svg" alt="ClickHouse at Stack Overflow" title="ClickHouse at Stack Overflow" class="icon mx-auto">
								<div class="display-6">Stack Overflow</div>
								<p class="font-sm text-muted">Ask any questions</p>

							</div>
						</a>

					</div>
					<div class="col-lg-4 col-md-6 mb-4 px-2 d-flex align-items-stretch">

						<a href="https://groups.google.com/group/clickhouse" rel="external nofollow noreferrer" target="_blank" class="card text-decoration-none">
							<div class="card-body">

								<img data-src="/images/icons/icon-google.svg" alt="ClickHouse at Google Groups" title="ClickHouse at Google Groups" class="icon mx-auto">
								<div class="display-6">Google Group</div>
								<p class="font-sm text-muted">Email discussions</p>

							</div>
						</a>

					</div>
					<div class="col-lg-4 col-md-6 mb-4 px-2 d-flex align-items-stretch">

						<a href="https://www.youtube.com/c/ClickHouseDB" rel="external nofollow noreferrer" target="_blank" class="card text-decoration-none">
							<div class="card-body">

								<img data-src="/images/icons/icon-youtube.svg" alt="ClickHouse YouTube Channel" title="ClickHouse YouTube Channel" class="icon mx-auto">
								<div class="display-6">YouTube</div>
								<p class="font-sm text-muted">Subheader text goes here lorem ipsum sit amet dolor</p>

							</div>
						</a>

					</div>
					<div class="col-lg-4 col-md-6 mb-4 px-2 d-flex align-items-stretch">

						<div rel="external nofollow noreferrer" target="_blank" class="card has-hover">
							<div class="card-body">

								<img data-src="/images/icons/icon-telegram.svg" alt="ClickHouse at Telegram" title="ClickHouse at Telegram" class="icon mx-auto">
								<div class="display-6">Telegram</div>
								<p class="font-sm text-muted">
									{{ _('Chat with real users in ') }}
									<a href="https://telegram.me/clickhouse_en" rel="external nofollow noreferrer" target="_blank" class="text-blue text-decoration-underline">{{ _('English') }}</a>
                            		{{ _('or in') }}
                            		<a href="https://telegram.me/clickhouse_ru" rel="external nofollow noreferrer" target="_blank" class="text-blue text-decoration-underline">{{ _('Russian') }}</a>
								</p>

							</div>
						</div>

					</div>
					<div class="col-lg-4 col-md-6 mb-4 mb-lg-0 px-2 d-flex align-items-stretch">

						<a href="https://www.facebook.com/ClickHouseDB/" rel="external nofollow noreferrer" target="_blank" class="card text-decoration-none">
							<div class="card-body">

								<img data-src="/images/icons/icon-facebook.svg" alt="ClickHouse at Facebook" title="ClickHouse at Facebook" class="icon mx-auto">
								<div class="display-6">Facebook</div>
								<p class="font-sm text-muted">Subheader text goes here lorem ipsum sit amet dolor</p>

							</div>
						</a>

					</div>
					<div class="col-lg-4 col-md-6 mb-4 mb-lg-0 px-2 d-flex align-items-stretch">

						<a href="https://twitter.com/clickhousedb" rel="external nofollow noreferrer" target="_blank" class="card text-decoration-none">
							<div class="card-body">

								<img data-src="/images/icons/icon-twitter.svg" alt="ClickHouse at Twitter" title="ClickHouse at Twitter" class="icon mx-auto">
								<div class="display-6">Twitter</div>
								<p class="font-sm text-muted">Subheader text goes here lorem ipsum sit amet dolor</p>

							</div>
						</a>

					</div>
					<div class="col-lg-4 col-md-6 px-2 d-flex align-items-stretch">

						<a href="https://www.linkedin.com/company/ClickHouseDB/" rel="external nofollow noreferrer" target="_blank" class="card text-decoration-none">
							<div class="card-body">

								<img data-src="/images/icons/icon-linkedin.png" alt="ClickHouse at LinkedIn" title="ClickHouse at LinkedIn" class="icon mx-auto">
								<div class="display-6">LinkedIn</div>
								<p class="font-sm text-muted">Subheader text goes here lorem ipsum sit amet dolor</p>

							</div>
						</a>

					</div>
				</div>

			</div>
		</div>

    </div>
</div>
