<div id="community"></div>
<div class="section pb-lg-10 pt-10 pt-lg-15">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">

                <h2 class="display-2 mb-3 mb-lg-5" style="max-width: 400px;">
                    {{ _('Join our growing ClickHouse community') }}
                </h2>

                <div>
                    <a href="/blog/en/" class="btn btn-outline-secondary" role="button" rel="nofollow">
                        {{ _('See Our Blog') }}
                    </a>
                </div>

            </div>
            <div class="col-lg-8">

                <div class="bg-inset-right bg-light" style="bottom:40px;top:40px;"></div>

                <div class="row mx-n2">
                    <div class="col-lg-4 col-md-2 col-sm-4 col-xs-6 mb-4 px-2 d-flex align-items-stretch">

                        <div class="embed-responsive embed-responsive-1by1" style="overflow: visible;">
                            <div class="embed-responsive-item d-flex align-items-stretch">
                                <a href="https://github.com/ClickHouse/ClickHouse" rel="external nofollow noreferrer" target="_blank" class="card d-flex align-items-stretch text-decoration-none">
                                    <div class="card-body d-flex align-items-center justify-content-center">

                                        <img data-src="/images/icons/icon-github.svg" alt="ClickHouse GitHub" title="ClickHouse GitHub" class="icon mx-auto mb-0">

                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-2 col-sm-4 col-xs-6 mb-4 px-2 d-flex align-items-stretch">

                        <div class="embed-responsive embed-responsive-1by1" style="overflow: visible;">
                            <div class="embed-responsive-item d-flex align-items-stretch">
                                <a href="https://join.slack.com/t/clickhousedb/shared_invite/zt-rxm3rdrk-lIUmhLC3V8WTaL0TGxsOmg" rel="external nofollow noreferrer" target="_blank" class="card d-flex align-items-stretch text-decoration-none">
                                    <div class="card-body d-flex align-items-center justify-content-center">

                                        <img data-src="/images/icons/icon-slack.svg" alt="ClickHouse Slack Workspace" title="ClickHouse Slack Workspace" class="icon mx-auto mb-0">

                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-2 col-sm-4 col-xs-6 mb-4 px-2 d-flex align-items-stretch">

                        <div class="embed-responsive embed-responsive-1by1" style="overflow: visible;">
                            <div class="embed-responsive-item d-flex align-items-stretch">
                                <a href="https://stackoverflow.com/questions/tagged/clickhouse" rel="external nofollow noreferrer" target="_blank" class="card d-flex align-items-stretch text-decoration-none">
                                    <div class="card-body d-flex align-items-center justify-content-center">

                                        <img data-src="/images/icons/icon-stack-overflow.svg" alt="ClickHouse at Stack Overflow" title="ClickHouse at Stack Overflow" class="icon mx-auto mb-0">

                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-2 col-sm-4 col-xs-6 mb-4 px-2 d-flex align-items-stretch">

                        <div class="embed-responsive embed-responsive-1by1" style="overflow: visible;">
                            <div class="embed-responsive-item d-flex align-items-stretch">
                                <a href="https://groups.google.com/group/clickhouse" rel="external nofollow noreferrer" target="_blank" class="card d-flex align-items-stretch text-decoration-none">
                                    <div class="card-body d-flex align-items-center justify-content-center">

                                        <img data-src="/images/icons/icon-google.svg" alt="ClickHouse at Google Groups" title="ClickHouse at Google Groups" class="icon mx-auto mb-0">

                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-2 col-sm-4 col-xs-6 mb-4 px-2 d-flex align-items-stretch">

                        <div class="embed-responsive embed-responsive-1by1" style="overflow: visible;">
                            <div class="embed-responsive-item d-flex align-items-stretch">
                                <a href="https://www.youtube.com/c/ClickHouseDB" rel="external nofollow noreferrer" target="_blank" class="card d-flex align-items-stretch text-decoration-none">
                                    <div class="card-body d-flex align-items-center justify-content-center">

                                        <img data-src="/images/icons/icon-youtube.svg" alt="ClickHouse YouTube Channel" title="ClickHouse YouTube Channel" class="icon mx-auto mb-0">

                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-2 col-sm-4 col-xs-6 mb-4 px-2 d-flex align-items-stretch">

                        <div class="embed-responsive embed-responsive-1by1" style="overflow: visible;">
                            <div class="embed-responsive-item d-flex align-items-stretch">
                                <a href="https://telegram.me/clickhouse_en" rel="external nofollow noreferrer" target="_blank" class="card d-flex align-items-stretch text-decoration-none">
                                    <div class="card-body d-flex align-items-center justify-content-center">

                                        <img data-src="/images/icons/icon-telegram.svg" alt="ClickHouse at Telegram" title="ClickHouse at Telegram" class="icon mx-auto mb-0">

                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-2 col-sm-4 col-xs-6 mb-4 mb-sm-0 px-2 d-flex align-items-stretch">

                        <div class="embed-responsive embed-responsive-1by1" style="overflow: visible;">
                            <div class="embed-responsive-item d-flex align-items-stretch">
                                <a href="https://www.facebook.com/ClickHouseInc/" rel="external nofollow noreferrer" target="_blank" class="card d-flex align-items-stretch text-decoration-none">
                                    <div class="card-body d-flex align-items-center justify-content-center">

                                        <img data-src="/images/icons/icon-facebook.svg" alt="ClickHouse at Facebook" title="ClickHouse at Facebook" class="icon mx-auto mb-0">

                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-2 col-sm-4 col-xs-6 mb-4 mb-sm-0 px-2 d-flex align-items-stretch">

                        <div class="embed-responsive embed-responsive-1by1" style="overflow: visible;">
                            <div class="embed-responsive-item d-flex align-items-stretch">
                                <a href="https://twitter.com/ClickhouseDB" rel="external nofollow noreferrer" target="_blank" class="card d-flex align-items-stretch text-decoration-none">
                                    <div class="card-body d-flex align-items-center justify-content-center">

                                        <img data-src="/images/icons/icon-twitter.svg" alt="ClickHouse at Twitter" title="ClickHouse at Twitter" class="icon mx-auto mb-0">

                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-2 col-sm-4 col-xs-6 px-2 d-flex align-items-stretch">

                        <div class="embed-responsive embed-responsive-1by1" style="overflow: visible;">
                            <div class="embed-responsive-item d-flex align-items-stretch">
                                <a href="https://www.linkedin.com/company/ClickHouseInc/" rel="external nofollow noreferrer" target="_blank" class="card d-flex align-items-stretch text-decoration-none">
                                    <div class="card-body d-flex align-items-center justify-content-center">

                                        <img data-src="/images/icons/icon-linkedin.png" alt="ClickHouse at LinkedIn" title="ClickHouse at LinkedIn" class="icon mx-auto mb-0">


                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
