<div>
    <div class="container">

    <h2 id="contacts" class="mt-5">Contacts</h2>
    <ul class="lead">
        <li>Subscribe to the <a href="https://clickhouse.yandex/blog/en" target="_blank">official ClickHouse blog</a>
        and its <a href="https://clickhouse.yandex/blog/ru" target="_blank">counterpart in Russian</a>.</li>
        <li>Ask any questions on <a href="https://stackoverflow.com/questions/tagged/clickhouse"
                                    rel="external nofollow" target="_blank">Stack Overflow</a>,
            <a href="https://join.slack.com/t/clickhousedb/shared_invite/enQtOTUzMjM4ODQwNTc5LWJmMjE3Yjc2YmI1ZDBlZmI4ZTc3OWY3ZTIwYTljYzY4MzBlODM3YzBjZTc1YmYyODRlZTJkYTgzYzBiNTA2Yjk" rel="external nofollow" target="_blank">Slack</a> or
            <a href="https://groups.google.com/group/clickhouse"
               rel="external nofollow" target="_blank">Google Group</a>.
        </li>
        <li>Join Telegram chat to discuss with real users in <a
               href="https://telegram.me/clickhouse_en"
               rel="external nofollow" target="_blank">English</a> or in
            <a href="https://telegram.me/clickhouse_ru"
               rel="external nofollow" target="_blank">Russian</a>.</li>
        <li>Watch video content on <a href="https://www.youtube.com/c/ClickHouseDB"
                              rel="external nofollow" target="_blank">YouTube channel</a>.</li>
        <li>Follow official <a
               href="https://twitter.com/ClickHouseDB"
               rel="external nofollow" target="_blank">Twitter account</a>.</li>
        <li>Open <a href="https://github.com/ClickHouse/ClickHouse/issues/new/choose"
                    rel="external nofollow" target="_blank">GitHub issue</a> if you have a bug report or feature request.</li>
        <li>Or email Yandex ClickHouse team directly at
            <a id="feedback_email" href="">turn on JavaScript to see email address</a>.
            You can also <a href="https://forms.yandex.com/surveys/meet-yandex-clickhouse-team/" target="_blank" rel="external nofollow">fill this form</a> to meet us in person.</li>
    </ul>

    <p class="lead">Friendly reminder: check out the documentation in <a href="docs/en/">English</a>, <a href="docs/ru/">Russian</a>, <a href="docs/zh/">Chinese</a>, <a href="docs/ja/">Japanese</a> or <a href="docs/fa/">Farsi</a> first &mdash; maybe your question is already covered.
    </p>

    <h2 class="mt-5">Like ClickHouse?</h2>
    <p class="lead">Help to spread the word about it via <a rel="external nofollow" target="_blank" href="https://www.facebook.com/sharer.php?u=https://clickhouse.tech">Facebook</a>,
        <a rel="external nofollow" target="_blank" href="https://twitter.com/intent/tweet?url=https://clickhouse.tech">Twitter</a> and
        <a rel="external nofollow" target="_blank" href="https://www.linkedin.com/shareArticle?url=https://clickhouse.tech">LinkedIn</a>!</p>

    <p class="lead">Also hosting ClickHouse Meetups is very appreciated, <a href="https://forms.yandex.com/surveys/meet-yandex-clickhouse-team/" target="_blank" rel="external nofollow">fill this form</a>
        if you are interested and we'll get in touch.
        Short reports about previous meetups are <a href="https://clickhouse.yandex/blog/en?tag=meetup" target="_blank">published in official ClickHouse blog</a>.</p>

    </div>
</div>
