<div>
    <div class="container my-5">
        <div class="row mb-5">
            <div class="col-lg">
                <h2 id="hardware-efficient" class="display-4 my-4">Hardware efficient</h2>
                <p class="lead">ClickHouse processes typical analytical queries two to three orders of magnitude faster than traditional
            row-oriented systems with the same available I/O throughput and CPU capacity. Columnar storage format allows fitting
            more hot data in RAM, which leads to shorter typical response times.</p>
                <p class="lead">Total cost of ownership could be further lowered by using commodity hardware with rotating disk drives instead of enterprise grade NVMe or SSD without significant sacrifices in latency for most kinds of queries.</p>
            </div>
            <div class="col-lg">
                <img data-src="images/index/hardware-efficient.svg" class="img-fluid" alt="ClickHouse is hardware efficient" title="ClickHouse is hardware efficient" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <h3>Strives for CPU efficiency</h3>
                <p>Vectorized query execution involves relevant SIMD processor instructions
            and runtime code generation. Processing data in columns increases CPU line cache hit rate.</p>

            </div>
            <div class="col-lg">
                <h3>Optimizes disk drive access</h3>
                <p>ClickHouse minimizes the number of seeks for range queries, which increases the efficiency of using rotational
            disk drives, as it maintains locality of reference for continually stored data.</p>
            </div>
            <div class="col-lg">
                <h3>Minimizes data transfers</h3>
                <p>ClickHouse enables companies to manage their data and
            create reports without using specialized networks that are aimed at high-performance computing.</p>

            </div>
        </div>


    </div>
</div>
<div>
    <div class="container text-center">
        <img data-src="images/curl.svg" alt="ClickHouse не тормозит" title="ClickHouse не тормозит" />
    </div>
</div>
