<div class="bg-dark text-light">
    <div class="container py-5 my-5">
        <div class="row text-center">
            <div class="col-lg">
                <h2 id="key-features" class="display-4">ClickHouse. Just makes you think faster!</h2>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-lg">
                <ul class="lead list-unstyled  mb-0 mb-lg-1">
                    <li><span class="text-yellow">•</span> True column-oriented storage</li>
                    <li><span class="text-yellow">•</span> Vectorized query execution</li>
                    <li><span class="text-yellow">•</span> Parallel and distributed query execution</li>
                    <li><span class="text-yellow">•</span> Real-time query processing</li>
                    <li><span class="text-yellow">•</span> Real-time data ingestion</li>
                    <li><span class="text-yellow">•</span> On-disk locality of reference</li>
                    <li><span class="text-yellow">•</span> Secondary data-skipping indexes</li>
                    <li><span class="text-yellow">•</span> Data compression</li>
                    <li><span class="text-yellow">•</span> Hot and cold storage separation</li>
                </ul>
            </div>
            <div class="col-lg">
                <ul class="lead list-unstyled mb-0 mb-lg-1">
                    <li><span class="text-yellow">•</span> SQL support</li>
                    <li><span class="text-yellow">•</span> JSON documents query functions</li>
                    <li><span class="text-yellow">•</span> Features for web and mobile analytics</li>
                    <li><span class="text-yellow">•</span> High availability</li>
                    <li><span class="text-yellow">•</span> Cross-datacenter replication</li>
                    <li><span class="text-yellow">•</span> Local and distributed joins</li>
                    <li><span class="text-yellow">•</span> Adaptive join algorithm</li>
                    <li><span class="text-yellow">•</span> Pluggable external dimension tables</li>
                    <li><span class="text-yellow">•</span> Arrays and nested data types</li>
                </ul>
            </div>
            <div class="col-lg">
                <ul class="lead list-unstyled mb-0 mb-lg-1">
                    <li><span class="text-yellow">•</span> Focus on OLAP workloads</li>
                    <li><span class="text-yellow">•</span> S3-compatible object storage support</li>
                    <li><span class="text-yellow">•</span> Hadoop, MySQL, Postgres integration</li>
                    <li><span class="text-yellow">•</span> Approximate query processing</li>
                    <li><span class="text-yellow">•</span> Probabilistic data structures</li>
                    <li><span class="text-yellow">•</span> Full support of IPv6</li>
                    <li><span class="text-yellow">•</span> State-of-the-art algorithms</li>
                    <li><span class="text-yellow">•</span> Detailed documentation</li>
                    <li><span class="text-yellow">•</span> Clean documented code</li>
                </ul>
            </div>
        </div>
        <div class="row mt-5 mb-3">
            <div class="col-lg text-lg-right my-lg-0 ">
                <a href="#quick-start" class="btn btn-lg btn-yellow w-50" role="button">Quick start</a>
            </div>
            <div class="col-lg mt-lg-0 mt-3">
                <a href="docs/en/" class="btn btn-lg btn-outline-yellow w-50" role="button">Documentation</a>
            </div>
        </div>
    </div>
</div>
