<div class="container pt-10 pb-8">
	
	<h1 class="mb-7 mx-auto text-center" style="max-width:840px;">ClickHouse Inc. the Company Has Arrived</h1>
	
	<div class="btns d-flex align-items-center justify-content-center mb-15">
		<a href="#" class="btn btn-lg btn-primary" role="button">Learn More</a>
		<a href="#" class="btn btn-lg btn-outline-primary" role="button">Online Demo</a>
	</div>

	<div class="card">
		<div class="card-body">
			
			<h5 class="text-center">Introducing ClickHouse inc.!</h5>

			<p class="text-center">ClickHouse, Inc. Announces Incorporation, Along With $50M In Series A Funding. New financing will allow the open source success to build a world-class, commercial-grade cloud solution that’s secure, compliant, and convenient for any customer to use.</p>

			<div class="btns d-flex align-items-center justify-content-center">
				<a href="#" class="btn btn-secondary" role="button">Read the Press Release</a>
				<a href="#" class="btn btn-outline-secondary" role="button">Read the Blog Post</a>
			</div>

		</div>
	</div>

</div>
