<div class="hero bg-white">
    <div class="hero-bg index-hero"></div>
    <div class="container pt-5 pt-lg-7 pt-xl-15 pb-5 pb-lg-7">
        
        <h1 class="display-1 mb-2 mb-xl-3 mx-auto text-center">
            ClickHouse, Inc <span class="text-orange">Has Arrived</span>
        </h1>

        <p class="lead mb-3 mb-lg-5 mb-xl-7 mx-auto text-muted text-center" style="max-width:780px;">
            {{ _('ClickHouse® is an open-source, high performance columnar OLAP database management system for real-time analytics using SQL.') }}
        </p>
        
        <div class="btns mb-3 mb-xl-5" role="group">
            <a href="/company/" class="btn btn-lg btn-primary" role="button">Learn More</a>
            <a href="https://play.clickhouse.com/?file=welcome" class="btn btn-lg btn-outline-primary" role="button">Online Demo</a>
        </div>

        <p class="d-flex justify-content-center mb-0">
            <a href="/blog/en/2021/clickhouse-inc/" class="trailing-link">Read the Blog Post</a>
        </p>

    </div>
</div>

<div class="section">
    <div class="container">

        <div class="card is-large has-highlight">
            <div class="card-body">
                
                <h4 class="text-blue text-center">ClickHouse v21.10 Release Webinar</h4>

                <div class="btns" role="group">
                    <a href="https://youtu.be/b9MeoOtAivQ" class="btn btn-secondary" role="button" rel="external nofollow" target="_blank">Watch on YouTube</a>
                </div>

            </div>
        </div>

    </div>
</div>
