<nav id="top-nav" class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img id="logo-icon" src="images/logo.svg" alt="ClickHouse logo" title="ClickHouse logo" />
            <img id="logo-text" src="images/clickhouse-black.svg" alt="ClickHouse" title="ClickHouse" />
        </a>

        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbar-toggle" aria-controls="navbar-toggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-dark"></span>
        </button>

        <div id="navbar-toggle" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="#quick-start">Quick start</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="docs/en/">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="blog/en/">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#community">Community</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
