<nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img id="logo-icon" src="images/logo.svg" />
            <img id="logo-text" src="images/clickhouse-black.svg" alt="ClickHouse" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-toggle" aria-controls="navbar-toggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-toggle">
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0 justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="#quick-start">Quick start</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="docs/en/">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://clickhouse.yandex/blog/en/"
                       rel="external nofollow">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacts">Contacts</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
