<div class="section bg-white pt-8 pb-12" >
	<div class="section-bg" style="background-image:url('/images/backgrounds/bg-footer-cta.png');width:2440px;"></div>
	<div class="container">

		<h2 class="display-2 mb-7 mx-auto text-center" style="max-width:720px;">
			{{ _('Learn more about Commercial Support and future Cloud plans') }}
		</h2>
	
		<div class="card bg-primary-light is-large">
			<div class="card-body">

				<h2 class="display-3 mb-0">
					{{ _('Sign up for our newsletter') }}
				</h2>

			</div>
		</div>

	</div>
</div>
