<div id="blazing-fast" class="section bg-white pb-10 pb-lg-15 pt-10 pt-lg-15">
     <div class="container">

         <div class="row">
             <div class="col-lg-6 mb-5 mb-lg-0">
                 
                <h2 id="performance" class="display-2 mb-3 mb-lg-5">
                    ClickHouse works <span class="text-orange">100-1000x</span> faster than traditional approaches
                </h2>

                <p class="lead text-muted mb-3">
                    ClickHouse's performance <a href="/benchmark/dbms/">exceeds</a> comparable column-oriented database management systems that are available on the market. It processes hundreds of millions to over a billion rows and tens of gigabytes of data per server per second.
                </p>

                <a href="/benchmark/dbms/" class="btn btn-outline-secondary" role="button" rel="nofollow">
                    {{ _('Detailed comparison') }}
                </a>

             </div>
             <div class="col-lg-6">
                
                <h2 id="independent-benchmarks" class="display-3 mb-4">Independent benchmarks</h2>
                
                <ul class="has-separators">
                    <li>
                        <div class="kicker">GitLab</div>
                        <a href="https://www.youtube.com/watch?v=cMdQsxolcqc" rel="external nofollow noreferrer" target="_blank" class="trailing-link span-full">
                            ClickHouse vs TimescaleDB
                        </a>
                    </li>
                    <li>
                        <div class="kicker">Mark Litwintschik</div>
                        <a href="https://tech.marksblogg.com/billion-nyc-taxi-rides-clickhouse-cluster.html" rel="external nofollow noreferrer" target="_blank" class="trailing-link span-full">
                            1.1 Billion Taxi Rides: 108-core ClickHouse Cluster
                        </a>
                    </li>
                    <li>
                        <div class="kicker">Brandon Harris</div>
                        <a href="http://brandonharris.io/redshift-clickhouse-time-series/" rel="external nofollow noreferrer" target="_blank" class="trailing-link span-full">
                            ClickHouse, Redshift and 2.5 Billion Rows of Time Series Data
                        </a>
                    </li>
                    <li>
                        <div class="kicker">Percona</div>
                        <a href="https://www.percona.com/blog/2020/07/27/clickhouse-and-columnstore-in-the-star-schema-benchmark/" rel="external nofollow noreferrer" target="_blank" class="trailing-link span-full">
                            ClickHouse vs MariaDB ColumnStore
                        </a>
                    </li>

                </ul>
                    
             </div>
         </div>
         
     </div>
</div>
