<div id="blazing-fast" class="bg-dark my-0">
     <div class="container text-light py-5">
         <div class="row text-center">
             <div class="col">
                 <h2 class="display-4 col-lg-10 mx-auto mb-3">ClickHouse works 100-1000x faster than traditional approaches</h2>
                 <p class="lead">ClickHouse's performance <a href="benchmark/dbms/">exceeds</a> comparable column-oriented database management systems currently available
                on the market. It processes hundreds of millions to more than a billion rows and tens of gigabytes of data per single server per second.</p>

                 <a href="benchmark/dbms/" class="btn btn-lg btn-yellow mt-3 mx-auto" role="button" rel="nofollow">Detailed comparison</a>
             </div>
         </div>
         <div class="row mt-5">
             <div class="col">
                <h2 id="independent-benchmarks" class="mb-3">Independent benchmarks</h2>
             </div>
         </div>
         <div class="row">
             <div class="col-lg p-0-lg">
                 <ul class="list-unstyled">
                     <li class="mb-3"><a href="https://www.percona.com/blog/2017/02/13/clickhouse-new-opensource-columnar-database/"
                            rel="external nofollow noreferrer" target="_blank" class="text-reset">ClickHouse: New Open Source Columnar Database <div class="text-yellow">Percona</div></a></li>
                    <li class="mb-3"><a href="https://www.percona.com/blog/2017/03/17/column-store-database-benchmarks-mariadb-columnstore-vs-clickhouse-vs-apache-spark/"
                           title="MariaDB ColumnStore vs. Clickhouse vs. Apache Spark"
                           rel="external nofollow noreferrer" target="_blank" class="text-reset">Column Store Database Benchmarks <div class="text-yellow">Percona</div></a></li>
                    <li class="mb-3"><a href="http://tech.marksblogg.com/billion-nyc-taxi-clickhouse.html"
                           rel="external nofollow noreferrer" target="_blank" class="text-reset">1.1 Billion Taxi Rides on ClickHouse & an Intel Core i5 <div class="text-yellow">Mark Litwintschik</div></a></li>
                    <li class="mb-3"><a href="https://tech.marksblogg.com/billion-nyc-taxi-rides-clickhouse-cluster.html"
                           rel="external nofollow noreferrer" target="_blank" class="text-reset">1.1 Billion Taxi Rides: 108-core ClickHouse Cluster  <div class="text-yellow">Mark Litwintschik</div></a></li>
                 </ul>
             </div>
             <div class="col-lg p-0-lg">
                 <ul class="list-unstyled">
                    <li class="mb-3">
                        <a href="https://www.altinity.com/blog/2017/6/20/clickhouse-vs-redshift"
                           rel="external nofollow noreferrer" target="_blank" class="text-reset">ClickHouse vs Amazon RedShift Benchmark  <div class="text-yellow">Altinity</div></a></li>
                    <li class="mb-3"><a href="https://carto.com/blog/inside/geospatial-processing-with-clickhouse"
                           rel="external nofollow noreferrer" target="_blank" class="text-reset">Geospatial processing with Clickhouse  <div class="text-yellow">Carto</div></a></li>
                    <li class="mb-3"><a href="https://translate.yandex.com/translate?url=http%3A%2F%2Fwww.clickhouse.com.cn%2Ftopic%2F5a72e8ab9d28dfde2ddc5ea2F&amp;lang=zh-en"
                                        rel="external nofollow noreferrer" target="_blank" class="text-reset">ClickHouse and Vertica comparison <div><span class="text-yellow">zhtsh</span> <span class="text-muted">(machine translation from Chinese)</span></div></a></li>
                    <li class="mb-3"><a href="http://mafiree.com/blogs.php?ref=Benchmark-::-MySQL-Vs-ColumnStore-Vs-Clickhouse"
                                        rel="external nofollow noreferrer" target="_blank" class="text-reset">MySQL vs ColumnStore vs ClickHouse<div><span class="text-yellow">Mafiree</span></div></a></li>
                 </ul>
             </div>
         </div>
     </div>
</div>
