<div id="blazing-fast" class="section bg-white pt-15">
     <div class="container">

         <div class="row">
             <div class="col-lg-6">
                 
				<h2 id="performance" class="display-2 mb-5">
					ClickHouse works <span class="text-orange">100-1000x</span> faster than traditional approaches
				</h2>

				<p class="lead text-muted mb-3">
					ClickHouse's performance <a href="/benchmark/dbms/">exceeds</a> comparable column-oriented database management systems that are available on the market. It processes hundreds of millions to over a billion rows and tens of gigabytes of data per server per second.
				</p>

				<a href="/benchmark/dbms/" class="btn btn-outline-secondary" role="button" rel="nofollow">
					{{ _('Detailed comparison') }}
				</a>

             </div>
             <div class="col-lg-6">
				
				<h2 id="independent-benchmarks" class="display-3 mb-4">Independent benchmarks</h2>
				
				<ul class="has-separators">
					<li>
						<div class="kicker">Mafiree</div>
						<a href="http://mafiree.com/blogs.php?ref=Benchmark-::-MySQL-Vs-ColumnStore-Vs-Clickhouse" rel="external nofollow noreferrer" target="_blank" class="trailing-link span-full">
							MySQL vs ColumnStore vs Clickhouse
						</a>
					</li>
					<li>
						<div class="kicker">Mark Litwintschik</div>
						<a href="https://tech.marksblogg.com/billion-nyc-taxi-rides-clickhouse-cluster.html" rel="external nofollow noreferrer" target="_blank" class="trailing-link span-full">
							1.1 Billion Taxi Rides: 108-core ClickHouse Cluster
						</a>
					</li>
					<li>
						<div class="kicker">zhtsh <span class="font-weight-light">(machine translation from Chinese)</span></div>
						<a href="https://translate.yandex.com/translate?url=http%3A%2F%2Fwww.clickhouse.com.cn%2Ftopic%2F5a72e8ab9d28dfde2ddc5ea2F&amp;lang=zh-en" rel="external nofollow noreferrer" target="_blank" class="trailing-link span-full">
							ClickHouse and Vertica comparison
						</a>
					</li>
					<li>
						<div class="kicker">Brandon Harris</div>
						<a href="http://brandonharris.io/redshift-clickhouse-time-series/" rel="external nofollow noreferrer" target="_blank" class="trailing-link span-full">
							ClickHouse, Redshift and 2.5 Billion Rows of Time Series Data
						</a>
					</li>
				</ul>
					
             </div>
         </div>
		 
     </div>
</div>
