<div class="section mt-n15">
    <div class="container">

        <div class="pullquote text-white">
            <div class="pullquote-bg bg-gradient-secondary"></div>
            <div class="pullquote-body">
                <p class="pullquote-quote">
                    {{ _('"ClickHouse leading the way in real time for Engineering organizations"') }}
                </p>
                <p class="pullquote-citation">
                    <span class="font-weight-bold">{{ _('Author Name') }}</span>,
                    {{ _('Company Name') }}
                </p>
            </div>
        </div>
        
    </div>
</div>
