<div>
    <div class="container">

        <h2 id="highly-reliable" class="mt-5">Highly reliable</h2>

        <p>ClickHouse has been managing petabytes of data serving a number of highload mass audience services of
            <a href="https://www.yandex.com/company/"
               rel="external nofollow noreferrer">Yandex</a>, Russia's
            leading search provider and one of the largest European IT companies.
            Since 2012, ClickHouse has been providing robust database management for the company's <a
                    href="https://metrica.yandex.com/" rel="external nofollow noreferrer">web analytics service</a>, comparison
            e-commerce platform, public email service, online advertising platform, business intelligence tools
            and infrastructure monitoring.</p>

        <p>ClickHouse can be configured as a purely distributed system located on independent nodes,
            without any single points of failure.</p>

        <p>Software and hardware failures or misconfigurations do not result in loss of data. Instead of deleting "broken"
            data, ClickHouse saves it&nbsp;or asks you what to do before a startup. All data is checksummed before every
            read or write to disk or network. It&nbsp;is virtually impossible to delete data by accident as there are safeguards
            even for human errors.</p>

        <p>ClickHouse offers flexible limits on query complexity and resource usage, which can be fine-tuned with settings.
            It&nbsp;is possible to simultaneously serve both a number of high priority low-latency requests and some
            long-running queries with a background priority.</p>
    </div>
</div>
