<div>
    <div class="container py-5">

        <div class="row">
            <div class="col-lg">
                <h2 id="feature-rich" class="display-4">Feature-rich SQL database</h2>
            </div>
        </div>
        <div class="row my-lg-5 my-0">
            <div class="col-lg">
                <div class="bg-number">1</div>
                <h4>User-friendly SQL dialect</h4>
                <p>ClickHouse features a SQL query dialect with a number of built-in analytics capabilities. In addition to common functions that could be found in most DBMS, ClickHouse comes with a lot of domain-specific functions and features for OLAP scenarios out of the box.</p>
            </div>
            <div class="col-lg">
                <div class="bg-number">2</div>
                <h4>Efficient managing of denormalized data</h4>
                <p>Column-oriented nature of ClickHouse allows having hundreds or thousands of columns per table without slowing down SELECT queries. It's possible to pack even more data in by leveraging wide range data organizing options, such as arrays, tuples and nested data structures.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <div class="bg-number">3</div>
                <h4>Join distributed or co-located data</h4>
                <p>ClickHouse provides various options for joining tables. Joins could be either cluster local, they can also access data stored in external systems. There's also an external dictionaries support that provides an alternative more simple syntax for accessing data from an outside source.</p>
            </div>
            <div class="col-lg">
                <div class="bg-number">4</div>
                <h4>Approximate query processing</h4>
                <p>Users can control the trade-off between result accuracy and query execution time, which is handy when dealing with multiple terabytes or petabytes of data. ClickHouse also provides probabilistic data structures for fast and memory-efficient calculation of cardinalities and quantiles</p>
            </div>
        </div>
    </div>
</div>
