<div>
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <h2 id="linearly-scalable" class="display-4 mt-5">Linearly scalable</h2>
                <p class="lead">ClickHouse scales well both vertically and horizontally. ClickHouse is easily adaptable to perform either on a cluster with hundreds or thousands of nodes or on a single server or even on a tiny virtual machine. Currently, there are installations with more multiple trillion rows or hundreds of terabytes of data per single node.</p>
                <p class="lead">
                    There are many ClickHouse clusters consisting of multiple hundred nodes, including few clusters of Yandex Metrica, while the largest known ClickHouse cluster is well over a thousand nodes.
                </p>
            </div>
            <div class="col-lg">
                <img data-src="/images/index/linearly-scalable.svg" alt="Lineraly scalable" title="Linearly scalable" class="mt-5" />
            </div>
        </div>
    </div>
</div>
