<div class="bg-light py-5 my-5">
    <div class="container text-center">
        <h2 id="success-stories" class="display-4">Success stories</h2>
        <div class="row">
            <div class="col-lg-4 py-3">
                <a href="docs/en/introduction/history/" class="text-reset text-decoration-none">
                    <div class="card py-3 dots-lb">
                        <div class="card-body">
                            <h4 class="card-title">Yandex Metrica</h4>
                            <p class="card-text text-muted">The original usecase</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 py-3">
                <a href="https://eng.uber.com/logging/" class="text-reset text-decoration-none" rel="external nofollow noreferrer" target="_blank">
                    <div class="card py-3 dots-cc">
                        <div class="card-body">
                            <h4 class="card-title">Log Platform</h4>
                            <p class="card-text text-muted">at Uber</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 py-3">
                <a href="https://tech.ebayinc.com/engineering/ou-online-analytical-processing/" class="text-reset text-decoration-none" rel="external nofollow noreferrer" target="_blank">
                    <div class="card py-3 dots-rb">
                        <div class="card-body">
                            <h4 class="card-title">Analytical Processing</h4>
                            <p class="card-text text-muted">at eBay</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 py-3">
                <a href="https://blog.cloudflare.com/http-analytics-for-6m-requests-per-second-using-clickhouse/" class="text-reset text-decoration-none" rel="external nofollow noreferrer" target="_blank">
                    <div class="card py-3 dots-rb">
                        <div class="card-body">
                            <h4 class="card-title">HTTP and DNS analytics</h4>
                            <p class="card-text text-muted">at Cloudflare</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 py-3">
                <a href="https://www.slideshare.net/glebus/using-clickhouse-for-experimentation-104247173" class="text-reset text-decoration-none" rel="external nofollow noreferrer" target="_blank">
                    <div class="card py-3 dots-rhb">
                        <div class="card-body">
                            <h4 class="card-title">Experimentation</h4>
                            <p class="card-text text-muted">at Spotify</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 py-3">
                <a href="https://bigdatadays.ru/wp-content/uploads/2019/10/D2-H3-3_Yakunin-Goihburg.pdf" class="text-reset text-decoration-none" rel="external nofollow noreferrer" target="_blank">
                    <div class="card py-3 dots-lb">
                        <div class="card-body">
                            <h4 class="card-title">Business Intelligence</h4>
                            <p class="card-text text-muted">at Deutsche Bank</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <a href="docs/en/introduction/adopters/" class="btn btn-lg btn-outline-orange mx-auto mt-3" role="button">Show more</a>
        </div>
    </div>
</div>
