<div class="bg-light py-5 my-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg">
                <h2 class="display-5">When to use ClickHouse</h2>
                <p>For analytics over a stream of clean, well structured and immutable events or logs.
            It is recommended to put each such stream into a single wide fact table with pre-joined dimensions.</p>
            </div>
            <div class="col-lg">
                <ul class="lead list-unstyled mb-0 mb-lg-1">
                    <li>✓ Web and App analytics</li>
                    <li>✓ Advertising networks and RTB</li>
                    <li>✓ Telecommunications</li>
                    <li>✓ E-commerce and finance</li>
                    <li>✓ Information security</li>
                </ul>
            </div>
            <div class="col-lg">
                <ul class="lead list-unstyled">
                    <li>✓ Monitoring and telemetry</li>
                    <li>✓ Time series</li>
                    <li>✓ Business intelligence</li>
                    <li>✓ Online games</li>
                    <li>✓ Internet of Things</li>
                </ul>
            </div>
        </div>
        <div class="row text-red">
            <div class="col-lg">
                <h2 class="display-5">When NOT to use ClickHouse</h2>
            </div>
            <div class="col-lg">
                <ul class="lead list-unstyled mb-0 mb-lg-1">
                    <li>✕ Transactional workloads (OLTP)</li>
                    <li>✕ Key-value requests with a high rate</li>
                </ul>
            </div>
            <div class="col-lg">
                <ul class="lead list-unstyled">
                    <li>✕ Blob or document storage</li>
                    <li>✕ Over-normalized data</li>
                </ul>
            </div>
        </div>
    </div>
</div>
