<div>
    <div class="container my-5 py-3 text-lg-left text-center">
        <div class="row mb-5">
            <div class="col-lg text-center">
                <h2 class="display-4">Why ClickHouse might be the right choice?</h2>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-lg-1">
                <img data-src="images/index/flash.svg" alt="Blazing fast" title="Blazing fast" />
            </div>
            <div class="col-lg-5">
                <h3 class="display-5">Blazing fast</h3>
                <p>ClickHouse uses all available hardware to its full potential to process each query as fast as possible. Peak processing performance for a single query stands at more than 2&nbsp;terabytes per second <span class="text-muted">(after decompression, only used columns)</span>. In distributed setup reads are automatically balanced among healthy replicas to avoid increasing latency.</p>
            </div>
            <div class="col-lg-1">
                <img data-src="images/index/safe.svg" alt="Fault tolerant" title="Fault tolerant" />
            </div>
            <div class="col-lg-5">
                <h3 id="fault-tolerant" class="display-5">Fault-tolerant</h3>
                <p>ClickHouse supports multi-master asynchronous replication and can be deployed across multiple datacenters. All nodes are equal, which allows avoiding having single points of failure. Downtime of a single node or the whole datacenter won't affect the system's availability for both reads and writes.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1">
                <img data-src="images/index/heart.svg" alt="Easy to use" title="Easy to use" />
            </div>
            <div class="col-lg-5">
                <h3 class="display-5">Easy to use</h3>
                <p>ClickHouse is simple and works out-of-the-box. It streamlines all your data processing: ingest all your structured data into the system and it becomes instantly available for building reports. SQL dialect allows expressing the desired result without involving any custom non-standard API that could be found in some alternative systems.</p>
            </div>
            <div class="col-lg-1">
                <img data-src="images/index/shield.svg" alt="Highly reliable" title="Highly reliable" width="60" />
            </div>
            <div class="col-lg-5">
                <h3 id="highly-reliable" class="display-5">Highly reliable</h3>
                <p>ClickHouse DBMS can be configured as a purely distributed system located on independent nodes, without any single points of failure. It also includes a lot of enterprise-grade security features and fail-safe mechanisms against human errors.</p>
            </div>
        </div>
    </div>
</div>
