<div class="section pt-10 pt-lg-15">
    <div class="container">

        <h2 class="display-2 text-center mb-3">
            Why ClickHouse
        </h2>

        <p class="lead text-muted text-center mb-5 mb-md-8 mb-lg-10 mx-auto" style="max-width:740px;">
            {{ _('Our feature rich and hardware efficient OLAP data management system is the right choice for your organization.') }}
        </p>

        <div class="row mb-5 mb-md-8 mb-lg-10">
            <div class="col-lg-6 mb-5 mb-md-8 mb-lg-0 mx-auto mx-lg-0 d-flex flex-column align-items-center align-items-lg-start text-center text-lg-left" style="max-width: 560px;">
                <img class="icon" src="/images/icons/icon-performance.svg">
                <h3 class="display-3">Performance</h3>
                <p class="font-lg text-muted mb-3" style="max-width: 440px;">ClickHouse supports best in the industry query performance, while significantly reducing storage requirements through our innovative use of columnar storage and compression.</p>
                <hr class="is-yellow mt-auto">
            </div>
            <div class="col-lg-6 d-flex mx-auto mx-lg-0 flex-column align-items-center align-items-lg-start text-center text-lg-left" style="max-width: 560px;">
                <img class="icon" src="/images/icons/icon-scalability.svg">
                <h3 class="display-3">Scalability</h3>
                <p class="font-lg text-muted mb-3" style="max-width: 440px;">Battle tested in production, with linear horizontal scalability from single-server deployments to clusters with many thousands of nodes.</p>
                <hr class="is-yellow mt-auto">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mb-5 mb-md-8 mb-lg-0 mx-auto mx-lg-0 d-flex flex-column align-items-center align-items-lg-start text-center text-lg-left" style="max-width: 560px;">
                <img class="icon" src="/images/icons/icon-reliability.svg">
                <h3 class="display-3">Reliability</h3>
                <p class="font-lg text-muted mb-3" style="max-width: 440px;">ClickHouse deployments feature best in class availability. There are no single points of failure, with the architecture supporting multi-master replication, performing effectively in multi-region configurations.</p>
                <hr class="is-yellow mt-auto">
            </div>
            <div class="col-lg-6 d-flex mx-auto mx-lg-0 flex-column align-items-center align-items-lg-start text-center text-lg-left" style="max-width: 560px;">
                <img class="icon" src="/images/icons/icon-security.svg">
                <h3 class="display-3">Security</h3>
                <p class="font-lg text-muted mb-3" style="max-width: 440px;">ClickHouse comes with enterprise grade security features and fail-safe mechanisms protecting against data corruption from application bugs and human errors.</p>
                <hr class="is-yellow mt-auto">
            </div>
        </div>
    </div>
</div>
