{% set prefetch_items = [
    ('/docs/en/', 'document')
] %}

{% extends "templates/base.html" %}

{% block extra_meta %}
<script type="application/ld+json">{
"@context": "https://schema.org",
"@type": "SoftwareApplication",
"name": "ClickHouse",
"operatingSystem": ["Linux", "FreeBSD", "Mac OS X"],
"featureList": ["SQL", "columnar storage", "fault-tolerance", "distributed queries"],
"softwareHelp": "https://clickhouse.tech/docs/en/",
"license": "https://github.com/ClickHouse/ClickHouse/blob/master/LICENSE",
"applicationCategory": "https://schema.org/DeveloperApplication",
"applicationSubCategory": "Database Management System",
"copyrightHolder": {
  "@type": "Organization",
  "name": "Yandex LLC",
  "logo": {
    "@type": "ImageObject",
    "url": "https://clickhouse.tech/images/yandex.png",
    "width": 163,
    "height": 60
  }
},
"copyrightYear": 2016,
"mainEntityOfPage": {
  "@type": "WebSite",
  "@id": "https://clickhouse.tech"
},
"offers": {
  "@type": "Offer",
  "price": "0",
  "priceCurrency": "USD"
}
}</script>
{% endblock %}

{% block content %}

{% include "templates/index/nav.html" %}
{% include "templates/index/hero.html" %}
{% include "templates/index/events.html" %}
{% include "templates/index/performance.html" %}
{% include "templates/index/why.html" %}
{% include "templates/index/success.html" %}
{% include "templates/index/efficient.html" %}
{% include "templates/index/rich.html" %}
{% include "templates/index/features.html" %}
{% include "templates/index/scalable.html" %}
{% include "templates/index/use.html" %}
{% include "templates/index/quickstart.html" %}
{% include "templates/index/community.html" %}

{% endblock %}
