{% set prefetch_items = [
    ('/docs/en/', 'document')
] %}

{% extends "templates/base.html" %}

{% block content %}

{% include "templates/index/nav.html" %}
{% include "templates/index/hero.html" %}
{% include "templates/index/events.html" %}
{% include "templates/index/performance.html" %}
{% include "templates/index/why.html" %}
{% include "templates/index/success.html" %}
{% include "templates/index/efficient.html" %}
{% include "templates/index/rich.html" %}
{% include "templates/index/features.html" %}
{% include "templates/index/scalable.html" %}
{% include "templates/index/use.html" %}
{% include "templates/index/quickstart.html" %}
{% include "templates/index/community.html" %}

{% endblock %}
