alabaster==0.7.10
Babel==2.5.1
backports-abc==0.5
certifi==2017.11.5
chardet==3.0.4
click==6.7
CommonMark==0.5.4
docutils==0.14
idna==2.6
imagesize==0.7.1
Jinja2==2.10
livereload==2.5.1
Markdown==2.6.11
MarkupSafe==1.0
mkdocs==0.17.2
Pygments==2.2.0
pytz==2017.3
PyYAML==3.12
recommonmark==0.4.0
requests==2.18.4
singledispatch==3.4.0.3
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.6.5
sphinxcontrib-websupport==1.0.1
tornado==4.5.3
typing==3.6.2
urllib3==1.22
