.blog a:link, .blog a:visited,
.docs a:link, .docs a:visited {
    color: #f14600;
    text-decoration: none;
}

.blog a:hover, .blog a:active,
.docs a:hover, .docs a:active {
    text-decoration: underline;
}

.btn.disabled, .btn:disabled {
    cursor: default;
    opacity: 0.4;
}

.fake-btn {
    display: inline-block;
    padding: 0.375rem 0.75rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.5;
}

#logo-icon, #docs-logo-icon {
    width: 64px;
}

#logo-text {
    width: 180px;
    margin-left: 12px;
}

.display-5 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-6 {
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.2;
}

.bg-dark-alt, .bg-dark-alt:focus {
    background: #36363F;
}

.bg-secondary-alt, .bg-secondary-alt:focus {
    background: #444451;
}

.bg-orange, .bg-orange:focus {
    background: #f14600;
}

.text-dark-alt {
    color: #36363F;
}

.btn-dark-alt {
    background: #36363F;
}

.btn-dark-alt:focus {
    background: #36363F;
}

.btn-outline-orange {
    border-color: #f14600;
    color: #f14600;
}

.btn-orange, .btn-outline-orange:hover {
    background: #f14600;
    color: #fff;
}

a.btn-outline-yellow {
    border-color: #fc0;
    color: #fc0;
}

.btn-yellow, .btn-outline-yellow:hover {
    background: #fc0;
    color: #000;
}

.btn-yellow:hover {
    background: #ffe100;
}

.btn-yellow:hover, .btn-yellow:link, .btn-yellow:visited {
    color: #000;
}

.btn:hover, .btn:active {
    text-decoration: none;
}

.text-red {
    color: #ff3939;
}

.text-orange {
    color: #f14600;
}

.text-yellow {
    color: #fc0;
}

.bg-number {
    position: absolute;
    font-size: 900%;
    font-weight: bold;
    color: rgba(241, 70, 0, 0.1);
    line-height: 1;
    margin-top: -1rem;
}

.dropdown-item {
  color: #e1e1e1 !important;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: #1e1e1e;
}

.nav .dropdown-toggle::after {
    vertical-align: 0 !important;
}
.nav .dropdown-toggle[aria-expanded=false]::after {
    display: inline-block;
    margin-right: .255em;
    vertical-align: 0;
    content: "";
    border-top: .3em solid transparent;
    border-right: .3em solid;
    border-bottom: .3em solid transparent;
}

.dots-lb {
    background: #fff url('/images/dots.svg') no-repeat 0 100%;
}

.dots-cb {
    background: #fff url('/images/dots.svg') no-repeat 50% 100%;
}

.dots-rb {
    background: #fff url('/images/dots.svg') no-repeat 100% 100%;
}

.dots-rhb {
    background: #fff url('/images/dots.svg') no-repeat 75% 100%;
}

.dots-cc {
    background: #fff url('/images/dots.svg') repeat-y 50% -17.5%;
}

.benchmark-query-cell {
    width: 20rem;
    white-space: pre;
    overflow-x: hidden;
}

.benchmark-query-cell:hover {
    width: auto;
    background-color: #efefef;
    position: absolute;
    padding: 0.5rem;
    margin: -0.5rem 0 0 -0.5rem;
    overflow-x: auto;
    white-space: normal;
}

.benchmark-query-cell-wrapper {
    width: 22rem;
}

.w-15 {
    width: 15% !important;
}

#feedback_email {
    white-space: nowrap;
}

.height-20 {
    height: 20px;
}

ol.default{
	margin-top: 10px;
}

ol.default li{
	margin-bottom: 10px;
}
