.dark-mode {
    background: #1c1c1c;
    color: #efefef;
}

#sidebar {
    position: fixed;
    left: 0;
}

.dark-mode #sidebar {
    background: #333;
}

#toc {
    position: fixed;
    right: 0;
}

#sidebar .nav-link.active {
    font-weight: bold;
}

.headerlink {
    display: none;
    text-decoration: none !important;
    margin-left: .5rem;
}

#content table {
    border: 1px solid #dee2e6;
    width: 100%;
    margin-bottom: 1rem;
}

.dark-mode #content table {
    border: 1px solid #2a2b2c;
}

#content thead {
    background: #444451;
    color: #fff;
}

.dark-mode #content thead {
    background: #333;
}

#content td, #content th {
    padding: .75rem;
    vertical-align: top;
}

#content td {
    border: 1px solid #dee2e6;
}

#content th, .dark-mode #content td {
    border: 1px solid #444451;
}

#content code {
    color: #111;
    background: #eee;
    padding: 2px;
}

.dark-mode #content code {
    background: #444;
    color: #eee;
}

#content pre {
    background: #eee;
    padding: 1rem;
}

.dark-mode #content pre {
    background: #444;
    color: #eee;
}

#docsearch-input:focus {
    color: #efefef;
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
    display: none !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content {
    float: none !important;
    width: 100% !important;
    background-color: #444451;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content:before {
    content: none !important;
}

.algolia-autocomplete .ds-dropdown-menu {
    width: 100% !important;
    max-height: 512px;
    overflow-x: hidden;
    overflow-y: auto;
}

.algolia-autocomplete .ds-dropdown-menu,
.algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-],
.algolia-autocomplete .algolia-docsearch-suggestion,
.algolia-autocomplete .ds-dropdown-menu:before {
    background: #1c1c1c !important;
    border-color: #333;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header,
.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column,
.algolia-autocomplete .algolia-docsearch-suggestion--title,
.algolia-autocomplete .algolia-docsearch-suggestion--text {
    color: #efefef;
}

.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  color: #f14600;
}


@media (prefers-color-scheme: dark) {
    .dark-mode {
    background: #1c1c1c;
    color: #efefef;
}
}
