.dark-mode {
    background: #1c1c1c;
    color: #efefef;
}

#sidebar {
    position: fixed;
    left: 0;
}

.dark-mode #sidebar {
    background: #333;
}

#toc {
    position: fixed;
    right: 0;
}

#sidebar .nav-link.active {
    font-weight: bold;
}

#toc .nav-link.active {
    color: #6c757d !important;
}

.headerlink {
    display: none;
    text-decoration: none !important;
    margin-left: .5rem;
}

#content table {
    border: 1px solid #dee2e6;
    width: 100%;
    margin-bottom: 1rem;
}

.dark-mode #content table {
    border: 1px solid #2a2b2c;
}

#content thead {
    background: #444451;
    color: #fff;
}

#content td, #content th {
    padding: .75rem;
    vertical-align: top;
}

#content td {
    border: 1px solid #dee2e6;
}

#content th {
    border: 1px solid #444451;
}

#content code {
    color: #111;
    background: #eee;
    padding: 2px;
}

#content pre {
    background: #eee;
    padding: 1rem;
}
