/*

    Name:       Base16 Paraiso Light
    Author:     Jan T. Sott

    Pygments template by Jan T. Sott (https://github.com/idleberg)
    Created with Base16 Builder by Chris Kempson (https://github.com/chriskempson/base16-builder)

*/
.syntax .hll { background-color: #b9b6b0 }
.syntax  { background: #f8f9fa; color: #2f1e2e }
.syntax .c { color: #8d8687 } /* Comment */
.syntax .err { color: #ef6155 } /* Error */
.syntax .k { color: #815ba4 } /* Keyword */
.syntax .l { color: #f99b15 } /* Literal */
.syntax .n { color: #2f1e2e } /* Name */
.syntax .o { color: #5bc4bf } /* Operator */
.syntax .p { color: #2f1e2e } /* Punctuation */
.syntax .cm { color: #8d8687 } /* Comment.Multiline */
.syntax .cp { color: #8d8687 } /* Comment.Preproc */
.syntax .c1 { color: #8d8687 } /* Comment.Single */
.syntax .cs { color: #8d8687 } /* Comment.Special */
.syntax .gd { color: #ef6155 } /* Generic.Deleted */
.syntax .ge { font-style: italic } /* Generic.Emph */
.syntax .gh { color: #2f1e2e; font-weight: bold } /* Generic.Heading */
.syntax .gi { color: #48b685 } /* Generic.Inserted */
.syntax .gp { color: #8d8687; font-weight: bold } /* Generic.Prompt */
.syntax .gs { font-weight: bold } /* Generic.Strong */
.syntax .gu { color: #5bc4bf; font-weight: bold } /* Generic.Subheading */
.syntax .kc { color: #815ba4 } /* Keyword.Constant */
.syntax .kd { color: #815ba4 } /* Keyword.Declaration */
.syntax .kn { color: #5bc4bf } /* Keyword.Namespace */
.syntax .kp { color: #815ba4 } /* Keyword.Pseudo */
.syntax .kr { color: #815ba4 } /* Keyword.Reserved */
.syntax .kt { color: #fec418 } /* Keyword.Type */
.syntax .ld { color: #48b685 } /* Literal.Date */
.syntax .m { color: #f99b15 } /* Literal.Number */
.syntax .s { color: #48b685 } /* Literal.String */
.syntax .na { color: #06b6ef } /* Name.Attribute */
.syntax .nb { color: #2f1e2e } /* Name.Builtin */
.syntax .nc { color: #fec418 } /* Name.Class */
.syntax .no { color: #ef6155 } /* Name.Constant */
.syntax .nd { color: #5bc4bf } /* Name.Decorator */
.syntax .ni { color: #2f1e2e } /* Name.Entity */
.syntax .ne { color: #ef6155 } /* Name.Exception */
.syntax .nf { color: #06b6ef } /* Name.Function */
.syntax .nl { color: #2f1e2e } /* Name.Label */
.syntax .nn { color: #fec418 } /* Name.Namespace */
.syntax .nx { color: #06b6ef } /* Name.Other */
.syntax .py { color: #2f1e2e } /* Name.Property */
.syntax .nt { color: #5bc4bf } /* Name.Tag */
.syntax .nv { color: #ef6155 } /* Name.Variable */
.syntax .ow { color: #5bc4bf } /* Operator.Word */
.syntax .w { color: #2f1e2e } /* Text.Whitespace */
.syntax .mf { color: #f99b15 } /* Literal.Number.Float */
.syntax .mh { color: #f99b15 } /* Literal.Number.Hex */
.syntax .mi { color: #f99b15 } /* Literal.Number.Integer */
.syntax .mo { color: #f99b15 } /* Literal.Number.Oct */
.syntax .sb { color: #48b685 } /* Literal.String.Backtick */
.syntax .sc { color: #2f1e2e } /* Literal.String.Char */
.syntax .sd { color: #8d8687 } /* Literal.String.Doc */
.syntax .s2 { color: #48b685 } /* Literal.String.Double */
.syntax .se { color: #f99b15 } /* Literal.String.Escape */
.syntax .sh { color: #48b685 } /* Literal.String.Heredoc */
.syntax .si { color: #f99b15 } /* Literal.String.Interpol */
.syntax .sx { color: #48b685 } /* Literal.String.Other */
.syntax .sr { color: #48b685 } /* Literal.String.Regex */
.syntax .s1 { color: #48b685 } /* Literal.String.Single */
.syntax .ss { color: #48b685 } /* Literal.String.Symbol */
.syntax .bp { color: #2f1e2e } /* Name.Builtin.Pseudo */
.syntax .vc { color: #ef6155 } /* Name.Variable.Class */
.syntax .vg { color: #ef6155 } /* Name.Variable.Global */
.syntax .vi { color: #ef6155 } /* Name.Variable.Instance */
.syntax .il { color: #f99b15 } /* Literal.Number.Integer.Long */

@media (prefers-color-scheme: dark) {
.syntax .k { color: #c78cff } /* Keyword */
.syntax .gi { color: #64ffbb } /* Generic.Inserted */
.syntax .ld { color: #64ffbb } /* Literal.Date */
.syntax .s { color: #64ffbb } /* Literal.String */
.syntax .sb { color: #64ffbb } /* Literal.String.Backtick */
.syntax .s2 { color: #64ffbb } /* Literal.String.Double */
.syntax .sh { color: #64ffbb } /* Literal.String.Heredoc */
.syntax .sx { color: #64ffbb } /* Literal.String.Other */
.syntax .sr { color: #64ffbb } /* Literal.String.Regex */
.syntax .s1 { color: #64ffbb } /* Literal.String.Single */
.syntax .ss { color: #64ffbb } /* Literal.String.Symbol */
.syntax .c { color: #64ffbb } /* Comment */
.syntax .n { color: #f8f9fa } /* Name */
.syntax .p { color: #f8f9fa } /* Punctuation */
.syntax .gh { color: #f8f9fa; font-weight: bold } /* Generic.Heading */
.syntax .nb { color: #f8f9fa } /* Name.Builtin */
.syntax .ni { color: #f8f9fa } /* Name.Entity */
.syntax .nl { color: #f8f9fa } /* Name.Label */
.syntax .py { color: #f8f9fa } /* Name.Property */
.syntax .w { color: #f8f9fa } /* Text.Whitespace */
.syntax .sc { color: #f8f9fa } /* Literal.String.Char */
}
