.btn-primary {
  color: #212529;
}
.btn-primary:active, .btn-primary:hover {
  color: #212529;
}

.btn-outline-primary {
  background: #fffaf0;
  border-color: #ffcc00;
  color: #212529;
}
.btn-outline-primary:active, .btn-outline-primary:hover {
  background: #ffcc00;
  border-color: #ffcc00;
  color: #212529;
}

.btn-secondary {
  border-color: #212529;
  color: #fff;
}
.btn-secondary:active, .btn-secondary:hover {
  background: #fff;
  border-color: #212529;
  color: #212529;
}

.btn-outline-secondary {
  background: #fff;
  border-color: #212529;
  color: #212529;
}
.btn-outline-secondary:active, .btn-outline-secondary:hover {
  background: #212529;
  border-color: #212529;
  color: #fff;
}

.btn-tertiary {
  border-color: #257af4;
  color: #fff;
}
.btn-tertiary:active, .btn-tertiary:hover {
  background: #257af4;
  border-color: #257af4;
  color: #fff;
}

.btn-outline-tertiary {
  background: #e3f1fe;
  color: #257af4;
}
.btn-outline-tertiary:active, .btn-outline-tertiary:hover {
  background: #257af4;
  color: #fff;
}

.navbar {
  border-bottom: 4px solid #f1f6f9;
  height: 142px;
}
.navbar-super {
  flex-shrink: 0;
  width: 100%;
}
.navbar-super ul {
  list-style: none;
}
.navbar-super li + li {
  margin-left: 24px;
}
.navbar-super a {
  align-items: center;
  color: #212529;
  display: flex;
  font-size: 0.875rem;
}
.navbar-super a:active, .navbar-super a:hover {
  color: #257af4;
  text-decoration: none;
}
.navbar-super img {
  flex-shrink: 0;
  margin-right: 4px;
}
.navbar-brand {
  background: no-repeat url(../images/logo.svg);
  background-size: contain;
  flex-shrink: 0;
  height: 28px;
  margin-right: 48px;
  padding: 0;
  width: 180px;
}
.navbar-nav {
  align-items: center;
  height: 46px;
}

.navbar-expand-lg > .container {
  flex-wrap: wrap;
}

.nav-item + .nav-item {
  margin-left: 24px;
}

.nav-link {
  color: #212529;
}
.nav-link:active, .nav-link:hover {
  color: #257af4;
}