<div class="hero bg-primary-light d-flex align-items-center" style="height:22.5vw;max-height:324px;min-height:280px;">
	<div class="hero-bg" style="background-image:url('/images/backgrounds/bg-hero-company.png');max-width:2448px;width:170vw;"></div>
	<div class="container pt-8 pt-lg-10 pt-xl-15 pb-8 pb-lg-10 pb-xl-15">
		
		<h1 class="display-1 mb-3">
			{{ _('Thank You') }}
		</h1>
		
		<p class="lead text-dark mb-0">
			{{ _('A salesperson will be in contact with you shortly.') }}
		</p>

	</div>
</div>
