blinker==1.4
cryptography==44.0.1
dbus-python==1.2.18
distro==1.7.0
httplib2==0.20.2
importlib-metadata==4.6.4
jeepney==0.7.1
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
more-itertools==8.10.0
oauthlib==3.2.2
packaging==24.1
pip==25.0.1
pipdeptree==2.23.0
pycurl==7.45.3
PyJWT==2.10.1
pyparsing==2.4.7
SecretStorage==3.3.1
setuptools==78.1.1
six==1.16.0
wadllib==1.3.6
wheel==0.46.1
zipp==3.19.1
