name: CreateRelease

concurrency:
  group: release
'on':
  workflow_dispatch:
    inputs:
      ref:
        description: 'Git reference (branch or commit sha) from which to create the release'
        required: true
        type: string
      type:
        description: 'The type of release: "new" for a new release or "patch" for a patch release'
        required: true
        type: choice
        options:
          - patch
          - new
      dry-run:
        description: 'Dry run'
        required: false
        default: true
        type: boolean

jobs:
  CreateRelease:
    env:
      GH_TOKEN: ${{ secrets.ROBOT_CLICKHOUSE_COMMIT_TOKEN }}
    runs-on: [self-hosted, release-maker]
    steps:
      - name: Check out repository code
        uses: ClickHouse/checkout@v1
        with:
          token: ${{secrets.ROBOT_CLICKHOUSE_COMMIT_TOKEN}}
          fetch-depth: 0
      - name: Debug Info
        uses: ./.github/actions/debug
      - name: Call Release Action
        uses: ./.github/actions/release
        with:
          ref: ${{ inputs.ref }}
          type: ${{ inputs.type }}
          dry-run: ${{ inputs.dry-run }}
          token: ${{secrets.ROBOT_CLICKHOUSE_COMMIT_TOKEN}}
