<div class="banner bg-light">
    <div class="container">
        <p class="text-center text-dark mb-0 mx-auto pt-1 pb-1">{{ _('ClickHouse v21.12 is coming soon! Add the Dec 16 Release Webinar to your calendar') }} <a
                href="https://calendar.google.com/event?action=TEMPLATE&dates=20211216T170000Z%2F20211216T180000Z&text=ClickHouse%20v21.12%20Release%20Webinar&location=https%3A%2F%2Fzoom.us%2Fj%2F98125358968%3Fpwd%3DNmVtNFFZN254RFVreDBGMzF4ZXVJZz09&details=Connect%20with%20ClickHouse%20experts%20and%20test%20out%20the%20newest%20features%20and%20performance%20gains%20in%20the%20v21.12%20release.%0A%0APlease%20click%20this%20URL%20to%20join.%20https%3A%2F%2Fzoom.us%2Fj%2F98125358968%3Fpwd%3DNmVtNFFZN254RFVreDBGMzF4ZXVJZz09%0A%0APasscode%3A%20116407%0A%0AMeeting%20ID%3A%20943%200124%201586%20Passcode%3A%20733594%0A%0AOne%20tap%20mobile%20%2B16699009128%2C%2C94301241586%23%2C%2C%2C%2C%2A733594%23%20US%20%28San%20Jose%29%0A%0AInternational%20numbers%20available%3A%20https%3A%2F%2Fzoom.us%2Fu%2Fa9MnEEn8i" target="_blank">here</a></p>
    </div>
</div>
