<nav id="top-nav" class="navbar navbar-clickhouse navbar-expand-lg sticky-top bg-white">
    <div class="container">

        <nav class="navbar-super mb-2 d-none d-xs-block">
            <ul class="d-flex align-items-center justify-content-end mb-0">
                <li class="height-20">
                    <a class="github-button" href="https://github.com/ClickHouse/ClickHouse" data-show-count="true" aria-label="Star ClickHouse/ClickHouse on GitHub" rel="external nofollow">Star</a>
                </li>
                <li>
                    <a href="/blog/en/">
                        <img src="/images/icons/icon-blog-black.svg">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://join.slack.com/t/clickhousedb/shared_invite/zt-rxm3rdrk-lIUmhLC3V8WTaL0TGxsOmg" target="_blank" rel="external nofollow">
                        <img src="/images/icons/icon-slack-black.svg">
                        Slack
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/c/ClickHouseDB" target="_blank" rel="external nofollow">
                        <img src="/images/icons/icon-youtube-black.svg">
                        YouTube
                </a>
                </li>
            </ul>
        </nav>

        <a class="navbar-brand navbar-brand-clickhouse" href="/" title="ClickHouse"></a>

        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbar-toggle" aria-controls="navbar-toggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon text-dark"></span>
        </button>

        <div id="navbar-toggle" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto justify-content-center justify-content-lg-end">
                <li class="nav-item">
                    <a class="nav-link" href="/#quick-start">Quick Start</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/docs/en/">Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/learn/">Learn</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/company/">Company</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/careers/">Careers</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-tertiary" href="/company/#contact">Contact Us</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
