<div class="section bg-white pt-10 pb-10 pb-lg-12">
    <div class="section-bg bg-footer-cta"></div>
    <div class="container">

        <h2 class="display-2 mb-7 mx-auto text-center w-75">
            {{ _('Stay informed on feature releases, product roadmap, and future support and cloud offerings! ') }}
        </h2>
    
        <div class="card bg-primary-light is-large">
            <div class="card-body d-flex flex-column flex-lg-row align-items-center">

                <h2 class="display-3 mb-3 mb-lg-0">
                    {{ _('Sign up for our newsletter') }}
                </h2>

                <div class="mx-auto mr-lg-0 pl-0 pl-lg-3" style="flex-grow: 1; max-width: 544px; position: relative;">

                    <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">

                        <input type=hidden name="oid" value="00D5f000000JueF">
                        <input type=hidden name="retURL" value="https://clickhouse.com/thank-you/">
        
                        <div class="d-flex" style="max-width: 520px;">
                            <div style="flex-basis: 400px;">
                                <input class="form-control" id="email" placeholder="Email*" maxlength="80" name="email" size="20" type="text" required style="border-radius:6px 0 0 6px;">
                            </div>
                            <div style="flex-basis: 120px;">
                                <input type="submit" name="submit" value="Sign Up" class="btn btn-secondary" style="border-radius: 0 6px 6px 0;">
                            </div>
                        </div>
                        
                    </form>
                    
                </div>

            </div>
        </div>

    </div>
</div>
