<clickhouse>
    <profiles>
        <default>
            <database_replicated_allow_replicated_engine_arguments>3</database_replicated_allow_replicated_engine_arguments>
            <database_replicated_allow_explicit_uuid>3</database_replicated_allow_explicit_uuid>
        </default>
    </profiles>
    <users>
        <default>
            <profile>default</profile>
        </default>
    </users>
</clickhouse>
