<clickhouse>
    <s3>
        <broken_s3>
            <endpoint>http://resolver:8083/root/data/</endpoint>
            <retry_attempts>0</retry_attempts>
            <request_timeout_ms>20000</request_timeout_ms>
        </broken_s3>
    </s3>

    <enable_system_unfreeze>true</enable_system_unfreeze>
    <allow_remove_stale_moving_parts>true</allow_remove_stale_moving_parts>
</clickhouse>
